{if $gallery}
{section loop=$gallery name=g}
<div class="slider">
  {section loop=$gallery[g].gImages name=i}
  <div class="slider__item" data-img="/data/gallery/{$gallery[g].gImages[i].image}" data-alt="{$gallery[g].gImages[i].title}">
    <div class="slider__item-img" style="background-image: url(/data/gallery/{$gallery[g].gImages[i].image})"></div>
  </div>
  {/section}
  
</div>
{/section}
{/if}

