<div class="page__left">
  <!--<a href="#" class="btn page__left-learn">{$btn_traning}</a> -->

  <div class="page__dot-wrap" id="page__dot-wrap"></div>

  <div class="page__left-mouse"></div>

  <div class="page__left-social">
  {if $current_lang == 'en' || $current_lang == 'ru' }
    <a class="page__left-social-item" href="http://www.facebook.com/pages/Xiamen-Pagoda-Build-Co-LTD/214424148615132">f</a>   
    <a class="page__left-social-item" href="https://www.youtube.com/user/XiamenPagodaBuild">Y</a>
  {/if}

    <!-- <a class="page__left-social-item" href="#">В</a>
    <a class="page__left-social-item" href="#">t</a> -->
  </div>
</div>
