<nav class="header__nav">
  {section name=m loop=$menu_points}
  
  <!--{$menu_points[m].link|var_dump} 
  {$smarty.server.REQUEST_URI|var_dump} --> 
  <a href="{$menu_points[m].link}" class="header__nav-item
      {if $menu_points[m].type == 'aux' and  $show_aux_page == $menu_points[m].type_point}
      header__nav-item_active
      {/if} 
      {if $smarty.server.REQUEST_URI == '/page/reviews.html' and $menu_points[m].link == '/page/about.html'   }
      header__nav-item_active
      {/if}
      {if $smarty.server.REQUEST_URI == '/page/reviews.html' and $menu_points[m].link == '/en/page/about.html'   }
      header__nav-item_active
      {/if}
      {if $smarty.server.REQUEST_URI == '/page/reviews.html' and $menu_points[m].link == '/ch/page/about.html'   }
      header__nav-item_active
      {/if}
      {if $smarty.server.REQUEST_URI == '/blog/' and $menu_points[m].link == '/blog' }
      header__nav-item_active
      {/if}
       {if $smarty.server.REQUEST_URI == '/en/blog/' and $menu_points[m].link == '/en/blog' }
      header__nav-item_active
      {/if} 
      {if $smarty.server.REQUEST_URI == '/ch/blog/' and $menu_points[m].link == '/ch/blog' }
      header__nav-item_active
      {/if}
      
      {if $smarty.server.REQUEST_URI|@strstr:'blog' and $menu_points[m].link == '/blog'}
      header__nav-item_active
      {/if} 
      {if $smarty.server.REQUEST_URI|@strstr:'blog' and $menu_points[m].link == '/en/blog'}
      header__nav-item_active
      {/if}
      {if $smarty.server.REQUEST_URI|@strstr:'blog' and $menu_points[m].link == '/ch/blog'}
      header__nav-item_active
      {/if}
      
      {if $menu_points[m].type == 'cats' and  $smarty.get.categoryID == $menu_points[m].type_point}
      header__nav-item_active
      {/if}
      {if $menu_points[m].type == 'free' and  $smarty.server.REQUEST_URI == $menu_points[m].type_point}
      header__nav-item_active
      {/if}">{$menu_points[m].anchor}</a>
  {/section}
</nav>
