.calc {
	position: relative;
	margin: 0px auto;
	width: 1500px;
	height: 300px;
	transition: transform .2s;
	&__wrap {
		overflow: hidden;
		margin-left: -25px;
		padding-top: 20px;
	}
	&__main,
	&__select,
	&__final {
		position: relative;
		width: 250px;
		float: left;
		padding: 0 70px;
	}
	&__list {
		border-bottom: 2px dotted #000;
		&-item {
			font-size: 14px;
			font-weight: 700;
			height: 36px;
			line-height: 36px;
			vertical-align: middle;
			cursor: pointer;
			margin-bottom: 10px;
			&:hover {
				color: #b69c64;
			}
		}
	}
	&__btn {
		position: relative;
		height: 30px;
		border-bottom: 2px dotted #000;
		line-height: 30px;
		vertical-align: middle;
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			right: 10px;
			top: 13px;
			display: inline-block;
			width: 9px;
			height: 6px;
			margin: 0 0 2px 5px;
			background: url("../img/ico/arrow-bot_black.png") no-repeat 0 0;
		}
		&:hover {
			color: #b69c64;
		}
		&_dis {
			opacity: .4;
			&:hover {
				color: #000;
			}
		}
	}
	&__select &__btn:after {
		background: url("../img/ico/arrow-top_black.png") no-repeat 0 0;
	}
	&__submit {
		position: absolute;
		top: 220px;
		left: 70px;
		display: inline-block;
		width: 250px;
		height: 40px;
		background-color: #000;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		&_dis {
			opacity: .4;
		}
	}
	&__final {
		font-size: 14px;
		&-row {
			display: inline-block;
			width: 300px;
		}
		&-key {
			float: left;
			width: 180px;
			margin-left: -40px;
			text-align: right;
		}
		&-val {
			float: left;
			margin-left: 15px;
			color: #b69c64;
			font-weight: 700;
		}
		&-big {
			text-transform: uppercase;
			font-weight: 900;
			margin-top: 20px;
			font-size: 12px;
			display: inline-block;
		}
		&-big &-val {
			font-size: 14px;
		}
	}
}