.catalog {
	&__block {
		position: absolute;
		top: 0;
		opacity: 0;
		transition: opacity .2s;
		width: 53%;
		z-index: 0;
		&_active {
			opacity: 1;
			z-index: 1;
		}
	}
	&__title {
		font-size: 52px;
		font-weight: 900;
		line-height: 52px;
	}
	&__name {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 900;
	}
	&__image {
		position: absolute;
		top: 250px;
		width: 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
		
		& text {
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__svg {
		position: absolute;
		transform-origin: 0 0;
		top: 250px;
		left: 0;
	}
	&__more {
		position: absolute;
		top: 300px;
		left: 0;
	}
	&__aside {
		columns: 2;
		&-list {
			display: none;
			&_active {
				display: block;
			}
		}
		&-img {
			width: 400px;
			height: 140px;
			display: inline-block;
			position: relative;
			z-index: 2;
			background-size: cover;
			&-block {
				position: relative;
				line-height: 0;
				font-size: 0;
				margin-bottom: 25px;
				margin-top: 20px;
				&:after {
					content: "";
					position: absolute;
					top: -20px;
					left: -20px;
					width: 100%;
					height: 100%;
					border: 2px solid #b69c64;
				}
			}
		}
		&:after {
			border-right: none !important;
			right: 125px !important;
			width: 165px !important;
		}
		&-item {
			display: inline-block;
			margin-right: 22px;
			width: 160px;
			height: 36px;
			border-bottom: 2px solid #cfcfcf;
			line-height: 40px;
			vertical-align: middle;
			font-size: 12px;
			font-weight: 900;
			text-transform: uppercase;
			cursor: pointer;
			&_active,
			&:hover {
				color: #b69c64;
				border-color: #b69c64;
			}
		}
		&-title {
			position: absolute;
			text-transform: uppercase;
			left: -2px;
			top: -30px;
			font-size: 12px;
			font-weight: 900;
			color: #000;
			cursor: pointer;
			&_active {
				font-size: 18px;
				color: #b69c64;
			}
			&:hover {
				color: #b69c64;
			}
			&_r {
				left: auto;
				right: -2px;
			}
		}
	}
	&__fullimg {
		background-size: cover;
		margin-bottom: 30px;
	}
	&__price {
		font-size: 32px;
		font-weight: 900;
		margin-bottom: 40px;
	}
	&__like {
		margin-right: -2px;
		margin-left: -2px;
		display: inline-block;
		margin-bottom: 50px;
		width: 100%;
		&-item {
			width: 25%;
			padding: 0 2px;
			float: left;
			text-decoration: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

		}
		&-name {
			color: #000;
			font-weight: 700;
		}
		&-img {
			width: 100%;
		}
		&-item:hover &-img {
			outline: 2px solid #b69c64;
			margin-left: -2px;
			margin-top: -2px;
			margin-bottom: -2px;
			border: 2px solid transparent;
		}
		&-item:hover &-name {
			color: #b69c64;
		}
	}
	&__project {
		display: inline-block;
		width: 100%;
		margin-bottom: 60px;
		
		&-img {
			position: relative;
			font-size: 0;
			line-height: 0;
			& img {
				position: relative;
				z-index: 1;
			}
			&:before {
				content: "";
				position: absolute;
				left: 20px;
				top: 20px;
				border: 2px solid #b69c64;
				width: 100%;
				height: 100%;
				z-index: 0;
			}
		}
		&-text {
			margin-top: 20px;
		}

		&_left &-img {
			float: left;
		}
		&_left &-text {
			margin-left: 320px;
		}
		&_right &-img {
			float: right;
		}
		&_right &-text {
			margin-right: 320px;
		}
	}
	&__scroll {
		opacity: 0;
		transition: opacity .5s;
		&_show {
			opacity: 1;
		}
		&-item {
			position: relative;
			font-size: 12px;
			margin-bottom: 15px;
			font-weight: 700;
			cursor: pointer;
			&:before {
				content: "";
				display: inline-block;
				width: 6px;
				height: 6px;
				border-radius: 6px;
				border: 1px solid #000;
				margin-right: 10px;
			}
			&_active,
			&:hover {
				color: #b69c64;
				&:before {
					border-color: #b69c64;
				}
			}
		}
	}
	&__youtube {
		float: right;
		margin-top: 40px;
		height: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #000;
		font-size: 12px;
		line-height: 14px;
		width: 102px;
		padding-left: 82px;
		background: url(../img/youtube.png) no-repeat 0 0;
		&:hover {
			color: #b69c64;
		}
	}
	&__mainlink:hover text {
		fill: #b69c64;
	}
}