.feedback {
	margin-top: 20px;
	margin-bottom: 50px;
	&__image {
		float: left;
		border: 2px solid #c0aa7a;
		border-radius: 50px;
		margin-top: -20px;
		margin-left: -7px;
		&-img {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			margin: 5px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}
	&__name {
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__desc {
		margin-left: 110px;
		font-size: 12px;
		line-height: 18px;
	}
	&__text {
		position: relative;
		display: inline-block;
		font-weight: 700;
		font-style: italic;
		font-size: 16px;
		line-height: 24px;
		margin-top: 12px;
		padding: 6px 32px;
		// width: 100%;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 21px;
			height: 23px;
			background: url(../img/ico/feed_l.png) no-repeat 0 0;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 21px;
			height: 23px;
			background: url(../img/ico/feed_r.png) no-repeat 0 0;
		}
	}
	&__aside {
		border: 2px solid #b69c64;
		height: 280px;
		padding: 30px;
		&-num {
			font-size: 40px;
			font-weight: 900;
			line-height: 40px;
		}
		&-block {
			margin-top: 30px;
			font-size: 14px;
			line-height: 18px;
		}
		&-img {
			position: absolute;
			bottom: 0;
			right: -33px;
		}
	}
}