.main {
	&__title {
		width: 53%;
		&-min {
			font-size: 29px;
			font-weight: 400;
			color: #000;
		}
	}
	&__project {
		height: 122px;
		position: relative;
		&-block {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transform: translateY(-50px) scale(.96);
			transition: opacity .55s, transform .8s;
			&_active {
				opacity: 1;
				transform: translateY(0) scale(1) skew(0deg);
			}
			&_del {
				transform: translateY(50px) scale(.96);
				transition: opacity .55s, transform .8s;
			}
		}
		&-image {
			float: left;
			position: relative;
			line-height: 0;
			font-size: 0;
			margin-top: -18px;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 2px solid #b69c64;
				margin-left: -18px;
				margin-top: -18px;
				z-index: 0;
			}
		}
		&-img {
			position: relative;
			width: 158px;
			z-index: 1;
		}
		&-text {
			margin-left: 190px;
		}
		&-title {
			color: #b69c64;
			font-size: 14px;
			margin-bottom: 10px;
		}
		&-ico {
			margin-top: 56px;
			float: left;
			&n {
				margin-bottom: 6px;
			}
		}
		&-desc {
			margin-top: 82px;
			float: right;
			text-align: right;
			font-size: 14px;
			line-height: 18px;
		}
		&-num {
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 15px;
		}
		&-big {
			font-size: 14px;
			line-height: 22px;
			font-weight: 900;
			text-transform: uppercase;
		}
	}
	
	
	
	&__content {
		position: absolute;
		width: 53%;
		top: 122px;
		height: 100%;
		&-title {
			position: absolute;
			opacity: 0;
			top: 35px;
			left: 80px;
			font-size: 14px;
			font-weight: 700;
			height: 28px;
			line-height: 28px;
			text-transform: uppercase;
			background-color: #fff;
			display: inline-block;
			white-space: nowrap;
			padding: 0 10px;
			transform: translateX(-50%);
			transition: opacity .2s, transform .3s;
		}
		&-link {
			font-size: 14px;
			line-height: 22px;
			font-weight: 700;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			&:after {
				content: "";
				display: inline-block;
				width: 9px;
				margin-left: 5px;
				height: 6px;
				background: url(../img/ico/arrow-bot_black.png) no-repeat 0 0;
			}
		}
		&-img {
			background-repeat: no-repeat; 
			background-position: 50% 50%;
			background-size: cover;
			width: 100%;
			height: 100%;
			cursor: pointer;
			&:hover {
				border: 4px solid #fff;
				margin-left: -4px;
				margin-top: -4px;
				outline: 3px solid #b69c64;
				& .main__content-title {
					opacity: 1;
					transform: translateX(0%);
				}
			}
		}
		&-item {
			position: absolute;
			width: 25%;
			border: 2px solid transparent;
			border-top: none;
			border-bottom: 4px solid transparent;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			z-index: 2;
			&:hover {
				z-index: 5;
			}
			&_1 {
				left: 0;
				top: 0;
				height: 25%;
			}
			&_2 {
				left: 0;
				top: 25%;
				height: 25%;
			}
			&_3 {
				left: 25%;
				top: 0px;
				height: 50%;
			}
			&_4 {
				left: 50%;
				top: 0px;
				height: 25%;
			}
			&_5 {
				left: 50%;
				top: 25%;
				height: 50%;
			}
			&_6 {
				left: 75%;
				top: 25%;
				height: 50%;
			}
			&_7 {
				left: 25%;
				top: 50%;
				height: 25%;
			}
			&_all {
				left: 0;
				top: 50%;
				height: 40px;
				line-height: 40px;
			}
		}
	}
}