.page {
	
	&_popup {
		overflow: hidden;
	}
	&__block {
		margin-top: 45px;
	}
	&__content {
		padding: 0 30px;
	}

	&__bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url(./img/main_bg.jpg) no-repeat 0 0;
		background-size: cover;
	}
	
	&__menu {
		margin-top: 82px;
		&-item {
			display: inline-block;
			width: 100%;
			height: 50px;
			border-bottom: 2px solid #e5e5e5;
			text-decoration: none;
			line-height: 52px;
			font-size: 12px;
			font-weight: 700;
			vertical-align: middle;
			text-transform: uppercase;
			color: #000;
			&:active {
				color: #b69d67;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		&-lang {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 50px;
			font-size: 12px;
			font-weight: 700;
			border-top: 2px dashed #000;
			border-bottom: 2px dashed #000;
			text-transform: uppercase;
			text-align: left;
			color: #b69d67;
			&-item {
				display: inline-block;
				width: 100%;
				height: 50px;
				border-bottom: 2px solid #e5e5e5;
				text-decoration: none;
				line-height: 52px;
				font-size: 12px;
				font-weight: 700;
				vertical-align: middle;
				text-transform: uppercase;
				color: #b69d67;
				&:last-child {
					border-color: #000;
				}
			}
			&-list {
				display: none;
				&_active {
					& .page__menu-lang-list {
						display: block;
					}
					& .page__menu-lang-corner {
						transform: rotate(-135deg);
					}
				}
			}
			&-corner {
				width: 5px;
				height: 5px;
				display: inline-block;
				position: absolute;
				right: 15px;
				top: 20px;
				margin-left: 6px;
				border-right: 2px solid #b69d67;
				border-bottom: 2px solid #b69d67;
				transform: rotate(45deg);
				margin-bottom: 3px;
			}
		}
	}
	&__btn {
		height: 46px;
		display: inline-block;
		width: 100%;
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		border: 2px solid #ccc;
		color: #000;
		text-decoration: none;
		margin-bottom: 40px;
		&-trgl {
			display: inline-block;
			vertical-align: middle;
			border: 6px solid transparent;
			border-right: 6px solid #000;
			margin-right: 6px;
			margin-top: -2px;
		}
		&-corner {
			width: 5px;
			height: 5px;
			display: inline-block;
			margin-left: 6px;
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
			transform: rotate(45deg);
			margin-bottom: 3px;
		}
	}
}