<div class="blog__aside">
  <div class="blog__image">
    <img src="/data/{$smarty.const.TPL}/../images/2016_06_20/image-blog.jpg">
  </div>
  <div class="blog__desc">
    <div class="blog__desc-date">16 05 16</div>
    <a class="blog__desc-title" href="./blog-in.html">Покупка мраморных слябов в Китае.<br>Простой и понятный способ</a>
  </div>
</div>