<div id="catalog__scroll" class="catalog__scroll ">
  {if $productimage != ''}
  <div class="catalog__aside-img-block">
    <img class="catalog__aside-img" style="background-image: url(/data/big/{$productimage})"></div>
  </div>
  {/if}
</div>