.person {
	margin-top: 88px;
	margin-bottom: 70px;
	&__name {
		margin-top: 40px;
		font-weight: 900;
		font-size: 22px;
		text-transform: uppercase;
		color: #b69c64;
	}
	&__block {
		position: relative;
		margin-right: 20px;
		height: 122px;
		border-top: 2px solid #b69c64;
		border-bottom: 2px solid #b69c64;
		margin-bottom: 15px;
	}
	&__img {
		position: absolute;
		right: -10px;
		bottom: 0;
	}
}