html,body {
	height: 100%;
}
body {
	font-family: "Geometria";
	line-height: 24px;
	font-size: 16px;
}
a {
	color: #b69c64;
}
b, strong {
	font-weight: 700;
}
.like_h1,
h1 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 900;
	color: #b69c64;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.h1_min {
	color: #000;
	font-weight: 400;
}

h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 900;
	color: #b69c64;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 20px;
}
h3 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

ul,ol {
	margin: 20px 0 30px;
}
li {
	margin-bottom: 15px;
	padding-left: 20px;
	position: relative;
}
ul li:before {
	content: "▪";
	position: absolute;
	left: 0;
	top: 0px;
	color: #b69c64;
}


.row {
	display: inline-block;
	width: 100%;
	margin-left: -10px;
	margin-right: -10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.half {
	width: 50%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
