.footer {
	position: relative;
	margin-top: 82px;
	height: 160px;

	&__right {
		position: absolute;
		right: 30px;
		width: 184px;
	}
	&__learn {
		position: absolute;
		left: 30px;
		top: -48px;
		height: 44px;
		width: 160px;
		text-align: center;
		vertical-align: middle;
		line-height: 44px;
		border: 2px solid #b69d67;
		border-right: none;
		text-decoration: none;
		color: #000;
		font-weight: 900;
		font-size: 12px;
		text-transform: uppercase;
		transform: rotate(90deg);
		transform-origin: 0 48px;
	}
	&__feed {
		width: 100%;
		margin-bottom: 18px;
	}
	&__tel {
		font-weight: 700;
		vertical-align: middle;
		margin-bottom: 18px;
		&:before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 22px;
			vertical-align: middle;
			margin-right: 10px;
			background: url(./img/ico/phone.png)
		}
	}
	&__social {
		display: flex;
  		justify-content: space-between; 
		&-item {
			display: inline-block;
			width: 38px;
			height: 38px;
			border: 2px solid #b69d67;
			border-radius: 50%;
			line-height: 40px;
			vertical-align: middle;
			text-decoration: none;
			font-weight: 700;
			font-size: 18px;
			text-align: center;
		}
	}
}