.calc {
	position: relative;
	margin: 70px auto 0;
	width: 1500px;
	height: 300px;
	transition: transform .2s;
	&__wrap {
		overflow: hidden;
		margin-left: -25px;
		padding-top: 20px;
	}
	&__main,
	&__select,
	&__final {
		position: relative;
		width: 270px;
		float: left;
		padding: 0 25px;
	}
	&__page-btn {
		width: 100%;
		font-family: "Geometria";
		background-color: transparent;
		border: 2px solid #b69c64;
		color: #000;
		height: 46px;
		line-height: 46px;
		font-weight: 900;
		margin: -10px 0 15px;
		&:active {
			background-color: #b69c64;
		}
	}
	&__list {
		border-bottom: 2px dotted #000;
		&-item {
			font-size: 14px;
			font-weight: 700;
			height: 36px;
			line-height: 36px;
			vertical-align: middle;
			cursor: pointer;
			margin-bottom: 10px;
			&:hover {
				color: #b69c64;
			}
		}
	}
	&__btn {
		position: relative;
		height: 35px;
		border-bottom: 2px dotted #000;
		line-height: 35px;
		vertical-align: middle;
		margin-bottom: 15px;
		font-size: 15px;
		font-weight: 700;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			right: 19px;
			top: 13px;
			display: inline-block;
			width: 5px;
			height: 5px;
			border-right: 3px solid #b69d67;
			border-bottom: 3px solid #b69d67;
			transform: rotate(45deg);
			margin-bottom: 1px;
			margin-left: 5px;
		}
		&:hover {
			color: #b69c64;
		}
		&_dis {
			opacity: .4;
			&:hover {
				color: #000;
			}
		}
	}
	&__select &__btn:after {
		transform: rotate(-45deg);
	}
	&__submit {
		position: absolute;
		top: 220px;
		left: 25px;
		display: inline-block;
		width: 270px;
		height: 40px;
		background-color: #000;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		&_dis {
			opacity: .4;
		}
	}
	&__final {
		font-size: 14px;
		&-row {
			display: inline-block;
			width: 300px;
		}
		&-key {
			float: left;
			width: 180px;
			margin-left: -40px;
			text-align: right;
		}
		&-val {
			float: left;
			margin-left: 15px;
			color: #b69c64;
			font-weight: 700;
		}
		&-big {
			text-transform: uppercase;
			font-weight: 900;
			margin-top: 20px;
			font-size: 12px;
			display: inline-block;
		}
		&-big &-val {
			font-size: 14px;
		}
	}
}
#popup__calc {
	overflow: hidden;
	& .popup__content {
		padding: 0;
	}
}