body {
	font-family: "Geometria";
	min-width: 1200px;
}
h2 {
	font-size: 42px;
	color: #b69c64;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}


.header {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	height: 114px;
	z-index: 200;
	-webkit-transform: translateZ(0);
	&__content {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		height: 114px;
	}
	&__learn {
		position: absolute;
		bottom: 22px;
		left: -4px;
		height: 36px;
		width: 74px;
		transform-origin: 40px 0;
		transform: rotate(90deg);
		background-color: #b69c64;
		padding: 0 12px;
		text-align: center;
		line-height: 40px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		transition: background-color .2s;
		&:active {
			background-color: #000;
		}
	}
	&__logo {
		position: absolute;
		left: 80px;
		bottom: 0;
		&_min {
			display: none;
			position: absolute;
			top: 23px;
			left: 0;
		}
	}
	&__nav {
		position: absolute;
		right: 148px;
		top: 50px;
		margin-left: 240px;
		
		&-item {
			font-weight: bold;
			font-size: 12px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			border-left: 2px solid #999;
			height: 9px;
			display: inline-block;
			padding: 0 15px 0 17px;
			&:hover {
				color: #b69c64;
			}
			&:first-child {
				border: none;
			}
		}
	}
	&__lang {
		position: absolute;
		right: 0;
		top: -4px;
		height: 100px;
		width: 65px;
		border: 2px solid #b69c64;
		border-top: none;
		overflow: hidden;
		transition: height .4s, border-color .4s;
		&-in {
			position: absolute;
			top: 51px;
			left: 0;
			width: 70px;
			text-align: center;
		}
		&-link {
			position: relative;
			display: inline-block;
			width: 70px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			font-size: 12px;
			line-height: 24px;
			transform: translateX(-100px);
			transition: transform .4s;
			color: #fff;
			margin-left: -15px;
			height: 26px;
			vertical-align: middle;
			&:before {
				content: "";
				position: absolute;
				right: 14px;
				top: -3px;
				width: 32px;
				height: 0;
				border-top: 2px solid #d7d7d7;
			}
			&:after {
				content: "";
				position: absolute;
				right: 14px;
				top: 7px;
				display: inline-block;
				width: 4px;
				margin-left: 3px;
				height: 4px;
				transform: rotate(135deg)
				border-right: 2px solid #fff;
				border-top: 2px solid #fff;
				transition: transform .2s;
			}
			&:hover {
				color: #b69c64;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
			}
			&_current {
				transform: translateX(0);
				color: #b69c64;
				line-height: 24px;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
				&:before {
					border: none;
				}
			}
		}
		&_active {
			height: 146px;
			border-color: #000;
		}
		&_active &-link {
			transform: translateX(0);
			&:after {
				top: 9px;
				transform: rotate(-45deg)
			}
		}
	}
	&__feedback {
		display: none;
		position: absolute;
		top: 26px;
		right: 89px;
		text-align: center;
		width: 185px;
		height: 36px;
	}

	&_min {
		background-color: #fff;
		height: 75px;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
	&_min &__content {
		height: 75px;
	}
	&_min &__logo {
		display: none;
		&_min {
			display: block;
		}
	}
	&_min &__learn {
		display: none;
	}
	&_min &__nav {
		right: 332px;
		top: 37px;
	}
	&_min &__feedback {
		display: block;
	}
	&_min &__lang {
		top: -39px;
		background-color: #fff;
		&-in {
			top: 73px;
		}
		&_active {
			height: 155px;
		}
		&-link {
			color: #b69c64;
			&:after {
				border-color: #b69c64;
			}
		}
	}
	&_min &__nav-item {
		color: #000;
		&:hover {
			color: #b69c64;
		}
	}
}



.content {
	width: 1200px;
	margin: 0 auto;
}

.top {
	position: relative;
	height: 525px;
	// background: url(../img/index-top.jpg) no-repeat 50% 50%;
	// background-size: cover;
	// background-color: #aaa;
	overflow: hidden;
	text-align: center;
	&__video {
		
		position: absolute;
		left: 50%;
		margin-left: -960px;
		// height: 525px;
		width: 1920px;
		opacity: 1;
		z-index: 0;
	}
	&__bg {
		position: absolute;
		left: 50%;
		margin-left: -960px;
		height: 525px;
		background-color: rgba(0,0,0,.4);
		width: 1920px;
		z-index: 5;
	}
	&__title {
		position: relative;
		margin-top: 217px;
		display: inline-block;
		color: #b69c64;
		font-size: 52px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 62px;
		z-index: 10;
		&_min {
			color: #fff;
			font-weight: 400;
		}
	}
	&__mouse {
		position: absolute;
		left: 50%;
		bottom: 54px;
		width: 18px;
		height: 29px;
		border: 2px solid #fff;
		border-radius: 9px 9px 10px 10px;
		z-index: 10;
		&:before {
			content: "";
			width: 2px;
			height: 6px;
			position: absolute;
			top: 6px;
			left: 8px;
			background-color: #fff;
			box-shadow: 0 0 1px rgba(0,0,0,.5);
		}
	}
}

.advantage {
	&__text {
		padding: 63px 0;
		text-align: center;
		width: 827px;
		border-bottom: 2px dotted #999;
		margin: 0 auto;
		font-size: 16px;
		line-height: 24px;
	}
	&__cols {
		padding: 63px 0;
	}
	&__row {
		display: inline-block;
		width: 100%;
		margin-top: 60px;
	}
	&__col {
		width: 20%;
		float: left;
		text-align: center;
		&-name {
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			margin-top: 20px;
			line-height: 22px;
		}
	}
}
.stone {
	padding: 63px 0;
	text-align: center;
	background: url(../img/index-stones.jpg) no-repeat 50% 0;
	background-size: cover;
	&__all {
		font-weight: 700;
		margin-top: 30px;
		color: #000;
		display: block;
		text-decoration: none;
		&:after {
			content: "";
			display: inline-block;
			width: 4px;
			height: 4px;
			margin-left: 5px;
			margin-bottom: 2px;
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
			transform: rotate(45deg);
		}
		&:hover {
			color: #b69c64;
			&:after {
				border-color: #b69c64;
			}
		}
	}
	&__title {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		left: 50%;
		background-color: rgba(0,0,0,.5);
		padding: 10px;
		line-height: 20px;
		font-size: 16px;
		top: 20px;
		color: #fff;
		border: 2px solid #b69c64;
		transition: opacity .2s;
		transform: translateX(-50%);
	}
	
	&__img {
		position: relative;
		float: left;
		width: 168px;
		margin: 0 4px 0 0;
		height: 160px;
		background-color: rgba(100,0,0,.5);
		background-size: cover;
		text-decoration: none;
		&:last-child {
			margin-right: 0;
		}
		&s {
			max-width: 1200px;
			display: inline-block !important;
			width: auto;
			margin: 40px auto 0;
		}
		&:hover .stone__title {
			opacity: 1;
		}
	}
}
// .team {
// 	padding: 63px 0 0;
// 	text-align: center;
// 	&__video {
// 		position: absolute;
// 		height: 320px;
// 		bottom: 0;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		&-wrap {
// 			height: 320px;
// 			width: 962px;
// 			margin: 0 auto;
// 		}
// 	}
// 	&__block {
// 		position: relative;
// 		width: 240px;
// 		height: 320px;
// 		text-align: center;
// 		float: left;
// 	}
// 	&__info {
// 		padding: 47px;
// 		font-size: 16px;
// 		line-height: 24px;
// 		background: url(../img/index-stones.jpg) no-repeat 50% 0;
// 		background-size: cover;
// 	}
// 	&__text {
// 		display: none;
// 		&_show {
// 			display: block;
// 		}
// 	}
// }
.numbers {
	text-align: center;
	padding: 63px 0;
	&__col {
		float: left;
		font-size: 14px;
		line-height: 18px;
		&-wrap {
			display: inline-block;
			margin-top: 60px;
		}
		&_1 {width: 200px;}
		&_2 {width: 180px;}
		&_3 {width: 347px;}
		&_4 {width: 200px;}
		&_5 {width: 165px;}
	}
	&__title {
		font-size: 40px;
		line-height: 40px;
		font-weight: 900;
	}
}
.slider {
	&__wrap {
		position: relative;
	}

	&__border {
		position: absolute;
		width: 1115px;
		top: 0;
		left: 0;
		bottom: 20px;
		border: 2px solid #b69c64;
		border-bottom: none;
		z-index: 100;
		pointer-events: none;
		&-left {
			position: absolute;
			bottom: 0;
			height: 0;
			left: 0;
			width: 434px;
			border-bottom: 2px solid #b69c64;
		}
		&-right {
			position: absolute;
			bottom: 0;
			height: 0;
			right: 0;
			border-bottom: 2px solid #b69c64;
		}
	}
	&__item {
		position: relative;
		overflow: hidden;
		min-height: 300px;
	}
	&__text {
		margin: 40px 80px 60px;
		width: 460px;
		font-size: 14px;
		line-height: 20px;
	}
	&__title {
		font-size: 22px;
		line-height: 28px;
		color: #b69c64;
		font-weight: 900;
		text-transform: uppercase;
		margin: 12px 0 22px;
		display: inline-block;
		text-decoration: none;
		
	}
	&__img {
		position: absolute;
		left: 630px;
		top: 20px;
		max-height: 100%;
		width: auto !important;
	}
	& .owl {
		&-dots {
			position: absolute;
			bottom: 17px;
			left: 444px;
		}
		&-dot {
			border: 2px solid #999;
			border-radius: 4px;
			height: 4px;
			width: 4px;
			float: left;
			margin-right: 8px;
			&.active {
				background-color: #b69c64;
				border-color: #b69c64;
			}
		}
		&-next,
		&-prev {
			position: absolute;
			top: 50%;
			height: 50px;
			width: 50px;
			background-color: rgba(0,0,0,.5);
			border-radius: 50%;
			margin-top: -25px;
			opacity: 0;
			transition: opacity .5s;
			&:after {
				content: "";
				position: absolute;
				left: 17px;
				top: 17px;
				width: 13px;
				height: 13px;
				border-top: 2px solid #aeb5b9;
				border-right: 2px solid #aeb5b9;
			}
		}
		&-prev {
			left: 15px;
			&:after {
				left: 20px;
				transform: rotate(-135deg);
			}
		}
		&-next {
			right: 15px;
			&:after {
				left: 14px;
				transform: rotate(45deg);
			}
		}
		&-prev:hover:after,
		&-next:hover:after {
			border-color: #fff;
		}
	}
	&:hover .owl-next,
	&:hover .owl-prev {
		opacity: 1;
	}
	&_stone {
		position: relative;
		display: inline-block;
		width: 100%;
		&-name {
			position: absolute;
			left: 50px;
			top: 44px;
			background-color: #fff;
			padding: 5px 20px;
			z-index: 5;
			font-size: 22px;
			text-transform: uppercase;
			white-space: nowrap;
			font-family: "Geometria";
			font-weight: 900;
		}
		& .slider__block {
			position: relative;
			width: 800px;
			height: 450px;
			margin: 60px 0;
			float: left;
			&:after {
				content: "";
				position: absolute;
				right: 230px;
				top: 0;
				height: 340px;
				width: 1200px;
				border: 2px solid #b69c64;
				border-left: none;
				pointer-events: none;
			}
		}
		& .slider__item {
			height: 400px;
			line-height: 400px;
			text-align: center;
			vertical-align: middle;
			&-stone {
				max-height: 380px;
				width: auto !important;
				margin: 30px auto;
			}
		}
		& .owl-dots {
			opacity: 0;
		}
		& .slider__mini {
			width: 280px;
			float: right;
			text-align: right;
			margin: 50px 76px 60px 0;
			&-all {
				position: relative;
				font-weight: bold;
				text-transform: uppercase;
				font-family: "Geometria";
				font-size: 12px;
				float: right;
				margin-right: 76px;
				color: #000;
				text-decoration: none;
				padding-right: 16px;
				&:hover {
					color: #b69c64;
				}
				&:before {
					content: "";
					position: absolute;
					right: 5px;
					top: 3px;
					width: 4px;
					height: 4px;
					border-right: 2px solid;
					border-top: 2px solid;
					transform: rotate(45deg);
				}
			}
			& .owl-dots {
				opacity: 1;
				left: 138px;
				bottom: -14px;
			}
			& .owl-prev {
				left: -70px;
			}
			& .owl-next {
				right: -70px;
			}
			&-item {
				position: relative;
				width: 50px;
				height: 50px;
				display: inline-block;
				margin: 10px 10px 10px 10px;
				background-position: 30% 30%;
				cursor: pointer;
				&:after {
					content: "";
					position: absolute;
					left: -6px;
					top: -6px;
					right: -6px;
					bottom: -6px;
					pointer-events: none;
				}
				&_active:after,
				&:hover:after {
					outline: 2px solid #b69c64;
				}
			}
		}
		
	}
}

.last {
	padding: 70px 0;
	
	&__half {
		&-wrap {
			display: inline-block;
		}
		width: 600px;
		float: left;
	}
	&__item {
		position: relative;
		width: 272px;
		border: 2px solid #b69c64;
		padding: 25px 25px 25px 168px;
		&_news {
			margin-left: 100px;
		}
		&_blog {
			margin-left: 60px;
		}
		&-img {
			position: absolute;
			top: 20px;
			left: -30px;
			max-width: 160px;
		}
		&-sub {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 8px;
		}
		&-title {
			font-weight: 900;
			font-size: 14px;
			line-height: 22px;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: #b69c64;
			}
		}
	}
	&__all {
		position: absolute;
		left: 157px;
		bottom: -15px;
		height: 20px;
		text-transform: uppercase;
		color: #000;
		font-weight: bold;
		font-size: 12px;
		text-decoration: none;
		background-color: #fff;
		padding: 0 20px 0 10px;
		&:after {
			content: "";
			position: absolute;
			right: 10px;
			top: 3px;
			display: inline-block;
			width: 3px;
			height: 3px;
			transform: rotate(45deg);
			border-right: 2px solid #000;
			border-top: 2px solid #000;
		}
	}
	&__item_blog &__all {
		left: 159px;
	}
}
.footer {
	padding: 0 0 60px;
	text-align: center;
	&__phone {
		line-height: 40px;
		height: 40px;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: -6px;
		margin-left: 60px;
		vertical-align: middle;
		text-align: left;
		position: relative;
		&:before {
			content: "";
			width: 10px;
			height: 28px;
			margin-right: 5px;
			display: inline-block;
			background: url(../img/ico/phone.png) no-repeat 0 0;
			vertical-align: middle;
		}
		&-min {
			font-size: 10px;
			position: absolute;
			top: 16px;
			left: 16px;
		}
	}
}
.social {
	text-align: right;
	vertical-align: middle;
	margin-right: 27px;
	&__item {
		border: 2px solid #b69c64;
		border-radius: 17px;
		width: 30px;
		height: 30px;
		line-height: 34px;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		text-decoration: none;
		color: #b69c64;
		margin-top: 10px;
		font-weight: 700;
		font-size: 18px;
		margin: 0 5px;
		background-color: transparent;
		transition: background-color .2s, color .2s;
		&:hover {
			color: #fff;
			background-color: #b69c64;
		}
	}
}


.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	border: 3px solid #b69c64;
	z-index: 2500;
	width: 650px;
	padding: 25px;
	margin-left: -350px;
	margin-top: -250px;
	display: none;
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2000;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	&__title {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__close {
		top: 10px;
		right: 20px;
		z-index: 10;
		cursor: pointer;
	}
}

.write__content {
	position: relative;
    top: auto;
    left: auto;
    transform: none;
    display: none;
    padding: 10px 10px 5px;
}
.write__content_show {
    opacity: 1;
    display: block !important;
}
.write__textarea {
	height: 100px;
}





.team{
	overflow: hidden;
	height: 430px;
	position: relative;
	white-space: nowrap;
	&__wrapper {
		width: 100%;
		position: absolute;
		top: 50px;
		text-align: center;
	}
	&__video {
		height: 350px;
	}
	&__video-frame {
		width: 250px;
		height: 350px;
	}
	&__video_1,
	&__video_2,
	&__video_3,
	&__video_4,
	&__video_5 {
		margin-left: -5px;
		margin-right: -5px;
		border-color: transparent;
		color: transparent;
		background-color: transparent;
	}
	
	&__desc{
		opacity: 0;
		position: absolute;
		pointer-events: none;
		z-index: 1;
		top: 0px;
		left: 20px;
		padding: 25px 25px 25px 250px;
		border: 4px solid #b69c64
		width: 500px;
		text-align: left;
		white-space: normal;
		background-color: rgba(255, 255, 255, .4);
		color: #000;
		transform: scale(.9, .8);
		transition: opacity .3s, transform .4s;

		background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, .6) 38%, rgba(255, 255, 255, .6) 100%);
		background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, .6) 38%, rgba(255, 255, 255, .6) 100%);
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, .6) 38%, rgba(255, 255, 255, .6) 100%);

		&_right {
			padding: 25px 250px 25px 25px;
			left: auto;
			right: 20px;
			background: -moz-linear-gradient(left, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, .6) 62%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, .6) 62%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, .6) 62%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0) 100%);
		}
	}
	&__title {
		font-size: 28px;
		line-height: 33px;
		font-weight: bold;
	}
	&__position {
		font-size: 18px;
		line-height: 24px;
	}
	&__text {
		position: relative;
		margin-top: 20px;
		font-size: 16px;
    	line-height: 20px;
		&:after {
			content: "";
			position: absolute;
			top: -4px;
			left: -57px;
			width: 40px;
			height :37px;
			background: url(../img/main/quotes_l.png) no-repeat 0 0;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: -2px;
			right: -36px;
			width: 24px;
			height: 23px;
			background: url(../img/main/quotes_r.png) no-repeat 0 0;
		}
	}
	&__video {
		filter: url(#blur);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		transition: filter .5s, -webkit-filter .5s;
	}
	&__member {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		max-width: 295px;
		position: relative;
		height: 375px;

		&:hover .team__desc {
			opacity: 1;
			transform: scale(1, 1);
		}
		&_blur .team__video {
			-webkit-filter: blur(8px);
			filter: blur(8px);
		}
	}
	&__more {
		position: absolute;
		bottom: -21px;
		left: 50%;
		z-index: 5;
		margin-left: -163px;
	}
}
