.btn {
	display: inline-block;
	background-color: #b69c64;
	padding: 0 12px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	transition: background-color .2s;
}
.btn:hover {
	background-color: #000;
}
.btn:active {
	background-color: #999;
}