html,body {
	height: 100%;
	font-family: "Geometria";
}
body {
	overflow-y: hidden;
	line-height: 24px;
	font-size: 16px;
	min-width: 1200px;
}
a {
	color: #b69c64;
}
b, strong {
	font-weight: 700;
}
h1 {
	font-size: 42px;
	font-weight: 900;
	color: #b69c64;
	text-transform: uppercase;
	line-height: 52px;
	margin-bottom: 25px;
}
h2 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 900;
	color: #b69c64;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 20px;
}
h3 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

ul,ol {
	margin: 20px 0 30px;
}
li {
	margin-bottom: 15px;
	padding-left: 20px;
	position: relative;
}
ul li:before {
	content: "▪";
	position: absolute;
	left: 0;
	top: 0px;
	color: #b69c64;
}


.row {
	display: inline-block;
	width: 100%;
	margin-left: -10px;
	margin-right: -10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.half {
	width: 50%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


table {
	border-spacing: 4px 2px;
    border-collapse: separate;
}
td {
	border-bottom: 2px solid #ccc;
}
