.feedback {
	&__contact {
		position: relative;
		margin-top: 50px;
		height: 96px;
		border-top: 2px solid #b69d67;
		border-bottom: 2px solid #b69d67;
		margin-bottom: 20px;
		&-name {
			display: inline-block;
			font-size: 18px;
			font-weight: 900;
			text-transform: uppercase;
			color: #b69d67;
			line-height: 24px;
			margin-top: 26px;
		}
		&-img {
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: 120px;
		}
	}
}
