.main {
	&__slider {
		&-border {
			position: absolute;
			top: 0px;
			left: 30px;
			right: 30px;
			bottom: 20px;
			border: 2px solid #b69c64;
			border-bottom: none;
			pointer-events: none;
			&:after {
				content: "";
				position: absolute;
				right: -2px;
				bottom: -12px;
				width: 20px;
				height: 10px;
				border-right: 2px solid #b69c64;
				border-bottom: 2px solid #b69c64;
				
			}
			&-dop {
				position: relative;
				top: 30px;
				left: 30px;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				color: #000;
				&:after {
					content: "";
					display: inline-block;
					width: 4px;
					height: 4px;
					border-right: 2px solid #000;
					border-bottom: 2px solid #000;
					transform: rotate(-45deg);
					margin-bottom: 1px;
					margin-left: 5px;
				}
			}
		}
		&_stone {
			position: relative;
			& .main__slider-nums {
				position: absolute;
				left: 40px;
				bottom: 0px;
				font-weight: bold;
			}
			& .main__slider-cur {
				color: #b69d67;
			}
			& .slider__dots {
				display: none;
			}
			& .slider__item {
				margin-bottom: 30px;
			}
			& .main__slider-border:after {
				width: 72%;
			}
			
		}
		& .slider__dots {
			top: -5px;
		}
		& .slider__dot-line {
			background-color: #b69c64;
		}
		&_no-line .slider__dot-line {
			display: none;
		}
		&-item {
			position: relative;
			margin-bottom: 15px;
		}
		&-img {
			height: 230px;
			background-size: cover;
		}
		&-title {
			display: inline-block;
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			padding: 20px 60px;
		}
		&-subtitle {
			padding: 10px 60px;
			margin-bottom:-25px;
		}
	}
	&__slider2 {
		&-item {
			position: relative;
			height: 170px;
		}
		&-num {
			position: absolute;
			right: 30px;
			top: 0;
			text-align: right;
			font-size: 14px;
			line-height: 18px;
		}
		&-big {
			font-size: 28px;
			font-weight: 900;
			line-height: 28px;
		}
		&-txt {
			position: absolute;
			left: 30px;
			bottom: 0;
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 21px;
		}
		&-ico {
			position: absolute;
			right: 30px;
			bottom: 0;
		}
		& .slider__dots {
			top: -80px;
		}
	}
}