.slider {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	&__wrap {
		overflow: hidden;
		position: relative;
	}
	&__item {
		float:left;
		position: relative;
		margin-right: 20px;
		& .page__btn {
			margin-bottom: 10px;
		}
		
	}
	&__img {
		width: 100%;
		display: inline-block;
		height: 160px;
		background-size: cover;
		background-position: 50% 50%;
		background-color: #ddd;
	}
	&__dot {
		display: inline-block;
		width: 4px;
		height: 4px;
		border: 2px solid #999;
		border-radius: 4px;
		margin-right: 8px;
		&s {
			margin: 0 30px;
			position: relative;
			height: 8px;
			line-height: 8px;
		}
		&_active {
			border: 2px solid #b69d67;
			background-color: #b69d67;
		}
		&-line {
			height: 2px;
			position: absolute;
			right: 0;
			top: 3px;
			background-color: rgba(0,0,0,.2);
		}
	}
}