@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Heavy.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}