.slider {
	width: 100%;
	display: inline-block;
	margin-left: -4px;
	margin-right: -4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&__item {
		width: 33.33333333%;
		float: left;
		padding: 4px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		&:hover {
			outline: 2px solid #b69c64;
		}
		&-img {
			background-size: cover;
			width: 100%;
			height: 150px;
		}
	}
}