/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {padding-bottom: 10px;}
b,strong {font-weight: bold;}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	padding: 0;
	background: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	outline: none;
}
sup {
	vertical-align: super;
    font-size: 60%;
}
.btn {
	display: inline-block;
	background-color: #b69c64;
	padding: 0 12px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	transition: background-color .2s;
}
.btn:hover {
	background-color: #000;
}
.btn:active {
	background-color: #999;
}
.write__line{margin:20px 0 5px}.write__back{position:absolute;left:100px;top:0;font-size:12px;font-weight:900;color:#000;text-transform:uppercase;text-decoration:none;letter-spacing:1px;}.write__back:hover{color:#b69c64}.write__back:after{content:"";display:inline-block;width:9px;height:6px;margin:0 0 2px 5px;background:url("../img/ico/arrow-top_black.png") no-repeat 0 0}.write__x{position:absolute;top:0;right:0;font-size:40px;color:#000;text-transform:uppercase;text-decoration:none;}.write__x:hover{color:#b69c64}.write__content{position:absolute;top:50%;left:0;transform:translateY(-50%);width:650px;font-size:14px;line-height:20px;opacity:0;transition:opacity .4s;}.write__content_show{opacity:1}.write__content h1{margin-bottom:15px}.write__errortext{color:#f00;font-size:14px;margin:5px 0;display:none}.write__form{margin:10px 0 0}.write__input{height:35px;width:276px;margin-right:42px;background:none;border:none;border-bottom:2px dotted #999;outline:none;color:#b69c64;font-weight:700;font-size:14px;}.write__input::-webkit-input-placeholder{color:#999}.write__input::-moz-placeholder{color:#999}.write__input:-moz-placeholder{color:#999}.write__input:-ms-input-placeholder{color:#999}.write__input_err{border-bottom-color:#f96a43;}.write__input_err::-webkit-input-placeholder{color:#f96a43}.write__input_err::-moz-placeholder{color:#f96a43}.write__input_err:-moz-placeholder{color:#f96a43}.write__input_err:-ms-input-placeholder{color:#f96a43}.write__textarea{margin-top:25px;width:600px;resize:none;height:35px;line-height:20px;font-weight:500;}.write__textarea_hid{position:absolute;top:0;left:-50000px;width:600px;line-height:20px;font-weight:500}.write__submit{margin-top:20px;color:#fff;background-color:#000;width:248px;height:40px;line-height:38px;vertical-align:middle;border:none;font-weight:900;font-size:12px;text-transform:uppercase;letter-spacing:1px;cursor:pointer}
body{font-family:"Geometria";min-width:1200px}h2{font-size:42px;color:#b69c64;text-align:center;font-weight:900;text-transform:uppercase}.header{position:fixed;left:0;top:0;width:100%;height:114px;z-index:200;-webkit-transform:translateZ(0);}.header__content{position:relative;max-width:1200px;margin:0 auto;height:114px}.header__learn{position:absolute;bottom:22px;left:-4px;height:36px;width:74px;transform-origin:40px 0;transform:rotate(90deg);background-color:#b69c64;padding:0 12px;text-align:center;line-height:40px;color:#fff;text-decoration:none;text-transform:uppercase;font-size:12px;font-weight:400;transition:background-color .2s;}.header__learn:active{background-color:#000}.header__logo{position:absolute;left:80px;bottom:0;}.header__logo_min{display:none;position:absolute;top:23px;left:0}.header__nav{position:absolute;right:148px;top:50px;margin-left:240px;}.header__nav-item{font-weight:bold;font-size:12px;color:#fff;text-decoration:none;text-transform:uppercase;border-left:2px solid #999;height:9px;display:inline-block;padding:0 15px 0 17px;}.header__nav-item:hover{color:#b69c64}.header__nav-item:first-child{border:none}.header__lang{position:absolute;right:0;top:-4px;height:100px;width:65px;border:2px solid #b69c64;border-top:none;overflow:hidden;transition:height .4s,border-color .4s;}.header__lang-in{position:absolute;top:51px;left:0;width:70px;text-align:center}.header__lang-link{position:relative;display:inline-block;width:70px;text-transform:uppercase;text-decoration:none;font-weight:700;font-size:12px;line-height:24px;transform:translateX(-100px);transition:transform .4s;color:#fff;margin-left:-15px;height:26px;vertical-align:middle;}.header__lang-link:before{content:"";position:absolute;right:14px;top:-3px;width:32px;height:0;border-top:2px solid #d7d7d7}.header__lang-link:after{content:"";position:absolute;right:14px;top:7px;display:inline-block;width:4px;margin-left:3px;height:4px;transform:rotate(135deg);border-right:2px solid #fff;border-top:2px solid #fff;transition:transform .2s}.header__lang-link:hover{color:#b69c64;}.header__lang-link:hover:after{border-right:2px solid #b69c64;border-top:2px solid #b69c64}.header__lang-link_current{transform:translateX(0);color:#b69c64;line-height:24px;}.header__lang-link_current:after{border-right:2px solid #b69c64;border-top:2px solid #b69c64}.header__lang-link_current:before{border:none}.header__lang_active{height:146px;border-color:#000}.header__lang_active .header__lang-link{transform:translateX(0);}.header__lang_active .header__lang-link:after{top:9px;transform:rotate(-45deg)}.header__feedback{display:none;position:absolute;top:26px;right:89px;text-align:center;width:185px;height:36px}.header_min{background-color:#fff;height:75px;box-shadow:0 0 10px rgba(0,0,0,0.4)}.header_min .header__content{height:75px}.header_min .header__logo{display:none;}.header_min .header__logo_min{display:block}.header_min .header__learn{display:none}.header_min .header__nav{right:332px;top:37px}.header_min .header__feedback{display:block}.header_min .header__lang{top:-39px;background-color:#fff;}.header_min .header__lang-in{top:73px}.header_min .header__lang_active{height:155px}.header_min .header__lang-link{color:#b69c64;}.header_min .header__lang-link:after{border-color:#b69c64}.header_min .header__nav-item{color:#000;}.header_min .header__nav-item:hover{color:#b69c64}.content{width:1200px;margin:0 auto}.top{position:relative;height:525px;overflow:hidden;text-align:center;}.top__video{position:absolute;left:50%;margin-left:-960px;width:1920px;opacity:1;z-index:0}.top__bg{position:absolute;left:50%;margin-left:-960px;height:525px;background-color:rgba(0,0,0,0.4);width:1920px;z-index:5}.top__title{position:relative;margin-top:217px;display:inline-block;color:#b69c64;font-size:52px;font-weight:900;text-transform:uppercase;line-height:62px;z-index:10;}.top__title_min{color:#fff;font-weight:400}.top__mouse{position:absolute;left:50%;bottom:54px;width:18px;height:29px;border:2px solid #fff;border-radius:9px 9px 10px 10px;z-index:10;}.top__mouse:before{content:"";width:2px;height:6px;position:absolute;top:6px;left:8px;background-color:#fff;box-shadow:0 0 1px rgba(0,0,0,0.5)}.advantage__text{padding:63px 0;text-align:center;width:827px;border-bottom:2px dotted #999;margin:0 auto;font-size:16px;line-height:24px}.advantage__cols{padding:63px 0}.advantage__row{display:inline-block;width:100%;margin-top:60px}.advantage__col{width:20%;float:left;text-align:center;}.advantage__col-name{font-size:14px;font-weight:900;text-transform:uppercase;margin-top:20px;line-height:22px}.stone{padding:63px 0;text-align:center;background:url("../img/index-stones.jpg") no-repeat 50% 0;background-size:cover;}.stone__all{font-weight:700;margin-top:30px;color:#000;display:block;text-decoration:none;}.stone__all:after{content:"";display:inline-block;width:4px;height:4px;margin-left:5px;margin-bottom:2px;border-bottom:2px solid #000;border-right:2px solid #000;transform:rotate(45deg)}.stone__all:hover{color:#b69c64;}.stone__all:hover:after{border-color:#b69c64}.stone__title{opacity:0;pointer-events:none;position:absolute;left:50%;background-color:rgba(0,0,0,0.5);padding:10px;line-height:20px;font-size:16px;top:20px;color:#fff;border:2px solid #b69c64;transition:opacity .2s;transform:translateX(-50%)}.stone__img{position:relative;float:left;width:168px;margin:0 4px 0 0;height:160px;background-color:rgba(100,0,0,0.5);background-size:cover;text-decoration:none;}.stone__img:last-child{margin-right:0}.stone__imgs{max-width:1200px;display:inline-block !important;width:auto;margin:40px auto 0}.stone__img:hover .stone__title{opacity:1}.numbers{text-align:center;padding:63px 0;}.numbers__col{float:left;font-size:14px;line-height:18px;}.numbers__col-wrap{display:inline-block;margin-top:60px}.numbers__col_1{width:200px}.numbers__col_2{width:180px}.numbers__col_3{width:347px}.numbers__col_4{width:200px}.numbers__col_5{width:165px}.numbers__title{font-size:40px;line-height:40px;font-weight:900}.slider__wrap{position:relative}.slider__border{position:absolute;width:1115px;top:0;left:0;bottom:20px;border:2px solid #b69c64;border-bottom:none;z-index:100;pointer-events:none;}.slider__border-left{position:absolute;bottom:0;height:0;left:0;width:434px;border-bottom:2px solid #b69c64}.slider__border-right{position:absolute;bottom:0;height:0;right:0;border-bottom:2px solid #b69c64}.slider__item{position:relative;overflow:hidden;min-height:300px}.slider__text{margin:40px 80px 60px;width:460px;font-size:14px;line-height:20px}.slider__title{font-size:22px;line-height:28px;color:#b69c64;font-weight:900;text-transform:uppercase;margin:12px 0 22px;display:inline-block;text-decoration:none}.slider__img{position:absolute;left:630px;top:20px;max-height:100%;width:auto !important}.slider .owl-dots{position:absolute;bottom:17px;left:444px}.slider .owl-dot{border:2px solid #999;border-radius:4px;height:4px;width:4px;float:left;margin-right:8px;}.slider .owl-dot.active{background-color:#b69c64;border-color:#b69c64}.slider .owl-next,.slider .owl-prev{position:absolute;top:50%;height:50px;width:50px;background-color:rgba(0,0,0,0.5);border-radius:50%;margin-top:-25px;opacity:0;transition:opacity .5s;}.slider .owl-next:after,.slider .owl-prev:after{content:"";position:absolute;left:17px;top:17px;width:13px;height:13px;border-top:2px solid #aeb5b9;border-right:2px solid #aeb5b9}.slider .owl-prev{left:15px;}.slider .owl-prev:after{left:20px;transform:rotate(-135deg)}.slider .owl-next{right:15px;}.slider .owl-next:after{left:14px;transform:rotate(45deg)}.slider .owl-prev:hover:after,.slider .owl-next:hover:after{border-color:#fff}.slider:hover .owl-next,.slider:hover .owl-prev{opacity:1}.slider_stone{position:relative;display:inline-block;width:100%;}.slider_stone-name{position:absolute;left:50px;top:44px;background-color:#fff;padding:5px 20px;z-index:5;font-size:22px;text-transform:uppercase;white-space:nowrap;font-family:"Geometria";font-weight:900}.slider_stone .slider__block{position:relative;width:800px;height:450px;margin:60px 0;float:left;}.slider_stone .slider__block:after{content:"";position:absolute;right:230px;top:0;height:340px;width:1200px;border:2px solid #b69c64;border-left:none;pointer-events:none}.slider_stone .slider__item{height:400px;line-height:400px;text-align:center;vertical-align:middle;}.slider_stone .slider__item-stone{max-height:380px;width:auto !important;margin:30px auto}.slider_stone .owl-dots{opacity:0}.slider_stone .slider__mini{width:280px;float:right;text-align:right;margin:50px 76px 60px 0;}.slider_stone .slider__mini-all{position:relative;font-weight:bold;text-transform:uppercase;font-family:"Geometria";font-size:12px;float:right;margin-right:76px;color:#000;text-decoration:none;padding-right:16px;}.slider_stone .slider__mini-all:hover{color:#b69c64}.slider_stone .slider__mini-all:before{content:"";position:absolute;right:5px;top:3px;width:4px;height:4px;border-right:2px solid;border-top:2px solid;transform:rotate(45deg)}.slider_stone .slider__mini .owl-dots{opacity:1;left:138px;bottom:-14px}.slider_stone .slider__mini .owl-prev{left:-70px}.slider_stone .slider__mini .owl-next{right:-70px}.slider_stone .slider__mini-item{position:relative;width:50px;height:50px;display:inline-block;margin:10px 10px 10px 10px;background-position:30% 30%;cursor:pointer;}.slider_stone .slider__mini-item:after{content:"";position:absolute;left:-6px;top:-6px;right:-6px;bottom:-6px;pointer-events:none}.slider_stone .slider__mini-item_active:after,.slider_stone .slider__mini-item:hover:after{outline:2px solid #b69c64}.last{padding:70px 0;}.last__half{width:600px;float:left}.last__half-wrap{display:inline-block}.last__item{position:relative;width:272px;border:2px solid #b69c64;padding:25px 25px 25px 168px;}.last__item_news{margin-left:100px}.last__item_blog{margin-left:60px}.last__item-img{position:absolute;top:20px;left:-30px;max-width:160px}.last__item-sub{font-size:14px;line-height:18px;margin-bottom:8px}.last__item-title{font-weight:900;font-size:14px;line-height:22px;color:#000;text-transform:uppercase;text-decoration:none;}.last__item-title:hover{color:#b69c64}.last__all{position:absolute;left:157px;bottom:-15px;height:20px;text-transform:uppercase;color:#000;font-weight:bold;font-size:12px;text-decoration:none;background-color:#fff;padding:0 20px 0 10px;}.last__all:after{content:"";position:absolute;right:10px;top:3px;display:inline-block;width:3px;height:3px;transform:rotate(45deg);border-right:2px solid #000;border-top:2px solid #000}.last__item_blog .last__all{left:159px}.footer{padding:0 0 60px;text-align:center;}.footer__phone{line-height:40px;height:40px;font-size:16px;font-weight:700;margin-bottom:-6px;margin-left:60px;vertical-align:middle;text-align:left;position:relative;}.footer__phone:before{content:"";width:10px;height:28px;margin-right:5px;display:inline-block;background:url("../img/ico/phone.png") no-repeat 0 0;vertical-align:middle}.footer__phone-min{font-size:10px;position:absolute;top:16px;left:16px}.social{text-align:right;vertical-align:middle;margin-right:27px;}.social__item{border:2px solid #b69c64;border-radius:17px;width:30px;height:30px;line-height:34px;text-align:center;vertical-align:middle;display:inline-block;text-decoration:none;color:#b69c64;margin-top:10px;font-weight:700;font-size:18px;margin:0 5px;background-color:transparent;transition:background-color .2s,color .2s;}.social__item:hover{color:#fff;background-color:#b69c64}.popup{position:fixed;top:50%;left:50%;background:#fff;border:3px solid #b69c64;z-index:2500;width:650px;padding:25px;margin-left:-350px;margin-top:-250px;display:none;}.popup__overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);display:none}.popup__title{font-size:24px;text-transform:uppercase;font-weight:bold;margin-bottom:10px}.popup__close{top:10px;right:20px;z-index:10;cursor:pointer}.write__content{position:relative;top:auto;left:auto;transform:none;display:none;padding:10px 10px 5px}.write__content_show{opacity:1;display:block !important}.write__textarea{height:100px}.team{overflow:hidden;height:430px;position:relative;white-space:nowrap;}.team__wrapper{width:100%;position:absolute;top:50px;text-align:center}.team__video{height:350px}.team__video-frame{width:250px;height:350px}.team__video_1,.team__video_2,.team__video_3,.team__video_4,.team__video_5{margin-left:-5px;margin-right:-5px;border-color:transparent;color:transparent;background-color:transparent}.team__desc{opacity:0;position:absolute;pointer-events:none;z-index:1;top:0;left:20px;padding:25px 25px 25px 250px;border:4px solid #b69c64;width:500px;text-align:left;white-space:normal;background-color:rgba(255,255,255,0.4);color:#000;transform:scale(.9,.8);transition:opacity .3s,transform .4s;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 28%,rgba(255,255,255,0.6) 38%,rgba(255,255,255,0.6) 100%);background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 28%,rgba(255,255,255,0.6) 38%,rgba(255,255,255,0.6) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 28%,rgba(255,255,255,0.6) 38%,rgba(255,255,255,0.6) 100%);}.team__desc_right{padding:25px 250px 25px 25px;left:auto;right:20px;background:-moz-linear-gradient(left,rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 62%,rgba(255,255,255,0) 72%,rgba(255,255,255,0) 100%);background:-webkit-linear-gradient(left,rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 62%,rgba(255,255,255,0) 72%,rgba(255,255,255,0) 100%);background:linear-gradient(to right,rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 62%,rgba(255,255,255,0) 72%,rgba(255,255,255,0) 100%)}.team__title{font-size:28px;line-height:33px;font-weight:bold}.team__position{font-size:18px;line-height:24px}.team__text{position:relative;margin-top:20px;font-size:16px;line-height:20px;}.team__text:after{content:"";position:absolute;top:-4px;left:-57px;width:40px;height:37px;background:url("../img/main/quotes_l.png") no-repeat 0 0}.team__text:before{content:"";position:absolute;bottom:-2px;right:-36px;width:24px;height:23px;background:url("../img/main/quotes_r.png") no-repeat 0 0}.team__video{filter:url("#blur");-webkit-filter:blur(0);filter:blur(0);transition:filter .5s,-webkit-filter .5s}.team__member{display:inline-block;vertical-align:top;width:20%;max-width:295px;position:relative;height:375px;}.team__member:hover .team__desc{opacity:1;transform:scale(1,1)}.team__member_blur .team__video{-webkit-filter:blur(8px);filter:blur(8px)}.team__more{position:absolute;bottom:-21px;left:50%;z-index:5;margin-left:-163px}