.header {
	position: relative;
	height: 90px;
	&__logo {
		position: absolute;
		left: 30px;
		top: 12px;
		&-img {
			height: 77px;
		}
	}
	&__menu {
		&-btn {
			position: absolute;
			top: 0;
			right: 30px;
			height: 88px;
			width: 44px;
			border: 2px solid #b69d67;
			border-top: none;
		}
		&-ico {
			position: absolute;
			bottom: 14px;
			left: 11px;
			width: 18px;
			height: 12px;
			border-top: 2px solid #000;
			border-bottom: 2px solid #000;
			&:after {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				width: 18px;
				height: 2px;
				background-color: #000;
			}
		}
	}
}