body {
	font-family: "Geometria";
}
h2 {
	font-size: 42px;
	color: #b69c64;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}

.header {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	height: 114px;
	z-index: 200;
	-webkit-transform: translateZ(0);
	&__content {
		position: relative;
		width: 1200px;
		margin: 0 auto;
		height: 114px;
	}
	&__learn {
		position: absolute;
		bottom: 22px;
		left: -4px;
		height: 36px;
		width: 74px;
		transform-origin: 40px 0;
		transform: rotate(90deg);
		background-color: #b69c64;
		padding: 0 12px;
		text-align: center;
		line-height: 40px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		transition: background-color .2s;
		&:active {
			background-color: #000;
		}
	}
	&__logo {
		position: absolute;
		left: 80px;
		bottom: 0;
		&_min {
			display: none;
			position: absolute;
			top: 23px;
			left: 0;
		}
	}
	&__nav {
		position: absolute;
		right: 148px;
		top: 50px;
		&-item {
			font-weight: bold;
			font-size: 12px;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			border-left: 2px solid #999;
			height: 9px;
			display: inline-block;
			padding: 0 15px 0 17px;
			&:hover {
				color: #b69c64;
			}
			&:first-child {
				border: none;
			}
		}
	}
	&__lang {
		position: absolute;
		right: 0;
		top: -4px;
		height: 100px;
		width: 65px;
		border: 2px solid #b69c64;
		border-top: none;
		overflow: hidden;
		transition: height .4s, border-color .4s;
		&-in {
			position: absolute;
			top: 51px;
			left: 0;
			width: 70px;
			text-align: center;
		}
		&-link {
			position: relative;
			display: inline-block;
			width: 70px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			font-size: 12px;
			line-height: 24px;
			transform: translateX(-100px);
			transition: transform .4s;
			color: #000;
			margin-left: -15px;
			height: 26px;
			vertical-align: middle;
			&:before {
				content: "";
				position: absolute;
				right: 14px;
				top: -3px;
				width: 32px;
				height: 0;
				border-top: 2px solid #d7d7d7;
			}
			&:after {
				content: "";
				position: absolute;
				right: 14px;
				top: 7px;
				display: inline-block;
				width: 4px;
				margin-left: 3px;
				height: 4px;
				transform: rotate(135deg)
				border-right: 2px solid #000;
				border-top: 2px solid #000;
				transition: transform .2s;
			}
			&:hover {
				color: #b69c64;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
			}
			&_current {
				transform: translateX(0);
				color: #b69c64;
				line-height: 24px;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
				&:before {
					border: none;
				}
			}
		}
		&_active {
			height: 146px;
			border-color: #000;
		}
		&_active &-link {
			transform: translateX(0);
			&:after {
				top: 9px;
				transform: rotate(-45deg)
			}
		}
	}
	&__feedback {
		display: none;
		position: absolute;
		top: 26px;
		right: 89px;
		text-align: center;
		width: 185px;
		height: 36px;
	}

	&_min {
		background-color: #fff;
		height: 75px;
	}
	&_min &__content {
		height: 75px;
	}
	&_min &__logo {
		display: none;
		&_min {
			display: block;
		}
	}
	&_min &__learn {
		display: none;
	}
	&_min &__nav {
		right: 332px;
		top: 37px;
	}
	&_min &__feedback {
		display: block;
	}
	&_min &__lang {
		top: -39px;
		background-color: #fff;
		&-in {
			top: 73px;
		}
		&_active {
			height: 155px;
		}
	}
}



.content {
	width: 1200px;
	margin: 0 auto;
}

.top {
	position: relative;
	height: 525px;
	background: url(../img/index-top.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
	&__title {
		margin-top: 217px;
		display: inline-block;
		color: #b69c64;
		font-size: 52px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 62px;
		&_min {
			color: #000;
			font-weight: 400;
		}
	}
	&__mouse {
		position: absolute;
		left: 50%;
		bottom: 54px;
		width: 18px;
		height: 29px;
		border: 2px solid #000;
		border-radius: 9px 9px 10px 10px;
		&:before {
			content: "";
			width: 2px;
			height: 6px;
			position: absolute;
			top: 6px;
			left: 8px;
			background-color: #000;
			box-shadow: 0 0 1px rgba(0,0,0,.5);
		}
	}
}

.advantage {
	&__text {
		padding: 63px 0;
		text-align: center;
		width: 827px;
		border-bottom: 2px dotted #999;
		margin: 0 auto;
		font-size: 16px;
		line-height: 24px;
	}
	&__cols {
		padding: 63px 0;
	}
	&__row {
		display: inline-block;
		width: 100%;
		margin-top: 60px;
	}
	&__col {
		width: 20%;
		float: left;
		text-align: center;
		&-name {
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
			margin-top: 20px;
			line-height: 22px;
		}
	}
}
.stone {
	padding: 63px 0;
	text-align: center;
	background: url(../img/index-stones.jpg) no-repeat 50% 0;
	background-size: cover;
	&__all {
		font-weight: 700;
		margin-top: 30px;
		color: #000;
		display: block;
		text-decoration: none;
		&:after {
			content: "";
			display: inline-block;
			width: 4px;
			height: 4px;
			margin-left: 5px;
			margin-bottom: 2px;
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
			transform: rotate(45deg);
		}
		&:hover {
			color: #b69c64;
			&:after {
				border-color: #b69c64;
			}
		}
	}
	&__img {
		float: left;
		margin: 0 2px;
		&s {
			margin-top: 40px;
			display: inline-block;
		}
	}
}
.team {
	padding: 63px 0 0;
	text-align: center;
	&__video {
		position: absolute;
		height: 320px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		&-wrap {
			height: 320px;
			width: 1200px;
			margin: 0 auto;
		}
	}
	&__block {
		position: relative;
		width: 240px;
		height: 320px;
		text-align: center;
		float: left;
	}
	&__info {
		padding: 47px;
		font-size: 16px;
		line-height: 24px;
		background: url(../img/index-stones.jpg) no-repeat 50% 0;
		background-size: cover;
	}
}
.numbers {
	text-align: center;
	padding: 63px 0;
	&__col {
		float: left;
		font-size: 14px;
		line-height: 18px;
		&-wrap {
			display: inline-block;
			margin-top: 60px;
		}
		&_1 {width: 200px;}
		&_2 {width: 180px;}
		&_3 {width: 347px;}
		&_4 {width: 200px;}
		&_5 {width: 165px;}
	}
	&__title {
		font-size: 40px;
		line-height: 40px;
		font-weight: 900;
	}
}
.slider {
	&__wrap {
		position: relative;
	}
	&__border {
		position: absolute;
		width: 1115px;
		top: 0;
		left: 0;
		bottom: 20px;
		border: 2px solid #b69c64;
		border-bottom: none;
		z-index: 100;
		pointer-events: none;
		&-left {
			position: absolute;
			bottom: 0;
			height: 0;
			left: 0;
			width: 434px;
			border-bottom: 2px solid #b69c64;
		}
		&-right {
			position: absolute;
			bottom: 0;
			height: 0;
			right: 0;
			border-bottom: 2px solid #b69c64;
		}
	}
	&__item {
		position: relative;
		overflow: hidden;
		min-height: 300px;
	}
	&__text {
		margin: 40px 80px 60px;
		width: 460px;
		font-size: 14px;
		line-height: 20px;
	}
	&__title {
		font-size: 22px;
		line-height: 28px;
		color: #b69c64;
		font-weight: 900;
		text-transform: uppercase;
		margin: 12px 0 22px;
	}
	&__img {
		position: absolute;
		left: 630px;
		top: 20px;
		max-height: 100%;
		width: auto !important;
	}
	& .owl {
		&-dots {
			position: absolute;
			bottom: 17px;
			left: 444px;
		}
		&-dot {
			border: 2px solid #999;
			border-radius: 4px;
			height: 4px;
			width: 4px;
			float: left;
			margin-right: 8px;
			&.active {
				background-color: #b69c64;
				border-color: #b69c64;
			}
		}
		&-next,
		&-prev {
			position: absolute;
			top: 50%;
			height: 50px;
			width: 50px;
			background-color: rgba(0,0,0,.5);
			border-radius: 50%;
			margin-top: -25px;
			opacity: 0;
			transition: opacity .5s;
			&:after {
				content: "";
				position: absolute;
				left: 17px;
				top: 17px;
				width: 13px;
				height: 13px;
				border-top: 2px solid #aeb5b9;
				border-right: 2px solid #aeb5b9;
			}
		}
		&-prev {
			left: 15px;
			&:after {
				left: 20px;
				transform: rotate(-135deg);
			}
		}
		&-next {
			right: 15px;
			&:after {
				left: 14px;
				transform: rotate(45deg);
			}
		}
		&-prev:hover:after,
		&-next:hover:after {
			border-color: #fff;
		}
	}
	&:hover .owl-next,
	&:hover .owl-prev {
		opacity: 1;
	}
}

.last {
	padding: 70px 0;
	
	&__half {
		&-wrap {
			display: inline-block;
		}
		width: 600px;
		float: left;
	}
	&__item {
		position: relative;
		width: 272px;
		border: 2px solid #b69c64;
		padding: 25px 25px 25px 168px;
		&_news {
			margin-left: 100px;
		}
		&_blog {
			margin-left: 60px;
		}
		&-img {
			position: absolute;
			top: 20px;
			left: -30px;
			max-width: 160px;
		}
		&-sub {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 8px;
		}
		&-title {
			font-weight: 900;
			font-size: 14px;
			line-height: 22px;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: #b69c64;
			}
		}
	}
}
.footer {
	padding: 0 0 60px;
	text-align: center;
	&__phone {
		display: inline-block;
		line-height: 40px;
		height: 40px;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: -6px;
		margin-left: 54px;
		vertical-align: middle;
		&:before {
			content: "";
			width: 10px;
			height: 28px;
			margin-right: 5px;
			display: inline-block;
			background: url(../img/ico/phone.png) no-repeat 0 0;
			vertical-align: middle;
		}
	}
}
.social {
	display: inline-block;
	vertical-align: middle;
	margin-left: 38px;
	&__item {
		border: 2px solid #b69c64;
		border-radius: 17px;
		width: 30px;
		height: 30px;
		line-height: 34px;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		text-decoration: none;
		color: #b69c64;
		margin-top: 10px;
		font-weight: 700;
		font-size: 18px;
		margin: 0 5px;
		background-color: transparent;
		transition: background-color .2s, color .2s;
		&:hover {
			color: #fff;
			background-color: #b69c64;
		}
	}
}