.popup {
	position: fixed;
	z-index: 600;
	width: 100%;
	top: 0;
	left: 100%;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0;
	transform: translateX(0);
	overflow: scroll;
	transition: transform .6s, opacity .4s;
	&_open {
		transform: translateX(-100%);
		opacity: 1;
	}
	&__content {
		padding: 0 30px;
	}
	&__close {
		position: absolute;
		right: 30px;
		top: 30px;
		font-size: 26px;
		text-transform: uppercase;
		z-index: 999;
	}
	
}
