<div class="page__block page__content">
	<h1>О нас</h1>
	<p><b>Pagoda-Build</b> – это в первую очередь команда профессионалов. Каждый менеджер – это высококвалифицированный специалист в своей сфере с соответствующим опытом работы и личными качествами, позволяющими ему максимально эффективно выполнять свои обязанности.</p>
</div>
