<div class="page__block page__content">
	<h1>Блог о камне</h1>

	<div class="blog__tabs">
		<a href="#" class="blog__tab">
			о камне
		</a>
		<a href="#" class="blog__tab blog__tab_active">
			Новости
		</a>
	</div>

	<div class="blog">
		<a href="./blog-in.html">
			<img src="./img/tmp/blog1.jpg" class="blog__img">
		</a>
		<div class="blog__date">16 05 16</div>
		<a class="blog__title" href="./blog-in.html">70 Образцов популярных образцов гранита и мрамора из Китая</a>
	</div>
	<div class="blog">
		<a href="./blog-in.html">
			<img src="./img/tmp/blog1.jpg" class="blog__img">
		</a>
		<div class="blog__date">16 05 16</div>
		<a class="blog__title" href="./blog-in.html">70 Образцов популярных образцов гранита и мрамора из Китая</a>
	</div>
	<div class="blog__hr">2015</div>
	<div class="blog">
		<a href="./blog-in.html">
			<img src="./img/tmp/blog1.jpg" class="blog__img">
		</a>
		<div class="blog__date">16 05 16</div>
		<a class="blog__title" href="./blog-in.html">70 Образцов популярных образцов гранита и мрамора из Китая</a>
	</div>
</div>
