<div class="page__block page__content">
	<div class="dropdown">
		<button class="dropdown__btn">
			Nouble grey
		</button>
		<ul class="dropdown__list">
			<li><a href="#1">Nouble</a></li>
			<li><a href="#2">Grey</a></li>
			<li><a href="#3">Nouble grey 1</a></li>
			<li><a href="#4">Nouble grey 2</a></li>
			<li><a href="#5">Nouble grey 3</a></li>
		</ul>
	</div>
</div>

<div class="slider catalog__slider">
	<div class="slider__wrap">
		<div class="slider__item">
			<img class="slider__img" src="./img/tmp/catalog.jpg">
			<div class="page__content">
				<a href="./catalog-in.html" class="catalog__slider-title">Nouble grey</a>
				<div class="catalog__slider-subtitle">Красный мрамор</div>
			</div>
		</div>
		<div class="slider__item">
			<img class="slider__img" src="./img/tmp/catalog2.jpg">
			<div class="page__content">
				<a href="./catalog-in.html" class="catalog__slider-title">Nouble grey</a>
				<div class="catalog__slider-subtitle">Белый мрамор</div>
			</div>
		</div>
		<div class="slider__item">
			<img class="slider__img" src="./img/tmp/catalog.jpg">
			<div class="page__content">
				<a href="./catalog-in.html" class="catalog__slider-title">Nouble grey</a>
				<div class="catalog__slider-subtitle">Красный мрамор</div>
			</div>
		</div>
		<div class="slider__item">
			<img class="slider__img" src="./img/tmp/catalog2.jpg">
			<div class="page__content">
				<a href="./catalog-in.html" class="catalog__slider-title">Nouble grey</a>
				<div class="catalog__slider-subtitle">Белый мрамор</div>
			</div>
		</div>
	</div>
	<div class="slider__dots"></div>
</div>