<div class="page__block page__content">
	<h1>
		Производство<br>изделий из камня.<br>
		<span class="h1_min">Поставки мрамора<br>и гранита из китая</span>
	</h1>
</div>

<div class="page__block">
	<div class="slider main__slider main__slider_no-line main__slider_stone" data-type="stone">
		<div class="slider__wrap">
			<div class="slider__item main__slider-item">
				<span class="main__slider-title">Rainbow Jade</span>
				<div class="main__slider-img" style="background-image: url(./img/Photo.png)"></div>
			</div>
			<div class="slider__item main__slider-item">
				<span class="main__slider-title">Rainbow Jade 2</span>
				<div class="main__slider-img" style="background-image: url(./img/tmp/catalog2.jpg)"></div>
			</div>
			<div class="slider__item main__slider-item">
				<span class="main__slider-title">Rainbow Jade</span>
				<div class="main__slider-img" style="background-image: url(./img/Photo.png)"></div>
			</div>
			<div class="slider__item main__slider-item">
				<span class="main__slider-title">Rainbow Jade 2</span>
				<div class="main__slider-img" style="background-image: url(./img/tmp/catalog2.jpg)"></div>
			</div>
			
		</div>
		<div class="main__slider-nums">
			<span class="main__slider-cur">1</span> из 
			<span class="main__slider-sum">2</span>
		</div>
		<div class="slider__dots"></div>
		<div class="main__slider-border"></div>
	</div>
	<a class="main__slider-border-dop" href="catalog.html">все камни</a>
</div>

<div class="page__block">
	<div class="slider main__slider2">
		<div class="slider__wrap">
			<div class="slider__item">
				<div class="main__slider2-item">
					<div class="main__slider2-num">
						<div class="main__slider2-big">12 000 м<sup>2</sup></div>
						в месяц производительная<br>мощность
					</div>
					<div class="main__slider2-txt">
						собственное<br>производство
					</div>
					<div class="main__slider2-ico">
						<img src="./img/ico/Icon_main_1.svg">
					</div>
				</div>
			</div>
			<div class="slider__item">
				<div class="main__slider2-item">
					<div class="main__slider2-num">
						<div class="main__slider2-big">24 000 м<sup>2</sup></div>
						в месяц производительная<br>мощность
					</div>
					<div class="main__slider2-txt">
						собственное<br>производство
					</div>
					<div class="main__slider2-ico">
						<img src="./img/ico/Icon_main_2.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="slider__dots"></div>
	</div>
</div>

<div class="page__block">
	<div class="slider main__slider">
		<div class="slider__wrap">
			<div class="slider__item main__slider-item">
				<div class="main__slider-img" style="background-image: url(./img/tmp/catalog.jpg)"></div>
				<div class="main__slider-subtitle">Проекты</div>
				<span class="main__slider-title">Лучший мрамор <br>для интерьера частного особняка</span>
			</div>
			<div class="slider__item main__slider-item">
				<div class="main__slider-img" style="background-image: url(./img/tmp/catalog2.jpg)"></div>
				<div class="main__slider-subtitle">Проекты</div>
				<span class="main__slider-title">Лучший мрамор <br>для интерьера</span>
			</div>
		</div>
		<div class="slider__dots"></div>
		<div class="main__slider-border"></div>
	</div>
</div>

<div class="page__block page__content">
	<div class="blog">
		<a href="./blog-in.html">
			<img src="./img/tmp/blog1.jpg" class="blog__img">
		</a>
		<div class="blog__date">16 05 16</div>
		<a class="blog__title" href="./blog-in.html">70 Образцов популярных образцов гранита и мрамора из Китая</a>
	</div>
</div>