.dropdown {
	position: relative;
	&__btn {
		width: 100%;
		height: 47px;
		display: inline-block;
		text-align: left;
		padding-left: 16px;
		text-align: left;
		vertical-align: middle;
		font-size: 12px;
		color: #b69d67;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 900;
		border: 2px solid #b69d67;
		& a {
			text-decoration: none;
			font-weight: 900;
		}
		& img {
			vertical-align: middle;
			max-height: 35px;
		}
		&:after {
			content: "";
			position: absolute;
			right: 19px;
			top: 19px;
			display: inline-block;
			width: 5px;
			height: 5px;
			border-right: 3px solid #b69d67;
			border-bottom: 3px solid #b69d67;
			transform: rotate(45deg);
			margin-bottom: 1px;
			margin-left: 5px;
		}
	}
	&__list {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		border: 2px solid #b69d67;
		background: #fff;
		right: 0;
		list-style: none;
		& li {
			position: relative;
			height: 43px;
			list-style: none;
			display: block;
			line-height: 47px;
			vertical-align: middle;
			text-align: left;
			padding: 0;
			margin: 0 16px;
			text-decoration: none;
			font-weight: normal;
			color: #000;
			font-size: 12px;
			font-weight: 900;
			text-transform: uppercase;
			border-bottom: 2px solid #e5e5e5;
			&:last-child {
				border: none;
			}
			&:before {
				content: "";
				position: absolute;
				right: 1px;
				top: 17px;
				left: auto;
				display: inline-block;
				width: 5px;
				height: 5px;
				border-right: 3px solid #999;
				border-bottom: 3px solid #999;
				transform: rotate(45deg);
			}
			& a {
				color: #000;
				text-decoration: none;
				display: inline-block;
				width: 100%;
			}
			& img {
				max-height: 35px;
				vertical-align: middle;
			}
		}
	}
	&_open &__list {
		display: block;
		z-index: 1;
	}
	&_open &__btn:after {
		transform: rotate(-45deg);
	}
}
