.blog {
	margin-bottom: 40px;
	&__img {
		max-width: 100%;
	}
	&__date {
		font-size: 12px;
	}
	&__title {
		font-size: 14px;
		color: #b69d67;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
	}
	&__tab {
		height: 46px;
		line-height: 50px;
		vertica-align: middle;
		text-decoration: none;
		text-align: center;
		width: 100%;
		border: 2px dotted #b69d67;
		border-left: none;
		border-right: none;
		color: #b69d67;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 -2px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		&:active {
			background-color: #b69d67;
			opacity: 0.5;
			color: #fff;
		}
		&_active {
			border: 2px solid #b69d67;
			background-color: #b69d67;
			color: #fff;
		}
		&s {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			margin-top: -16px;
			border: 2px dotted #b69d67;
			border-top: none;
			border-bottom: none;
		}
	}
	&__hr {
		text-align: right;
		font-size: 12px;
		height: 2px;
		font-weight: 700;
		margin-bottom: 40px;
		line-height: 5px;
		&:after {
			content: "";
			float: left;
			width: 220px;
			height: 0;
			border-bottom: 2px dotted #9b9b9b;
		}
	}
}