.header {
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	height: 97px;
	
	&__logo {
		position: absolute;
		top: 0;
		left: 80px;
		&_min {
			display: none;
			position: absolute;
			top: 24px;
			left: 80px;
		}
	}
	&__lang {
		position: absolute;
		right: 0;
		top: -404px;
		height: 480px;
		width: 65px;
		border: 2px solid #b69c64;
		border-top: none;
		overflow: hidden;
		transition: height .4s, border-color .4s;
		&-in {
			position: absolute;
			top: 431px;
			left: 0;
			width: 70px;
			text-align: center;
		}
		&-link {
			position: relative;
			display: inline-block;
			width: 70px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			font-size: 12px;
			transform: translateX(-100px);
			transition: transform .4s;
			color: #000;
			margin-left: -15px;
			height: 26px;
			vertical-align: middle;
			&:before {
				content: "";
				position: absolute;
				right: 14px;
				top: -3px;
				width: 32px;
				height: 0;
				border-top: 2px solid #d7d7d7;
			}
			&:after {
				content: "";
				position: absolute;
				right: 14px;
				top: 7px;
				display: inline-block;
				width: 4px;
				margin-left: 3px;
				height: 4px;
				transform: rotate(135deg)
				border-right: 2px solid #000;
				border-top: 2px solid #000;
				transition: transform .2s;
			}
			&:hover {
				color: #b69c64;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
			}
			&_current {
				transform: translateX(0);
				color: #b69c64;
				line-height: 24px;
				&:after {
					border-right: 2px solid #b69c64;
					border-top: 2px solid #b69c64;
				}
				&:before {
					border: none;
				}
			}
		}
		&_active {
			height: 520px;
			border-color: #000;
		}
		&_active &-link {
			transform: translateX(0);
			&:after {
				top: 9px;
				transform: rotate(-45deg)
			}
		}
	}
	&__nav {
		position: absolute;
		top: 0;
		right: 139px;
		width: auto;
		height: 79px;
		line-height: 82px;
		vertical-align: middle;
		&-item {
			display: inline-block;
			height: 9px;
			line-height: 12px;
			padding: 0 18px;
			border-right: 2px solid #929292;
			font-size: 12px;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			&:last-child {
				border: none;
			}
			&_active,
			&:hover {
				color: #b69c64;
			}
			&_learn {
				display: none;
			}
		}
	}
}
.page_min .header {
	height: 75px;
	top: 0;
	&__logo {
		display: none;
		&_min {
			display: block;
		}
	}
	&__nav {
		right: 139px;
		top: 0;
		&-item_learn {
			display: inline-block;
		}
	}
	&__feedback {
		display: block;
	}
	&__lang {
		top: -425px;
		&-in {
			top: 455px;
		}
		&_active {
			height: 535px;
		}
		
	}
}
.page_min .page__left-learn {
	display: none;
}
.page_min .page__title,
.page_min .page__dot-wrap,
.page_min .page__aside {
	top: 116px;
}
.page__content {
	margin-top: 30px;
}
.page_min .page__content {
	margin-top: 0px;
}