.page {
	position: relative;
	min-width: 1200px;
	max-width: 1400px;
	margin: 0 auto;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 100%;
	transition: transform .8s, opacity .7s .3s;
	opacity: 1;
	overflow: hidden;
	&_hide {
		opacity: 0;
		transition: transform 1s, opacity .5s;
		transform: translateY(100%) translateZ(0);
	}
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 1200px;
		background-image: url(/data/pagoda/img/background2.jpg);
		background-repeat: no-repeat
		background-position: 50% 50%;
		background-size: cover;
		transition: background-image .8s;			
		&_gray {
			-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-filter: grayscale(100%);
			filter: gray;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			opacity: .1;
		}
	}
	&__left {
		position: absolute;
		left: 20px;
		width: 40px;
		height: 100%;
		&-learn {
			position: absolute;
			top: 56px;
			left: -4px;
			height: 36px;
			width: 74px;
			transform-origin: 40px 0;
			transform: rotate(90deg)
		}
		&-mouse {
			position: absolute;
			left: 0;
			bottom: 190px;
			width: 40px;
			height: 27px;
			background: url(../img/ico/mouse.png) no-repeat 50% 0;
		}
		&-social {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 40px;
			&-item {
				border: 2px solid #b69c64;
				border-radius: 17px;
				width: 30px;
				height: 30px;
				line-height: 34px;
				text-align: center;
				vertical-align: middle;
				display: inline-block;
				text-decoration: none;
				margin-top: 10px;
				font-weight: 700;
				font-size: 18px;
				margin-left: 3px;
				background-color: transparent;
				transition: background-color .2s, color .2s;
				&:hover {
					color: #fff;
					background-color: #b69c64;
				}
			}
		}
	}
	
	&__dot {
		display: inline-block;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		border: 2px solid #9b9b9b;
		box-shadow: inset 0 0 1px #ccc;
		margin: 0 10px 10px;
		&_active,
		&:hover {
			border-color: #b69c64;
			background: #b69c64;
		}
		&-wrap {
			position: absolute;
			top: 157px;
			left: -2px;
			width: 40px;
			text-align: center;
		}
	}
	&__content {
		position: absolute;
		top: 245px;
		left: 70px;
		width: 100%;
		height: 100%;
		padding-left: 10px;
		overflow: hidden;
		& img {
			max-width: 95%;
			height: auto;
		}
		&-wrap {
			position: relative;
			width: 103%;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
			margin-left: -10px;
			padding-left: 10px;
		}
		&-hidden {
			position: absolute;
			top: 0;
			height: 100%;
			overflow-x: scroll;
			overflow-y: hidden;
			visibility: hidden;
			
		}
		&-in {
			width: 53%;
		}
	}
	&__aside {
		position: absolute;
		top: 165px;
		right: 20px;
		width: 400px;
		&-number {
			margin-top: 60px;
			font-size: 14px;
			line-height: 18px;
			&-num {
				font-size: 40px;
				font-weight: 900;
				margin-bottom: 10px;
			}
		}
		&-border {
			position: relative;
			border: 2px solid #b69c64;
			border-top: none;
			margin-top: 30px;
			padding: 5px 0 25px 25px;
			&-title {
				position: absolute;
				text-transform: uppercase;
				left: -2px;
				top: -30px;
				font-size: 18px;
				font-weight: 900;
				color: #b69c64;
				
				
			}
			&:after {
				content: "";
				position: absolute;
				top: -25px;
				right: -2px;
				width: 220px;
				height: 25px;
				border-top: 2px solid #b69c64;
				border-right: 2px solid #b69c64;
			}
			&_solo:after {
				border-right: 2px solid #b69c64 !important;
				right: -2px !important;
				width: 240px !important;
			}
		}
	}

	&__footer {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 400px;
		&-btn {
			float: right;
			padding: 0 21px;
		}
		&-phone {
			float: left;
			line-height: 40px;
			height: 40px;
			font-size: 16px;
			font-weight: 700;
			vertical-align: middle;
			position: relative;
			&:before {
				content: "";
				width: 10px;
				height: 28px;
				margin-right: 5px;
				display: inline-block;
				background: url(../img/ico/phone.png) no-repeat 0 0;
				vertical-align: middle;
			}
			&-min {
				font-size: 10px;
				position: absolute;
				top: 16px;
				left: 20px;
			}
		}
	}
	
	&__textico {
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
		&-ico {
			float: left;
		}
		&-text {
			margin-left: 52px;
			font-weight: 700;
			margin-top: 8px;
		}
	}
	
	&__write {
		position: relative;
		min-width: 900px;
		max-width: 1300px;
		padding-left: 100px;
		margin: 0 auto;
		min-height: 580px;
		height: 80%;
		top: 50%;
		border: 20px solid transparent;
		transform: translateY(-50%);
		& .write__content {
			left: 100px;
		}
		&-wrap {
			position: absolute;
			top: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transform: translateY(0%) translateZ(0);
			transition: transform 1s, opacity .5s .2s;
		}
		&_show {
			opacity: 1;
			transform: translateY(100%) translateZ(0);
			transition: transform .8s, opacity .5s;
		}
	}
	&__title {
		position: absolute;
		top: 160px;
		left: 80px;
		width: 53%;
		&-tab {
			position: absolute;
			bottom: 31px;
			right: 0;
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 2px solid #b69c64;
			line-height: 15px;
			color: #000;
			&_2 {
				right: 140px;
			}
			&:after {
				content: "";
				display: inline-block;
				margin-left: 4px;
				margin-bottom: 1px;
				width: 4px;
				height: 4px;
				transform: rotate(45deg);
				border-top: 1px solid #000;
				border-right: 1px solid #000;
			}
			&:hover {
				border: none;
				padding-bottom: 2px;
			}
		}
	}
}
#page__catalog {
	top: 145px;
}