.write {
	margin-top: 35px;
	line-height: 20px;
	
	&__content {
		position: absolute;
		top: 35px;
		opacity: 0;
		transition: opacity .4s;
		&_show {
			opacity: 1;
		}
	}
	
	&__form {
		margin: 10px 0 0;
		overflow: hidden;
		
	}
	&__input {
		height: 35px;
		width: 100%;
		background: none;
		border: none;
		margin-bottom: 15px;
		border-bottom: 2px dotted #999;
		outline: none;
		color: #b69c64;
		font-weight: 700;
		font-size: 14px;
		&::-webkit-input-placeholder {color:#000;}
		&::-moz-placeholder          {color:#000;}
		&:-moz-placeholder           {color:#000;}
		&:-ms-input-placeholder      {color:#000;}
		&_err {
			border-bottom-color: #f96a43;
			&::-webkit-input-placeholder {color:#f96a43;}
			&::-moz-placeholder          {color:#f96a43;}
			&:-moz-placeholder           {color:#f96a43;}
			&:-ms-input-placeholder      {color:#f96a43;}
		}
		
		&:focus {
		}
	}
	
	&__textarea {
		margin-top: 8px;
		width: 100%;
		resize: none;
		height: 35px;
		line-height: 20px;
		font-weight: 500;
		&_hid {
			position: absolute;
			top: 0;
			left: -50000px;
			width: 600px;
			line-height: 20px;
			font-weight: 500;
		}
	}
	&__submit {
		margin-top: 40px;
		color: #fff;
		background-color: #000;
		width: 100%;
		height: 40px;
		line-height: 38px;
		vertical-align: middle;
		border: none;
		font-weight: 900;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}
}



.g-recaptcha iframe{
	position:absolute;top:0;bottom:0;left:0;
	width:100%;height:100%;border:0
}
.g-recaptcha>div{
	position:relative;
	width: 100% !important;
}
