<form action="{$smarty.const.ADMIN_FILE}" method=POST name="formext" id="formext">
{if $option_name == null}
<table class="adn"><tr class="lineb">
<td align="left" width="100%" colspan="3" >{$smarty.const.ADMIN_CUSTOM_OPTION_TITLE}</td>
<td align="left" class="toph3">{$smarty.const.ADMIN_VALUE_VARIANTS}</td>
<td align="right">{$smarty.const.ADMIN_SORT_ORDER}</td>
<td align="center">Del</td></tr>
<tr><td height="4" colspan="6"></td></tr>
<tr class="lineb">
	<td>Русский</td>
	<td>Английский</td>
	<td>Китайский</td>
	<td colspan=3></td>
</tr>
{section name=i loop=$options}
<tr><td height="4" colspan="6"></td></tr>
<tr class="liney hover">
<td align="left"><input type=text class="textp" name="extra_option_{$options[i].optionID}" value="{$options[i].name}" size="25"></td>
<td align="left"><input type=text class="textp" name="extra_option_en_{$options[i].optionID}" value="{$options[i].en_name}" size="25"></td>
<td align="left"><input type=text class="textp" name="extra_option_ch_{$options[i].optionID}" value="{$options[i].ch_name}" size="25"></td>
<td align="left" valign="middle" class="toph3"><span style="float: right;">({$options[i].count_variants})</span><a href="{$smarty.const.ADMIN_FILE}?dpt=catalog&amp;sub=extra&amp;optionID={$options[i].optionID}" class="inl">{$smarty.const.ADMIN_VALUE_VARIANTS}</a></td>
<td align="right"><input name="extra_sort_{$options[i].optionID}" type=text class="textp" value="{$options[i].sort_order}" size="4"></td>
<td align="center" valign="middle"><a href="#" onclick="confirmDelete({$options[i].optionID},'{$smarty.const.DELETE_BUTTON}?','{$smarty.const.ADMIN_FILE}?dpt=catalog&amp;sub=extra&amp;kill_option='); return false" title="{$smarty.const.ADMIN_ADMIN_MENUNEW8}">X</a></td>
</tr>
{sectionelse}
<tr><td height="4" colspan="6"></td></tr>
<tr><td colspan="6" align="center" height="20">{$smarty.const.ADMIN_NO_PRODUCT_OPTIONS}</td></tr>
{/section}
<tr><td height="4" colspan="6"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<a href="#" onclick="document.getElementById('formext').submit(); return false" class="inl">{$smarty.const.SAVE_BUTTON}</a>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr class="lineb">
<td align="left" colspan="3" width="100%">{$smarty.const.ADMIN_CUSTOM_OPTION_TITLE}</td>
<td align="left" >{$smarty.const.ADMIN_SORT_ORDER}</td>
</tr>
<tr class="lineb">
	<td>Русский</td>
	<td>Английский</td>
	<td>Китайский</td>
	<td ></td>
</tr>
<tr class="lins">
<td align="left"><input type=text name="add_option" value=""  class="textp" size="25"></td>
<td align="left"><input type=text name="add_option_en" value=""  class="textp" size="25"></td>
<td align="left"><input type=text name="add_option_ch" value=""  class="textp" size="25"></td>
<td align="left"><input name="add_sort" type=text value="" class="textp" size="4"></td>
</tr></table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<input type=hidden name="dpt" value="catalog">
<input type=hidden name="sub" value="extra">
<input type=hidden name="save_options" value="yes">
<a href="#" onclick="document.getElementById('formext').submit(); return false" class="inl">{$smarty.const.ADMIN_ADD_NEW_OPTION}</a>
{else}
<table class="adn">
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$option_name}</span></td>
</tr></table>
<table class="adn"><tr class="lineb">
<td align="left" colspan="3" class="toph3" width="100%">{$smarty.const.ADMIN_ONE_VALUE}</td>
<td align="right">{$smarty.const.ADMIN_SORT_ORDER}</td>
<td align="center">Del</td>
</tr>
<tr class="lineb">
	<td>Русский</td>
	<td>Английский</td>
	<td>Китайский</td>
	<td colspan="2"></td>
</tr>
{section name=i loop=$values}
<tr><td height="4" colspan="5"></td></tr>
<tr class="liney hover">
<td align="left"><input name="option_value_{$values[i].variantID}" type=text value="{$values[i].option_value}" class="textp" size="25"></td>
<td align="left"><input name="option_value_en_{$values[i].variantID}" type=text value="{$values[i].en_option_value}" class="textp" size="25"></td>
<td align="left"><input name="option_value_ch_{$values[i].variantID}" type=text value="{$values[i].ch_option_value}" class="textp" size="25"></td>
<td align="right"><input type=text name="sort_order_{$values[i].variantID}" value="{$values[i].sort_order}" class="textp" size="3"></td>
<td align="center" valign="middle"><a href="#" onclick="confirmDelete({$values[i].variantID},'{$smarty.const.QUESTION_DELETE_CONFIRMATION}', '{$smarty.const.ADMIN_FILE}?dpt=catalog&amp;sub=extra&amp;optionID={$values[i].optionID}&amp;kill_value=');" title="{$smarty.const.ADMIN_ADMIN_MENUNEW8}">X</a></td>
</tr>
{sectionelse}
<tr><td height="4" colspan="5"></td></tr>
<tr><td colspan="5" align="center" height="20">{$smarty.const.ADMIN_NO_VALUES}</td></tr>
{/section}
<tr><td height="4" colspan="5"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<input type=hidden name="dpt" value="catalog">
<input type=hidden name="sub" value="extra">
<input type=hidden name="save_values" value="yes">
<input type=hidden name="optionID" value="{$optionID}">
<a href="#" onclick="document.getElementById('formext').submit(); return false" class="inl">{$smarty.const.SAVE_BUTTON}</a>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr class="lineb">
<td align="left" colspan="3" width="100%">{$smarty.const.ADMIN_OPTION47}</td>
<td align="left" >{$smarty.const.ADMIN_SORT_ORDER}</td></tr>
<tr class="lineb">
	<td>Русский</td>
	<td>Английский</td>
	<td>Китайский</td>
	<td ></td>
</tr>
<tr class="lins">
<td align="left"><input name="add_value" type=text value="" class="textp" size="25"></td>
<td align="left"><input name="add_value_en" type=text value="" class="textp" size="25"></td>
<td align="left"><input name="add_value_ch" type=text value="" class="textp" size="25"></td>
<td align="left"><input type=text name="add_sort" value="" class="textp" size="4"></td>
</tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<a href="#" onclick="document.getElementById('formext').submit(); return false" class="inl">{$smarty.const.ADMIN_ADD_VALUE}</a>{if $option_name != null}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{$smarty.const.ADMIN_FILE}?dpt=catalog&amp;sub=extra" class="inl">{$smarty.const.ADMIN_OPIK3}</a>{/if}
{/if}
</form>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">{$smarty.const.ALERT_ADMIN12}</div></td>
</tr>
</table>