{literal}
<script type="text/javascript">
function changeTypeL(select) {
	type = $(select).val();
	$('.type_l').hide();
	$('.type_l input').removeAttr('name');
	$('.type_l select').removeAttr('name');
	
	chInp = $('#'+type).find('input').length;
	if (chInp > 0) {
		$('#'+type).find('input').attr('name','newTypeL');
	} else {
		$('#'+type).find('select').attr('name','newTypeL');
	}
	$('#'+type).show();
}
function changeTypeLL(select) {
	type = $(select).val();
	$('.type_l').hide();
	$('.type_l input').removeAttr('name');
	$('.type_l select').removeAttr('name');
	
	chInp = $('#'+type+'2').find('input').length;
	if (chInp > 0) {
		$('#'+type+'2').find('input').attr('name','newTypeL');
	} else {
		$('#'+type+'2').find('select').attr('name','newTypeL');
	}
	$('#'+type+'2').show();
}
function changeTypeOne(select) {
	type = $(select).val();
	id = $(select).attr('rel');
	$('.type_l_'+id).hide();
	$('.type_l_'+id+' input').removeAttr('name');
	$('.type_l_'+id+' select').removeAttr('name');
	
	chInpO = $('.'+type+'_'+id).find('input').length;
	if (chInpO > 0) {
		$('.'+type+'_'+id).find('input').attr('name','typepoint_'+id);
	} else {
		$('.'+type+'_'+id).find('select').attr('name','typepoint_'+id);
	}
	$('.'+type+'_'+id).show();
}
function changeTypeOneL(select) {
	type = $(select).val();
	id = $(select).attr('rel');
	$('.type_2_'+id).hide();
	$('.type_2_'+id+' input').removeAttr('name');
	$('.type_2_'+id+' select').removeAttr('name');
	
	chInpO = $('.'+type+'2_'+id).find('input').length;
	if (chInpO > 0) {
		$('.'+type+'2_'+id).find('input').attr('name','typepoint_'+id);
	} else {
		$('.'+type+'2_'+id).find('select').attr('name','typepoint_'+id);
	}
	$('.'+type+'2_'+id).show();
}
function remPoint(point) {
	name = $('input[name=anchor_'+point+']').val();
	if(confirm('Удалить пункт меню:\n"'+name+'"')) {
		$.ajax({
			type: "POST",
			data: {removePoint:point},
			url: location.href,
			error: function(){
				alert("Произошла ошибка, попробуйте перезагрузить страницу.");
			},
			success: function(e){
				if (e == 1) {
					$('.remLine_'+point).hide();
				} else {
					alert("Произошла ошибка, попробуйте перезагрузить страницу.");
				}
			}
		});
	}
}
</script>
{/literal}
{literal}
<script type="text/javascript">
    $(function() {
       $('#languages').tabs({ fxFade: true, fxSpeed: 'fast' });
    });
</script>
{/literal}
<div id="languages">
            <ul>
                <li class="tabs-selected"><a href="#MainM"><span>Главное меню</span></a></li>
                <li><a href="#LeftM"><span>Меню слева</span></a></li>
            </ul>
<div id="MainM">
<div class="adMenusSubHeader">Новый пункт меню</div>
<div class="adMenusList">
	<form action="" method='POST' name="addPoint1">
		<table class="adMnLine" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<th>Вкл</th>
				<th>Текст ссылки</th>
				<th class="">Тип страницы "куда"</th>
				<th class="">Страница "куда"</th>
				<th class="">Язык</th>
				<th class="">Сортировка</th>
				<th></th>
			</tr>
			<tr>
				<td class="pOn">
					<input checked="checked" type="checkbox" name="newOn"/>
				</td>
				<td class="pAnchor">
					<input type="text" name="newAnchor"/>
				</td>
				<td class="pType">
					<select name="newType" onchange="changeTypeL(this)">
						<option value="free1">Произволный путь</option>
						<option value="aux1">Статическая страница</option>
						<option value="cats1">Категория</option>
					</select>
				</td>
				<td class="pTypepoint">
					<div id="free1" class="type_l">
						<input type="text" name="newTypeL" />
					</div>
					<div id="aux1" style='display:none' class="type_l">
						<select name="" >
{section name=i loop=$aux_pages}
<option value="{$aux_pages[i].aux_page_ID}" >{$aux_pages[i].aux_page_name}</option>
{/section}
						</select>
					</div>
					<div id="cats1" style='display:none' class="type_l">
						<select name="" >
{section name=im loop=$cats}
<option value="{$cats[im].categoryID}" >{section name=j loop=$cats[im].level max=$cats[im].level}&nbsp;&nbsp;&nbsp;{/section}{$cats[im].name}</option>
{/section}
						</select>
					</div>
				</td>
				<td class="lang">
					<select name="langM" id="">
						<option value="">Русский</option>
						<option value="en">Английский</option>
						<option value="ch">Китайский</option>
					</select>
				</td>
				<td class="sort">
					<input type="text" name="newSort" value="0" />
				</td>
				<td class="addBtt"><input type="submit" value="Добавить"/></td>
			</tr>
		</table>
		<input type="hidden" name='newPoint'='1'/>
	</form>

</div>
{if $menu_points}
<br>
<div class="adMenusSubHeader">Список пунктов меню</div>
<div class="adMenusList">

	<form action="" method='POST' name="mPoint_{$menu_points[p].mpID}">
		<table class="adMnLine" cellspacing="0" cellpadding="0" border="0" width="100%">
{section name=p loop=$menu_points}
		{if ($smarty.section.p.index+1) is div by 15 or $smarty.section.p.first}
			<tr>
				<th>Вкл</th>
				<th>Текст ссылки</th>
				<th class="">Тип страницы "куда"</th>
				<th class="">Страница "куда"</th>
				<th class="">Язык</th>
				<th class="">Сортировка</th>
				<th></th>
			</tr>
		{/if}
			<tr class="remLine_{$menu_points[p].mpID}">
				<td class="pOn">
					<input {if $menu_points[p].active == 1}checked="checked" {/if}type="checkbox" name="on_{$menu_points[p].mpID}"/>
				</td>
				<td class="pAnchor">
					<input type="text" value="{$menu_points[p].anchor}" name="anchor_{$menu_points[p].mpID}"/>
				</td>
				<td class="pType">
					<select name="type_{$menu_points[p].mpID}" onchange="changeTypeOne(this)" rel="{$menu_points[p].mpID}">
						<option {if $menu_points[p].type == 'free'} selected='selected'{/if} value="free">Произволный путь</option>
						<option {if $menu_points[p].type == 'aux'} selected='selected'{/if} value="aux">Статическая страница</option>
						<option {if $menu_points[p].type == 'cats'} selected='selected'{/if} value="cats">Категория</option>
					</select>
				</td>
				<td class="pTypepoint">
					<div class="free_{$menu_points[p].mpID} type_l_{$menu_points[p].mpID}" {if $menu_points[p].type == 'free'} {else} style='display:none' {/if} >
						<input type="text" {if $menu_points[p].type == 'free'} name="typepoint_{$menu_points[p].mpID}" value="{$menu_points[p].type_point}" {else} name="" {/if}  />
					</div>
					<div class="aux_{$menu_points[p].mpID} type_l_{$menu_points[p].mpID}"  {if $menu_points[p].type == 'aux'} {else} style='display:none' {/if}  >
						<select  {if $menu_points[p].type == 'aux'} name="typepoint_{$menu_points[p].mpID}"  {else} name="" {/if}  >
{section name=i loop=$aux_pages}
<option value="{$aux_pages[i].aux_page_ID}" {if $aux_pages[i].aux_page_ID == $menu_points[p].type_point} selected="selected" {/if} >{$aux_pages[i].aux_page_name}</option>
{/section}
						</select>
					</div>
					<div class="cats_{$menu_points[p].mpID}  type_l_{$menu_points[p].mpID}" {if $menu_points[p].type == "cats"} {else} style="display:none" {/if}>
						<select {if $menu_points[p].type == 'cats'}6+
3						name="typepoint_{$menu_points[p].mpID}"  {else} name="" {/if} >
{section name=im loop=$cats}
<option value="{$cats[im].categoryID}"  {if $cats[im].categoryID == $menu_points[p].type_point} selected="selected" {/if}>{section name=j loop=$cats[im].level max=$cats[im].level}&nbsp;&nbsp;&nbsp;{/section}{$cats[im].name}</option>
{/section}
						</select>
					</div>
				</td>
				<td class="lang">
					<select name="langM_{$menu_points[p].mpID}" id="">
						<option value="">Русский</option>
						<option value="en" {if $menu_points[p].lang == 'en'} selected="selected" {/if}>Английский</option>
						<option value="ch" {if $menu_points[p].lang == 'ch'} selected="selected" {/if}>Китайский</option>
					</select>
				</td>
				<td class="sort">
					<input type="text" name="sort_{$menu_points[p].mpID}" value="{$menu_points[p].sort}" />
				</td>
				<td class="addBtt"><div style="color:red; text-align:center; cursor:pointer;" onclick="remPoint({$menu_points[p].mpID});">Удалить</div></td>
			</tr>

	{/section}
		</table>
		<div style="text-align:right"><br>
			<input type="submit" style="cursor:pointer" value="Сохранить"/>&nbsp;&nbsp;&nbsp;
		</div>
		<input type="hidden" name='savePoint' value="{$menu_points[p].mpID}"/>
	</form>

</div>
{/if}
</div>
<div id="LeftM">

<div class="adMenusSubHeader">Прайслист для левого меню</div>
<div class="adMenusList">
	<form action="#LeftM" method='POST' enctype="multipart/form-data" name="addPrice2">
		<table class="adMnLine" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<th>Текст ссылки</th>
				<th>Путь</th>
				<th class="">Выбрать новый</th>
				<th></th>
			</tr>
			<tr>
				<td class="pName" width="10">
					<table>
						<tr>
							<td>Русский<br><input type="text" name="pName" value="{$mPrice.pName}"/></td>
					<td></td>
					
							<td>Английский<br><input type="text" name="en_pName" value="{$mPrice.en_pName}"/></td>
					<td></td>
							<td>Китайский<br><input type="text" name="ch_pName" value="{$mPrice.ch_pName}"/></td>
						</tr>
					</table>
				</td>
				<td class="pAnchor">
					{$mPrice.pPath}
				</td>
				<td class="pType" width="10">
					<input type="file" name="price"/>
				</td>
				<td width="10">
					<input type="submit" name="uploadPrice" value="Загрузить"/>
				</td>
			</tr>
		</table>
	</form>

</div>

<br>
<div class="adMenusSubHeader">Новый пункт меню</div>
<div class="adMenusList">
	<form action="" method='POST' name="addPoint2">
		<table class="adMnLine" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<th>Вкл</th>
				<th>Текст ссылки</th>
				<th class="">Тип страницы "куда"</th>
				<th class="">Страница "куда"</th>
				<th class="">Язык</th>
				<th class="">Сортировка</th>
				<th></th>
			</tr>
			<tr>
				<td class="pOn">
					<input checked="checked" type="checkbox" name="newOn"/>
				</td>
				<td class="pAnchor">
					<input type="text" name="newAnchor"/>
				</td>
				<td class="pType">
					<select name="newType" onchange="changeTypeLL(this)">
						<option value="free">Произволный путь</option>
						<option value="aux">Статическая страница</option>
						<option value="cats">Категория</option>
					</select>
				</td>
				<td class="pTypepoint">
					<div id="free2" class="type_l">
						<input type="text" name="newTypeL" />
					</div>
					<div id="aux2" style='display:none' class="type_l">
						<select name="" >
{section name=i loop=$aux_pages}
<option value="{$aux_pages[i].aux_page_ID}" >{$aux_pages[i].aux_page_name}</option>
{/section}
						</select>
					</div>
					<div id="cats2" style='display:none' class="type_l">
						<select name="" >
{section name=im loop=$cats}
<option value="{$cats[im].categoryID}" >{section name=j loop=$cats[im].level max=$cats[im].level}&nbsp;&nbsp;&nbsp;{/section}{$cats[im].name}</option>
{/section}
						</select>
					</div>
				</td>
				<td class="lang">
					<select name="langM" id="">
						<option value="">Русский</option>
						<option value="en">Английский</option>
						<option value="ch">Китайский</option>
					</select>
				</td>
				<td class="sort">
					<input type="text" name="newSort" value="0" />
				</td>
				<td class="addBtt"><input type="submit" value="Добавить"/></td>
			</tr>
		</table>
		<input type="hidden" name='newPoint' value='2'/>
	</form>

</div>

{if $menu_pointsL}
<br>
<div class="adMenusSubHeader">Список пунктов меню</div>
<div class="adMenusList">

	<form action="" method='POST' name="mPoint_{$menu_pointsL[p].mpID}">
		<table class="adMnLine" cellspacing="0" cellpadding="0" border="0" width="100%">
{section name=p loop=$menu_pointsL}
		{if ($smarty.section.p.index+1) is div by 15 or $smarty.section.p.first}
			<tr>
				<th>Вкл</th>
				<th>Текст ссылки</th>
				<th class="">Тип страницы "куда"</th>
				<th class="">Страница "куда"</th>
				<th class="">Язык</th>
				<th class="">Сортировка</th>
				<th></th>
			</tr>
		{/if}
			<tr class="remLine_{$menu_pointsL[p].mpID}">
				<td class="pOn">
					<input {if $menu_pointsL[p].active == 1}checked="checked" {/if}type="checkbox" name="on_{$menu_pointsL[p].mpID}"/>
				</td>
				<td class="pAnchor">
					<input type="text" value="{$menu_pointsL[p].anchor}" name="anchor_{$menu_pointsL[p].mpID}"/>
				</td>
				<td class="pType">
					<select name="type_{$menu_pointsL[p].mpID}" onchange="changeTypeOneL(this)" rel="{$menu_pointsL[p].mpID}">
						<option {if $menu_pointsL[p].type == 'free'} selected='selected'{/if} value="free">Произволный путь</option>
						<option {if $menu_pointsL[p].type == 'aux'} selected='selected'{/if} value="aux">Статическая страница</option>
						<option {if $menu_pointsL[p].type == 'cats'} selected='selected'{/if} value="cats">Категория</option>
					</select>
				</td>
				<td class="pTypepoint">
					<div class="free2_{$menu_pointsL[p].mpID} type_2_{$menu_pointsL[p].mpID}" {if $menu_pointsL[p].type == 'free'} {else} style='display:none' {/if} >
						<input type="text" {if $menu_pointsL[p].type == 'free'} name="typepoint_{$menu_pointsL[p].mpID}" value="{$menu_pointsL[p].type_point}" {else} name="" {/if}  />
					</div>
					<div class="aux2_{$menu_pointsL[p].mpID} type_2_{$menu_pointsL[p].mpID}"  {if $menu_pointsL[p].type == 'aux'} {else} style='display:none' {/if}  >
						<select  {if $menu_pointsL[p].type == 'aux'} name="typepoint_{$menu_pointsL[p].mpID}"  {else} name="" {/if}  >
{section name=i loop=$aux_pages}
<option value="{$aux_pages[i].aux_page_ID}" {if $aux_pages[i].aux_page_ID == $menu_pointsL[p].type_point} selected="selected" {/if} >{$aux_pages[i].aux_page_name}</option>
{/section}
						</select>
					</div>
					<div class="cats2_{$menu_pointsL[p].mpID}  type_2_{$menu_pointsL[p].mpID}" {if $menu_pointsL[p].type == "cats"} {else} style="display:none" {/if}>
						<select {if $menu_pointsL[p].type == 'cats'}6+
3						name="typepoint_{$menu_pointsL[p].mpID}"  {else} name="" {/if} >
{section name=im loop=$cats}
<option value="{$cats[im].categoryID}"  {if $cats[im].categoryID == $menu_pointsL[p].type_point} selected="selected" {/if}>{section name=j loop=$cats[im].level max=$cats[im].level}&nbsp;&nbsp;&nbsp;{/section}{$cats[im].name}</option>
{/section}
						</select>
					</div>
				</td>
				<td class="lang">
					<select name="langM_{$menu_pointsL[p].mpID}" id="">
						<option value="">Русский</option>
						<option value="en" {if $menu_pointsL[p].lang == 'en'} selected="selected" {/if}>Английский</option>
						<option value="ch" {if $menu_pointsL[p].lang == 'ch'} selected="selected" {/if}>Китайский</option>
					</select>
				</td>
				<td class="sort">
					<input type="text" name="sort_{$menu_pointsL[p].mpID}" value="{$menu_pointsL[p].sort}" />
				</td>
				<td class="addBtt"><div style="color:red; text-align:center; cursor:pointer;" onclick="remPoint({$menu_pointsL[p].mpID});">Удалить</div></td>
			</tr>

	{/section}
		</table>
		<div style="text-align:right"><br>
			<input type="submit" style="cursor:pointer" value="Сохранить"/>&nbsp;&nbsp;&nbsp;
		</div>
		<input type="hidden" name='savePoint' value="{$menu_pointsL[p].mID}"/>
	</form>

</div>
{/if}
</div>
</div>