
<script src="/data/admin/jquery.wallform.js"></script>

{if $edit || $add_new}
{literal}
<script type="text/javascript">
    $(function() {
       $('#languages').tabs({ fxFade: true, fxSpeed: 'fast' });
    });
</script>
{/literal}

{if $edit}
<form action='{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages&amp;edit={$aux_page.aux_page_ID}' method=post name="formaxp" id="formaxp">
{else}
<form action='{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages&amp;add_new=yes' method=post name="formaxp" id="formaxp">
{/if}
<div id="languages">
            <ul>
                <li class="tabs-selected"><a href="#rusLng"><span>Русская версия</span></a></li>
                <li><a href="#enLng"><span>Английская версия</span></a></li>
                <li><a href="#chLng"><span>Китайская версия</span></a></li>
            </ul>
			
	<!-- TAB -->
            <div id="rusLng">
<table class="adn">
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.AUX_PAGE_NAME}</span></td>
</tr>
<tr>

<td align="left"><input name="aux_page_name" type="text" value='{$aux_page.aux_page_name}' style="width: 500px;" class="textp"></td>
</tr><tr><td class="se5"></td></tr>
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.ADMIN_PRODUCT_TITLE_PAGE}</span></td>
</tr>
<tr>
<td align="left"><input name="aux_page_title" type="text" value='{$aux_page.aux_page_title}' style="width: 500px;" class="textp"></td>
</tr>
<tr><td class="se5"></td></tr>
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">Псевдоним (алиас):</span></td>
</tr>
<tr>
<td align="left">/page/<input name="alias" type="text" value='{$aux_page.alias}' style="width: 500px;" class="textp">&nbsp;.html</td>
</tr>
<tr><td class="se5"></td></tr>
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">Старый URL:</span></td>
</tr>
<tr>
<td align="left"><input name="old_url" type="text" value='{$aux_page.old_url}' style="width: 500px;" class="textp"></td>
</tr>
{if $smarty.const.CONF_EDITOR eq 0}
<tr class="linsz">
<td align="left"><input type="checkbox" class="round" name="aux_page_text_type" value="1"
                                {if $aux_page.aux_page_text_type == 1}
                                        checked
                                {/if}
>&nbsp;&nbsp;{$smarty.const.ADMIN_AXP1}</td>
</tr></table>{else}</table><input type="hidden" name="aux_page_text_type" value="1">{/if}
<table class="adn"><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.AUX_PAGE_TEXT}</span></td>
</tr>
<tr>
<td><textarea name="aux_page_text" id="areapg" class="admin">{$aux_page.aux_page_text}</textarea></td>
</tr></table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adw">
<tr><td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_DESCRIPTION}</span></td>
</tr>
<tr><td align="left"><textarea name='meta_description' id='meta_description' class="adminall" style="margin-right: 38px;">{$aux_page.meta_description}</textarea>
</td></tr>
</table>
</td>
<td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_KEYWORDS}</span></td>
</tr>
<tr><td align="left"><textarea name='meta_keywords' id='meta_keywords' class="adminall">{$aux_page.meta_keywords}</textarea>
</td></tr>
</table>
</td></tr></table>
	</div>
	<!-- TAB -->
	<div id="enLng">
{* <label  style="display:none"><input type="checkbox" name="en_use" {if $aux_page.en_use == 1 or $add_new} checked="checked" {/if} /> Использовать Английскую версию</label> *}

<table class="adn">
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.AUX_PAGE_NAME}</span></td>
</tr>
<tr>

<td align="left"><input name="en_aux_page_name" type="text" value='{$aux_page.en_aux_page_name}' style="width: 500px;" class="textp"></td>
</tr><tr><td class="se5"></td></tr>
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.ADMIN_PRODUCT_TITLE_PAGE}</span></td>
</tr>
<tr>
<td align="left"><input name="en_aux_page_title" type="text" value='{$aux_page.en_aux_page_title}' style="width: 500px;" class="textp"></td>
</tr>
<tr><td class="se5"></td></tr>

<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">Старый URL:</span></td>
</tr>
<tr>
<td align="left"><input name="en_old_url" type="text" value='{$aux_page.en_old_url}' style="width: 500px;" class="textp"></td>
</tr>
{if $smarty.const.CONF_EDITOR eq 0}
<tr class="linsz">
<td align="left"><input type="checkbox" class="round" name="en_aux_page_text_type" value="1"
                                {if $aux_page.en_aux_page_text_type == 1}
                                        checked
                                {/if}
>&nbsp;&nbsp;{$smarty.const.ADMIN_AXP1}</td>
</tr></table>{else}</table><input type="hidden" name="en_aux_page_text_type" value="1">{/if}
<table class="adn"><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.AUX_PAGE_TEXT}</span></td>
</tr>
<tr>
<td><textarea name="en_aux_page_text" id="areapgE" class="admin">{$aux_page.en_aux_page_text}</textarea></td>
</tr></table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adw">
<tr><td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_DESCRIPTION}</span></td>
</tr>
<tr><td align="left"><textarea name='en_meta_description' id='meta_descriptionE' class="adminall" style="margin-right: 38px;">{$aux_page.en_meta_description}</textarea>
</td></tr>
</table>
</td>
<td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_KEYWORDS}</span></td>
</tr>
<tr><td align="left"><textarea name='en_meta_keywords' id='meta_keywordsE' class="adminall">{$aux_page.meta_keywords}</textarea>
</td></tr>
</table>
</td></tr></table>
	</div>
	
	<!-- TAB -->
	<div id="chLng">
{* 
	<label style="display:none"><input type="checkbox" name="ch_use" {if $aux_page.ch_use == 1 or $add_new} checked="checked" {/if} /> Использовать Китайскую версию</label>
 *}
<table class="adn">
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.AUX_PAGE_NAME}</span></td>
</tr>
<tr>

<td align="left"><input name="ch_aux_page_name" type="text" value='{$aux_page.ch_aux_page_name}' style="width: 500px;" class="textp"></td>
</tr><tr><td class="se5"></td></tr>
<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">{$smarty.const.ADMIN_PRODUCT_TITLE_PAGE}</span></td>
</tr>
<tr>
<td align="left"><input name="ch_aux_page_title" type="text" value='{$aux_page.ch_aux_page_title}' style="width: 500px;" class="textp"></td>
</tr>
<tr><td class="se5"></td></tr>

<tr class="linsz">
<td align="left" style="padding-top: 0;"><span class="titlecol2">Старый URL:</span></td>
</tr>
<tr>
<td align="left"><input name="ch_old_url" type="text" value='{$aux_page.ch_old_url}' style="width: 500px;" class="textp"></td>
</tr>
{if $smarty.const.CONF_EDITOR eq 0}
<tr class="linsz">
<td align="left"><input type="checkbox" class="round" name="ch_aux_page_text_type" value="1"
                                {if $aux_page.ch_aux_page_text_type == 1}
                                        checked
                                {/if}
>&nbsp;&nbsp;{$smarty.const.ADMIN_AXP1}</td>
</tr></table>{else}</table><input type="hidden" name="ch_aux_page_text_type" value="1">{/if}
<table class="adn"><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.AUX_PAGE_TEXT}</span></td>
</tr>
<tr>
<td><textarea name="ch_aux_page_text" id="areapgC" class="admin">{$aux_page.ch_aux_page_text}</textarea></td>
</tr></table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adw">
<tr><td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_DESCRIPTION}</span></td>
</tr>
<tr><td align="left"><textarea name='ch_meta_description' id='meta_descriptionC' class="adminall" style="margin-right: 38px;">{$aux_page.ch_meta_description}</textarea>
</td></tr>
</table>
</td>
<td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_KEYWORDS}</span></td>
</tr>
<tr><td align="left"><textarea name='ch_meta_keywords' id='meta_keywordsC' class="adminall">{$aux_page.ch_meta_keywords}</textarea>
</td></tr>
</table>
</td></tr></table>
	</div>
</div>
<table class="adn"><tr><td class="se5"></td></tr></table>
<a href="#" onclick="document.getElementById('formaxp').submit(); return false" class="inl">{$smarty.const.SAVE_BUTTON}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages" class="inl">{$smarty.const.ADMIN_TX2}</a>
<input type=hidden value='1' name='save'>
</form>


	<br>
{if $smarty.const.CONF_EDITOR}
{literal}
<script type="text/javascript" src="fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="fckeditor/ckfinder/ckfinder.js"></script>

<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="ckeditor/config.js"></script>

<script type="text/javascript">


$(window).load(function()
{


CKEDITOR.replace('aux_page_text',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('en_aux_page_text',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('ch_aux_page_text',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

})

/*
CKEDITOR.replace('textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
    
});

CKEDITOR.replace('en_textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('ch_textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});
*/

/*
window.onload = function()
{
var oFCKeditor = new FCKeditor( 'areapg',720,346) ;
{/literal}{php}
$dir1 = dirname($_SERVER['PHP_SELF']);
$sourcessrand = array("//" => "/", "\\" => "/");
$dir1 = strtr($dir1, $sourcessrand);
if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
echo "\n";
echo "oFCKeditor.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
{/php}{literal}
oFCKeditor.ReplaceTextarea() ;

var oFCKeditor2 = new FCKeditor( 'areapgE',720,346) ;
{/literal}{php}
$dir1 = dirname($_SERVER['PHP_SELF']);
$sourcessrand = array("//" => "/", "\\" => "/");
$dir1 = strtr($dir1, $sourcessrand);
if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
echo "\n";
echo "oFCKeditor2.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
{/php}{literal}
oFCKeditor2.ReplaceTextarea() ;

var oFCKeditor3 = new FCKeditor( 'areapgC',720,346) ;
{/literal}{php}
$dir1 = dirname($_SERVER['PHP_SELF']);
$sourcessrand = array("//" => "/", "\\" => "/");
$dir1 = strtr($dir1, $sourcessrand);
if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
echo "\n";
echo "oFCKeditor3.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
{/php}{literal}
oFCKeditor3.ReplaceTextarea() ;
}

*/


</script>
{/literal}
{/if}
{else}
<table class="adn">
<tr class="lineb">
<td align="left" class="toph3">{$smarty.const.AUX_PAGE_NAME}</td>
<td align="left">{$smarty.const.AUX_PAGE_TEXT_TYPE}</td>
<td align="left" width="100%" class="toph3">{$smarty.const.AUX_PAGE_REF}</td>
<td align="left">{$smarty.const.AUX_PAGE_EDIT}</td>
</tr>
{assign var="admhl" value=0}
{section name=i loop=$aux_pages}
{if $admhl eq 1}
<tr><td colspan="4" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
{else}{assign var="admhl" value=1}{/if}
<tr class="lineybig hover">
<td align="left">{$aux_pages[i].aux_page_name}</td>
<td align="left">{if $aux_pages[i].aux_page_text_type == 0} TEXT {else} HTML {/if}</td>
<td align="left">&lt;a href="{if $smarty.const.CONF_MOD_REWRITE eq 1}/page/{$aux_pages[i].alias}.html"&gt;{$aux_pages[i].aux_page_name}{else}/index.php?show_aux_page={$aux_pages[i].aux_page_ID}"&gt;{$aux_pages[i].aux_page_name}{/if}&lt;/a&gt;</td>
<td align="center"><a href="{if $smarty.const.CONF_MOD_REWRITE eq 1}/page/{$aux_pages[i].alias}.html{else}/index.php?show_aux_page={$aux_pages[i].aux_page_ID}{/if}" target="_blank">{$smarty.const.ADMIN_SHOW_AUX_PAGE}</a>&nbsp;|&nbsp;<a href="{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages&amp;edit={$aux_pages[i].aux_page_ID}">{$smarty.const.ADMIN_EDIT_SMALL}</a>&nbsp;|&nbsp;<a href="#" onclick="open_window('{$smarty.const.ADMIN_FILE}?do=wishcat&owner={$aux_pages[i].aux_page_ID}',500,500)">{$smarty.const.ADMIN_AUX_CAT}</a>&nbsp;|&nbsp;<a href="#" onclick="open_window('{$smarty.const.ADMIN_FILE}?do=wishprod&owner={$aux_pages[i].aux_page_ID}',500,500)">{$smarty.const.ADMIN_AUX_PROD}</a>&nbsp;|&nbsp;<a href="#" onclick="confirmDelete({$aux_pages[i].aux_page_ID},'{$smarty.const.QUESTION_DELETE_CONFIRMATION}','{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages&amp;delete=');">X</a></td>
</tr>
{sectionelse}
<tr><td colspan="4" align="center" height="20">{$smarty.const.ADMIN_NO_VALUES}</td></tr>
{/section}
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<a href="{$smarty.const.ADMIN_FILE}?dpt=custord&amp;sub=aux_pages&amp;add_new=yes" class="inl">{$smarty.const.ADD_PAGE}</a>
{/if}
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">{$smarty.const.ALERT_ADMIN21}</div></td>
        </tr>
      </table>