

<div class="pgMCContainer">
	<div class="pgMCHead">{$sendNew.title}</div>
	<div class="pgMCContent">{$sendNew.content}</div>
	<div class="pgMCContent" style="text-align:right; padding-top:5px; padding-right:20px;"><a href="{$sendNew.link}" target="_blank">{$smarty.const.MORE_INFO_ON_PRODUCT}</a></div>
	<div class="clear"></div>
</div>
<div class="clear"></div>