<form action="{$smarty.const.ADMIN_FILE}?dpt=modules&amp;sub=chpu&amp;type={$type}"
        method=post
        enctype="multipart/form-data"
        name="MainForm" id="MainForm">
<table class="adn">
<tr>
<td align="left"><select name='type_Select'
                                onchange="window.location=document.getElementById('MainForm').type_Select.value">
                                {section name=i loop=$types}
                                <option value='{$smarty.const.ADMIN_FILE}?dpt=modules&amp;sub=chpu&amp;type={$types[i].typeID}'
                                        {if $type == $types[i].typeID}
                                                selected
                                        {/if}
                                >
                                        {$types[i].name}
                                </option>
                                {/section}
</select>
</td><td align="left" width="100%">&nbsp;&nbsp;&nbsp;<b>Выберите тип материала</b><br/>Здесь отображаются только последние 150 незаполненных псевдонимов (для корректной работы)</td>
        </tr>
        </table>
		<a href="#" onclick="document.getElementById('MainForm').submit(); return false" class="inl">Сгенерировать ЧПУ</a>
<table class="adn"><tr><td class="se6"></td></tr></table>

<table class="adn">
<tr class="lineb">
<td align="left" class="toph3">Наименование</td>
<td align="left" width="100%">Алиас (ЧПУ)</td>
</tr>
{section name=i loop=$aliases}
<tr class="liney hover">
<td><input type=text name="name_{$aliases[i][0]}" value="{$aliases[i][2]}" class="textp" size="45" readonly></td>
<td><input type=text name="alias_{$aliases[i][0]}" value="{$aliases[i][1]}" class="textp" size="45"></td>
</tr>
{sectionelse}
<tr><td colspan="2" align="center" height="20">Не заполненных значений не найдено</td></tr>
{/section}
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<a href="#" onclick="document.getElementById('MainForm').submit(); return false" class="inl">Сгенерировать ЧПУ</a>

<table class="adn"><tr><td class="se6"></td></tr></table>
<input type=hidden name=dpt value=modules>
<input type=hidden name=sub value=chpu>
<input type=hidden name=save value=yes>
</form>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">В этом разделе выводятся незаполненные значения алиасов (для ЧПУ). Индивидуальные значения вы можете редактировать в конкретном разделе материала (при добавлении или редактировании)</div></td>
        </tr>
      </table>