{* создание sitemap.xml *}
<table class="adn">
<tr class="lineb">
<td align="left" width="50%">Создание карты сайта (sitemap.xml)</td>
</tr>
<tr class="lins">
<td align="left">
<form action="{$smarty.const.ADMIN_FILE}" method=get name="formexp" id="formexp">
{if $creat=="yes"}
	{$message}<br><br><a href="{php}echo "http://".$_SERVER["SERVER_NAME"]."/";{/php}sitemap.xml" target="_blank" class="inl">Посмотреть файл</a> ({$filesize})&nbsp;&nbsp;|&nbsp;&nbsp;<a href="?dpt=modules&sub=sitemap" class="inl">Назад</a>
{else}
Адрес сайта:&nbsp;&nbsp;&nbsp;
<select name="url_type">
<option value="1">- с www - {$url_www}
<option value="2">- без www - {$url_notwww}
</select><br/><br/>
Включить в файл карты сайта:<br/>
		<input type="checkbox" name="exp_catalog" id="e1" checked>&nbsp;<label for="e1">Каталог товаров</label><br/>
		<input type="checkbox" name="exp_aux" id="e2" checked>&nbsp;<label for="e2">Дополнительные страницы</label><br/>
		<input type="checkbox" name="exp_news" id="e3" checked>&nbsp;<label for="e3">Новости</label><br/><br/>
              <input type=hidden name=creat value="yes"><a href="#"  onclick="document.getElementById('formexp').submit(); return false" class="inl">Создать</a>
              <input type=hidden name=dpt value="modules">
              <input type=hidden name=sub value="sitemap">
{/if}
</form>
</td>
</tr></table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">{$smarty.const.ALERT_ADMIN2}</div></td>
        </tr>
      </table>