{if $articles_editor eq 1}
<form action="{$urlToSubmit}" method=POST name='MainForm' id='MainForm'>
<table class="adn">
<tr class="lineb">
<td align="left">{if $edit_articles}Редактирование статьи{else}Добавление статьи{/if}</td></tr>
<tr class="lins"><td align="left">Автор: <input type=text name='author' value='{if $edit_articles}{$edit_articles.author}{else}{$author}{/if}' style="width: 100px;" class="textp">
&nbsp;&nbsp;&nbsp;&nbsp;
Категория:
<select name="a_categories">
{section name=i loop=$a_categories}
<option value="{$a_categories[i].id}"  {if $edit_articles.category eq $a_categories[i].id}selected{/if}>{$a_categories[i].name}</option>
{/section}
</select>
&nbsp;&nbsp;&nbsp;&nbsp;
{$smarty.const.ADMIN_CURRENT_DATE}: 
<input type=text name='add_date' value="{if $edit_articles}{$edit_articles.add_date}{else}{$current_date}{/if}" style="width: 86px;" class="textp">
&nbsp;&nbsp;&nbsp;&nbsp;
<input type=checkbox name='enabled' value="1" {if $edit_articles.enabled eq 1 or $edit_articles.enabled eq NULL}checked{/if} />&nbsp;Статья доступна
</td></tr>
<tr class="lins"><td align="left">{$smarty.const.ADMIN_NEWS_TITLE}: <input type=text name='title' value='{if $edit_articles}{$edit_articles.title}{else}{$title}{/if}' style="width: 515px;" class="textp"></td></tr>
<tr class="lins"><td align="left">{$smarty.const.ADMIN_PRODUCT_TITLE_PAGE}: <input type=text name='title_page' value='{if $edit_articles}{$edit_articles.title_page}{else}{$title_page}{/if}' style="width: 515px;" class="textp"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">Краткий текст статьи</span></td>
</tr>
<tr><td><textarea name='textToPrePublication' class="admin" id="area1">{if $edit_articles}{$edit_articles.textToPrePublication}{else}{$textToPrePublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">Полный текст статьи</span></td>
</tr>
<tr><td><textarea name='textToPublication' class="admin" id="area2">{if $edit_articles}{$edit_articles.textToPublication}{else}{$textToPublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>

{* отправка подписчикам
<!--table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_MAIL}</span></td>
</tr></table>
<textarea name='textToMail' class="admin" id="area3">{if $edit_news}{$edit_news.textToMail}{else}{$textToMail}{/if}</textarea>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adw"><tr><td><input type=checkbox name="send" {if $send == 1} checked {/if} ></td><td> {$smarty.const.ADMIN_SEND_NEWS_TO_SUBSCRIBERS}</td>
</tr></table-->
*}
<table class="adn"><tr><td class="se5"></td></tr></table>

{* META *}
<table class="adw">
<tr><td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_DESCRIPTION}</span></td>
</tr>
<tr><td align="left"><textarea name='meta_description' id='meta_description' class="adminall" style="margin-right: 38px;">{if $edit_articles}{$edit_articles.meta_description}{else}{$meta_description}{/if}</textarea>
</td></tr>
</table>
</td>
<td width="50%">
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_META_KEYWORDS}</span></td>
</tr>
<tr><td align="left"><textarea name='meta_keywords' id='meta_keywords' class="adminall">{if $edit_articles}{$edit_articles.meta_keywords}{else}{$meta_keywords}{/if}</textarea>
</td></tr>
</table>
</td></tr></table>

<table class="adn"><tr><td class="se5"></td></tr></table>

<a href="#" onclick="document.getElementById('MainForm').submit(); return false" class="inl">{$smarty.const.SAVE_BUTTON}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{$smarty.const.ADMIN_FILE}?dpt=modules&amp;sub=articles" class="inl">{$smarty.const.CANCEL_BUTTON}</a>
<input type=hidden name="{if $edit_articles}update_articles{else}articles_save{/if}" value="1">
{if $edit_articles}<input type=hidden name="edit_articles_id" value="{$edit_articles_id}">{/if}
<input type=hidden name=dpt value=modules>
<input type=hidden name=sub value=articles>
</form>
{* Если включен виз. редактор *}
{if $smarty.const.CONF_EDITOR}
{literal}
<script type="text/javascript" src="fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="fckeditor/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
window.onload = function()
{
var oFCKeditor = new FCKeditor( 'area1',720,346) ;
{/literal}{php}
$dir1 = dirname($_SERVER['PHP_SELF']);
$sourcessrand = array("//" => "/", "\\" => "/");
$dir1 = strtr($dir1, $sourcessrand);
if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
echo "\n";
echo "oFCKeditor.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
{/php}{literal}
oFCKeditor.ReplaceTextarea() ;
var oFCKeditor2 = new FCKeditor( 'area2',720,346) ;
{/literal}{php}
$dir1 = dirname($_SERVER['PHP_SELF']);
$sourcessrand = array("//" => "/", "\\" => "/");
$dir1 = strtr($dir1, $sourcessrand);
if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
echo "\n";
echo "oFCKeditor2.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
{/php}{literal}
oFCKeditor2.ReplaceTextarea() ;
//var oFCKeditor3 = new FCKeditor( 'area3',720,300) ;
//{/literal}{php}
//$dir1 = dirname($_SERVER['PHP_SELF']);
//$sourcessrand = array("//" => "/", "\\" => "/");
//$dir1 = strtr($dir1, $sourcessrand);
//if ($dir1 != "/") $dir2 = "/"; else $dir2 = "";
//echo "\n";
//echo "oFCKeditor3.BasePath = \"".$dir1.$dir2."fckeditor/\";\n";
//echo "oFCKeditor3.ToolbarSet = 'Basic';\n";
//{/php}{literal}
//oFCKeditor3.ReplaceTextarea() ;
}
</script>
{/literal}
{/if}

{if $invalid_date}<script type="text/javascript" defer>alert('{$smarty.const.ERROR_DATE}')</script>{/if}

{* Таблица статей *}
{else}
<!--/ Список категорий сообщений /-->

<br>
<table class="adn">
<tr class="lineb">
<td align="left">Управление категориями статей</td>
<td align="left">Родительская категория</td>
<td align="center" width="30">Del</td>
</tr>
{section name=i loop=$a_categories}
<tr><td colspan="7" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
<tr class="lineybig hover">
<td align="left"><a href="admin.php?dpt=modules&sub=articles&c={$a_categories[i].id}">{$a_categories[i].name}</a></td>
<td align="left">{$a_categories[i].parent_name}</td>
<td align="center" width="30">
<a href="admin.php?dpt=modules&sub=articles&del_a_c={$a_categories[i].id}">X</a>
</td>
</tr>
{/section}
</table>

<table class="adn">
<tr class="lineb">
<td>
Добавить новую категорию
</td>
</tr>
</table>

<!--/ Создание новой категории /-->
<form method="post" action="admin.php?dpt=modules&sub=articles">
<table cellpadding="2" cellspacing="2">
<tr>
<td valign="top">
Название
<br />
<input type="text" name="a_name" size="39">
<td valign="top">
Родительская категория
<br />
<select style="width: 300px;" name="parent">
<option disabled selected>Выберите категорию</option>
{section name=i loop=$a_categories}
<option value="{$a_categories[i].id}">{$a_categories[i].name}</option>
{/section}
</select>
<!--/ Прикрепление категории к категории товара/-->
</td>
<td valign="top">
Прикрепить к категориям каталога
<br />
<select style="width: 300px;" multiple="multiple" size="10" name="attach_to[]">
{section name=i loop=$attach_categories}
<option value="{$attach_categories[i].categoryID}">{$attach_categories[i].name}</option>
{/section}
</select>
</td>
</tr>
<tr>
<td colspan=2 valign="top" style="padding-left:50px">
<input type="submit" name="add_a_category" value="Добавить">
</td>
</tr>
</table>
</form>
<table class="adn">
<tr class="lineb">
<td align="left" class="toph3">{$smarty.const.ADMIN_NEWS_DATEF}</td>
<td align="left" class="toph3">Категория</td>
<td align="left" class="toph3">Автор</td>
<td align="left" width="100%">{$smarty.const.ADMIN_NEWS_NAMEF}</td>
<td align="left" class="toph3">Доступ</td>
<td align="right">{$smarty.const.ADMIN_NEWS_FUCTION}</td>
</tr>{assign var="admhl" value=0}
{section name=i loop=$articles_posts}
                {if $admhl eq 1}
<tr><td colspan="3" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
{else}{assign var="admhl" value=1}{/if}
<tr class="lineybig hover">
<td align="left">{$articles_posts[i].add_date}</td>
<td align="left" style="white-space:nowrap;">{$articles_posts[i].cat_a_name}</td>
<td align="left">{$articles_posts[i].author}</td>
<td align="left">{$articles_posts[i].title}</td>
<td align="center">
{if $articles_posts[i].enabled eq 1}
<a href="admin.php?dpt=modules&sub=articles&off_a_p={$articles_posts[i].AID}" alt="Выключить"><img src="data/admin/button_ok.png" border="0"></a>
{else}
<a href="admin.php?dpt=modules&sub=articles&on_a_p={$articles_posts[i].AID}" alt="Включить"><img src="data/admin/button_off.png" border="0"></a>
{/if}</td>
<td align="right"><a href="index.php?fullarticles={$articles_posts[i].AID}">{$smarty.const.ADMIN_SHOW_AUX_PAGE}</a>&nbsp;|&nbsp;<a href="{$urlToSubmit}&amp;edit={$articles_posts[i].AID}">{$smarty.const.ADMIN_EDIT_SMALL}</a>&nbsp;|&nbsp;<a href="#" onclick="confirmDelete('{$articles_posts[i].AID}','{$smarty.const.QUESTION_DELETE_CONFIRMATION}','{$urlToDelete}&amp;delete=');">X</a></td></tr>
{sectionelse}
<tr>
<td align="center" colspan="3" height="20">{$smarty.const.STRING_EMPTY_LIST}</td>
</tr>
{/section}
{if $navigator}
<tr><td colspan="6" class="navigator">{$navigator}</td></tr></table>
<table class="adn"><tr><td class="se5"></td></tr></table>
{else}</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
{/if}
{if $smarty.get.c}
<a href="admin.php?dpt=modules&sub=articles" class="inl">Показать все статьи</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
{/if}
<a href="{$urlToSubmit}&amp;add_articles" class="inl">Добавить статью</a>
{/if}
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">{$smarty.const.ALERT_ADMIN2}</div></td>
        </tr>
      </table>