{literal}
<script type="text/javascript">
	$('.pgAddRwBtt').live('click',function(){
		$('.pgAddRw').toggle(200);
	});
	
	$('.addRwBtt').live('click', function(){
		form = $('#addRW');
		chType = $(form).find('select[name=rType]').val();
		
		if (chType == '') {
			alert('Укажите пожалуйста тип отзыва');
		} else {
			rName = $(form).find('input[name=rName]').val();
			rText = $(form).find('textarea[name=rText]').val();
			rCompany = $(form).find('input[name=rCompany]').val();
			en_rName = $(form).find('input[name=en_rName]').val();
			en_rText = $(form).find('textarea[name=en_rText]').val();
			en_rCompany = $(form).find('input[name=en_rCompany]').val();
			ch_rName = $(form).find('input[name=ch_rName]').val();
			ch_rText = $(form).find('textarea[name=ch_rText]').val();
			ch_rCompany = $(form).find('input[name=ch_rCompany]').val();
			rType = $(form).find('select[name=rType]').val();
			$.ajax({
				type:'POST',
				url: location.href,
				data:{ajaxReview:1, addRewiev:1, rName:rName, rText:rText, rCompany:rCompany, en_rName:en_rName, en_rText:en_rText, rCompany:rCompany, ch_rName:ch_rName, ch_rText:ch_rText, ch_rCompany:ch_rCompany, rType:rType},
				success: function(e){
					$('.afterThis').after(e);
					$('.noRew').hide();
					$(form).find('input').val('');
					$(form).find('textarea').val('');
					$(form).find('select').val('');
				}
			});
		}
	});
	
	$('.editBtt').live('click', function(){
		rwID = $(this).attr('rel');
		$('.editRw_'+rwID).toggle(200);
	});
	
	$('.saveRwBtt').live('click', function(){
		rwID = $(this).attr('rel');
		form = $('#rForm_'+rwID);
		
		chType = $(form).find('select[name=rType]').val();
		
		if (chType == '') {
			alert('Укажите пожалуйста тип отзыва');
		} else {
			rName = $(form).find('input[name=rName]').val();
			rText = $(form).find('textarea[name=rText]').val();
			rCompany = $(form).find('input[name=rCompany]').val();
			en_rName = $(form).find('input[name=en_rName]').val();
			en_rText = $(form).find('textarea[name=en_rText]').val();
			en_rCompany = $(form).find('input[name=en_rCompany]').val();
			ch_rName = $(form).find('input[name=ch_rName]').val();
			ch_rText = $(form).find('textarea[name=ch_rText]').val();
			ch_rCompany = $(form).find('input[name=ch_rCompany]').val();
			rType = $(form).find('select[name=rType]').val();
			$.ajax({
				type:'POST',
				url: location.href,
				data:{ajaxReview:1, saveRewiev:1, rName:rName, rText:rText, rCompany:rCompany, en_rName:en_rName, en_rText:en_rText, rCompany:rCompany, ch_rName:ch_rName, ch_rText:ch_rText, ch_rCompany:ch_rCompany, rType:rType, rId:rwID},
				success: function(e){
					newRName = ( e.split(":") )[0];
					newRCompany = ( e.split(":") )[1];
					newRTypeVal = ( e.split(":") )[2];
					
					$('.rwName_'+rwID).text(newRName);
					$('.rwCompany_'+rwID).text(newRCompany);
					$('.rwType_'+rwID).text(newRTypeVal);
					
					$('.editRw_'+rwID).hide(200);
					alert('Успешно сохранено!');
				}
			});
		}
	});
	
	$('.remRw').live('click', function(){
		rwID = $(this).attr('rel');
				
		if (confirm("Удалить отзыв?")) {
			$.ajax({
				type:'POST',
				url: location.href,
				data:{ajaxReview:1, remRewiev:1, rId:rwID},
				success: function(e){					
					if(e == '1') {
						$('.line_'+rwID).remove();
						$('.editRw_'+rwID).remove();
						$('.separ_'+rwID).remove();
					}
					setTimeout(function(){
						cntlines = $('.editRW').length;
						if (cntlines < 1) {
							$('.noRew').show(200);
						}
					},201);
				}
			});
		}
	});
	
</script>
{/literal}


<div class="pgAddRwW">
	<div class="pgAddRwBtt">Добавить комментарий</div>
	<div class="clear"></div>
	<div class="pgAddRw">
	<form action="" id="addRW">
		<table cellspacing="0" cellpadding="0" border="0" width="">
			<tr>
				<td width="50%">
					Компания:<br> 
					Русский<br>
					<input type="text" name="rCompany"/><br>
					Английский<br>
					<input type="text" name="en_rCompany"/><br>
					Китайский<br>
					<input type="text" name="ch_rCompany"/><br>
				</td>
				<td width="50%">
					Имя автора:<br>
					Русский<br>
					<input type="text" name="rName"/><br>
					Английский<br>
					<input type="text" name="en_rName"/><br>
					Китайский<br>
					<input type="text" name="ch_rName"/><br>
				</td>
			</tr>
			<tr>
				<td width="" colspan="2">
					Текст отзыва:<br>
					Русский<br>
					<textarea name="rText" id="" cols="10" rows="10"></textarea>
					Английский<br>
					<textarea name="en_rText" id="" cols="10" rows="10"></textarea>
					Китайский<br>
					<textarea name="ch_rText" id="" cols="10" rows="10"></textarea>
				</td>
			</tr>
			<tr>
				<td width="50%">
					Тип отзыва: 
					<select name="rType" id="">
						<option value="">Выбрать</option>
						<option value="comp">О компании</option>
						<option value="compV">О компании "Видео"</option>
						<option value="train">Тренинги и обучение</option>
						<option value="trainV">Тренинги "Видео"</option>
					</select>
				</td>
				<td width="50%">
					<div class="addRwBtt">Добавить</div>
					<div class="clear"></div>
				</td>
			</tr>
		</table>
	</form>
	<table><tr><td class="separ"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr></table>
	</div>
</div>
<br>

<table class="adn">
	<tr class="lineb afterThis">
		<td align="left" width="30%" class="toph3">Компания</td>
		<td align="left" width="30%">Имя</td>
		<td align="left" width="30%" class="toph3">Тип</td>
		<td align="left" width="80px"></td>
		<td align="left" width="45px"></td>
	</tr>
{if $reviews}
{section name=i loop=$reviews}
	<tr class="lineybig hover line_{$reviews[i].rID}">
		<td class="rwCompany_{$reviews[i].rID}">{$reviews[i].rCompany}</td>
		<td class="rwName_{$reviews[i].rID}">{$reviews[i].rName}</td>
		<td class="rwType_{$reviews[i].rID}">{$reviews[i].rTypeVal}</td>
		<td><div class="editBtt" rel="{$reviews[i].rID}">Радактировать</div></td>
		<td>
			<div class="remRw" rel="{$reviews[i].rID}">Удалить</div>
		</td>
	</tr>
	<tr class="editRw_{$reviews[i].rID} editRW">
		<td colspan="5">
		<form action="" id="rForm_{$reviews[i].rID}">
			
		<table cellspacing="0" cellpadding="0" border="0" width="">
			<tr>
				<td width="50%">
					Компания:<br> 
					Русский<br>
					<input type="text" name="rCompany" value="{$reviews[i].rCompany}"/><br>
					Английский<br>
					<input type="text" name="en_rCompany" value="{$reviews[i].en_rCompany}"/><br>
					Китайский<br>
					<input type="text" name="ch_rCompany" value="{$reviews[i].ch_rCompany}"/><br>
				</td>
				<td width="50%">
					Имя автора:<br>
					Русский<br>
					<input type="text" name="rName" value="{$reviews[i].rName}"/><br>
					Английский<br>
					<input type="text" name="en_rName" value="{$reviews[i].en_rName}"/><br>
					Китайский<br>
					<input type="text" name="ch_rName" value="{$reviews[i].ch_rName}"/><br>
				</td>
			</tr>
			<tr>
				<td width="" colspan="2">
					Текст отзыва:<br>
					Русский<br>
					<textarea name="rText" id="" cols="10" rows="10">{$reviews[i].rText}</textarea>
					Английский<br>
					<textarea name="en_rText" id="" cols="10" rows="10">{$reviews[i].en_rText}</textarea>
					Китайский<br>
					<textarea name="ch_rText" id="" cols="10" rows="10">{$reviews[i].ch_rText}</textarea>
				</td>
			</tr>
			<tr>
				<td width="50%">
					Тип отзыва: 
					<select name="rType" id="">
						<option value="">Выбрать</option>
						<option value="comp" {if $reviews[i].rType eq 'comp'} selected="selected"{/if}>О компании</option>
						<option value="compV" {if $reviews[i].rType eq 'compV'} selected="selected"{/if}>О компании "Видео"</option>
						<option value="train" {if $reviews[i].rType eq 'train'} selected="selected"{/if}>Тренинги и обучение</option>
						<option value="trainV" {if $reviews[i].rType eq 'trainV'} selected="selected"{/if}>Тренинги "Видео"</option>
					</select>
				</td>
				<td width="50%">
					<div class="saveRwBtt" rel="{$reviews[i].rID}">Сохранить</div>
					<div class="clear"></div>
				</td>
			</tr>
		</table>
		
		</form>
		
		</td>
	</tr>
	<tr class="separ_{$reviews[i].rID}"><td colspan="5" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
{/section}
{else}
	<tr class="noRew">
		<td colspan="5" style="text-align:center; padding:4px;">
			Нет отзывов
		</td>
	</tr>
{/if}
</table>
