{if $news_editor eq 1}
{literal}
<script type="text/javascript">
    $(function() {
       $('#languages').tabs({ fxFade: true, fxSpeed: 'fast' });
		$('#image').change(function() {

			//console.log('news fff');

			var input = $(this)[0];

			//console.log(input);

			if ( input.files && input.files[0] ) {
				if ( input.files[0].type.match('image.*') ) {
					var reader = new FileReader();
					reader.onload = function(e) { $('#image_preview').attr('src', e.target.result); }
					reader.readAsDataURL(input.files[0]);
				} else console.log('is not image mime type');
			} else console.log('not isset files data or files API not supordet');
		});
    });
</script>
{/literal}
{if $edit_news}
<form action="" name="moveNews" method="POST">

	<table class="adn">
		<tr class="lineb">
			<td align="left">
				Перенести в раздел:
			</td>
		</tr>
		<tr class="lins"><td align="left">
			<select name="moveCat" id="">
				<option value="">Выбрать...</option>
				<option value="diary">Производственный дневник</option>
				<option value="company">Новости компании</option>
			</select>
			<input type="submit" name="moveNewsTo" value="Перенести"/>
			{if $noCat}
				<br>
				Не выбрана категория
			{/if}
		</td></tr>
	</table>
	<table class="adn"><tbody><tr><td class="separ"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr><tr><td class="se5"></td></tr></tbody></table>
</form>
{/if}
<form action="{$urlToSubmit}" method=POST name='MainForm' id='MainForm' enctype='multipart/form-data'>
<div id="languages">
    <ul>
        <li class="tabs-selected"><a href="#rusLng"><span>Русская версия</span></a></li>
        <li><a href="#enLng"><span>Английская версия</span></a></li>
        <li><a href="#chLng"><span>Китайская версия</span></a></li>
    </ul>
	<div id="rusLng">
<table class="adn">
<tr class="lineb">
<td align="left">{if $edit_news}{$smarty.const.STRING_NEWS2}{else}{$smarty.const.ADMIN_NEW_NEWSARTICLE}{/if}</td></tr>
<tr class="lins"><td align="left">{$smarty.const.ADMIN_NEWS_TITLE}: <input type=text name='title' value='{if $edit_news}{$edit_news.title}{else}{$title}{/if}' style="width: 440px;" class="textp">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$smarty.const.ADMIN_CURRENT_DATE}: <input type=text name='add_date' value="{if $edit_news}{$edit_news.add_date}{else}{$current_date}{/if}" style="width: 86px;" class="textp"></td></tr>
<tr class="lins"><td align="left">Псевдоним (алиас): <i>/blog/</i>&nbsp;<input type=text name='alias' value='{if $edit_news}{$edit_news.alias}{else}{$alias}{/if}' style="width: 520px;" class="textp">&nbsp;<i>.html</i></td></tr>
<tr class="lins"><td align="left">Старый URL: <input type=text name='old_url' value='{if $edit_news}{$edit_news.old_url}{else}{$old_url}{/if}' style="width: 520px;" class="textp"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION1}</span></td>
</tr>
<tr><td><textarea name='textToPrePublication' class="admin" id="area1">{if $edit_news}{$edit_news.textToPrePublication}{else}{$textToPrePublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION2}</span></td>
</tr>
<tr><td><textarea name='textToPublication' class="admin" id="area2">{if $edit_news}{$edit_news.textToPublication}{else}{$textToPublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>

	</div>
	<div id="enLng">
<table class="adn">
<tr class="lineb">
<td align="left">{if $edit_news}{$smarty.const.STRING_NEWS2}{else}{$smarty.const.ADMIN_NEW_NEWSARTICLE}{/if}</td></tr>
<tr class="lins"><td align="left">{$smarty.const.ADMIN_NEWS_TITLE}: <input type=text name='en_title' value='{if $edit_news}{$edit_news.en_title}{/if}' style="width: 440px;" class="textp"></td></tr>
<tr class="lins"><td align="left">Старый URL: <input type=text name='en_old_url' value='{if $edit_news}{$edit_news.en_old_url}{else}{$en_old_url}{/if}' style="width: 520px;" class="textp"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION1}</span></td>
</tr>
<tr><td><textarea name='en_textToPrePublication' class="admin" id="en_area1">{if $edit_news}{$edit_news.en_textToPrePublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION2}</span></td>
</tr>
<tr><td><textarea name='en_textToPublication' class="admin" id="en_area2">{if $edit_news}{$edit_news.en_textToPublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>	
	</div>
	<div id="chLng">
<table class="adn">
<tr class="lineb">
<td align="left">{if $edit_news}{$smarty.const.STRING_NEWS2}{else}{$smarty.const.ADMIN_NEW_NEWSARTICLE}{/if}</td></tr>
<tr class="lins"><td align="left">{$smarty.const.ADMIN_NEWS_TITLE}: <input type=text name='ch_title' value='{if $edit_news}{$edit_news.ch_title}{/if}' style="width: 440px;" class="textp"></td></tr>
<tr class="lins"><td align="left">Старый URL: <input type=text name='ch_old_url' value='{if $edit_news}{$edit_news.ch_old_url}{else}{$ch_old_url}{/if}' style="width: 520px;" class="textp"></td></tr>
</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION1}</span></td>
</tr>
<tr><td><textarea name='ch_textToPrePublication' class="admin" id="ch_area1">{if $edit_news}{$edit_news.ch_textToPrePublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn">
<tr class="linsz">
<td align="left"><span class="titlecol2">{$smarty.const.ADMIN_TEXT_TO_PUBLICATION2}</span></td>
</tr>
<tr><td><textarea name='ch_textToPublication' class="admin" id="ch_area2">{if $edit_news}{$edit_news.ch_textToPublication}{/if}</textarea></td>
</tr>
</table>
<table class="adn"><tr><td class="se6"></td></tr></table>



	</div>
</div>
<br>
	<table class="adwf">
		<tr><td>
			<!--<div><img alt="" id="image_preview" src="https://lh6.googleusercontent.com/-L17_eJqIsDI/UzbeiYk96RI/AAAAAAAASP4/SbOqhSuEyU4/s100-no/image-is-not-uploaded.jpg"></div> -->
			<input type="file" id="image" name="news_file" accept="image/*"><!--<a href="#" class="submit button">Загрузить файлы</a>--></td></tr>
		{if $edit_news}<div><img id="image_preview" width= "150" src="/data/images/news/{$edit_news.news_file}"></div>{/if}
	</table>
<table class="adw"><tr><td><input type=checkbox name="send" {if $send == 1} checked {/if} ></td><td> {$smarty.const.ADMIN_SEND_NEWS_TO_SUBSCRIBERS}</td>
</tr></table>
<table class="adn"><tr><td class="se5"></td></tr></table>
<a href="#" onclick="document.getElementById('MainForm').submit(); return false" class="inl">{$smarty.const.SAVE_BUTTON}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{$smarty.const.ADMIN_FILE}?dpt=modules&amp;sub=news" class="inl">{$smarty.const.CANCEL_BUTTON}</a>
<input type=hidden name="{if $edit_news}update_news{else}news_save{/if}" value="1">
{if $edit_news}<input type=hidden name="edit_news_id" value="{$edit_news_id}">{/if}
<input type=hidden name=dpt value=modules>
<input type=hidden name=sub value=news>
</form>
{if $smarty.const.CONF_EDITOR}
{literal}
<script type="text/javascript" src="/fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="/fckeditor/ckfinder/ckfinder.js"></script>

<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="ckeditor/config.js"></script>

<script type="text/javascript">


///////////////////////////////////////////
$(window).load(function()
{


CKEDITOR.replace('textToPrePublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('en_textToPrePublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('ch_textToPrePublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});


CKEDITOR.replace('textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
    
});

CKEDITOR.replace('en_textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});

CKEDITOR.replace('ch_textToPublication',
{
    toolbar : 'Standart',
    extraPlugins: 'imageuploader'
});
///////////////////////////////////////////
//console.log('news');



/*
var oFCKeditor = new FCKeditor( 'area1',720,346) ;
oFCKeditor.BasePath = "/fckeditor/";
oFCKeditor.ReplaceTextarea() ;

var oFCKeditor2 = new FCKeditor( 'area2',720,346) ;
oFCKeditor2.BasePath = "/fckeditor/";
oFCKeditor2.ReplaceTextarea() ;


setTimeout(function(){

	var oFCKeditor_en = new FCKeditor( 'en_area1',720,346) ;
	oFCKeditor_en.BasePath = "/fckeditor/";
	oFCKeditor_en.ReplaceTextarea() ;
},1500);

setTimeout(function(){
	var oFCKeditor2_en = new FCKeditor( 'en_area2',720,346) ;
	oFCKeditor2_en.BasePath = "/fckeditor/";
	oFCKeditor2_en.ReplaceTextarea() ;
},1800);


setTimeout(function(){

	var oFCKeditor_ch = new FCKeditor( 'ch_area1',720,346) ;
	oFCKeditor_ch.BasePath = "/fckeditor/";
	oFCKeditor_ch.ReplaceTextarea() ;

},2200);
setTimeout(function(){
	var oFCKeditor2_ch = new FCKeditor( 'ch_area2',720,346) ;
	oFCKeditor2_ch.BasePath = "/fckeditor/";
	oFCKeditor2_ch.ReplaceTextarea() ;
},2500);

*/


});
</script>
{/literal}
{/if}
{if $invalid_date}<script type="text/javascript" defer>alert('{$smarty.const.ERROR_DATE}')</script>{/if}
{else}
<form action="" method="POST" name="saveNs">
<table class="adn">
<tr class="lineb">
<td align="left" class="toph3">Главная</td>
<td align="left" class="toph3">Позиция</td>
<td align="left" class="toph3">{$smarty.const.ADMIN_NEWS_DATEF}</td>
<td align="left" width="100%">{$smarty.const.ADMIN_NEWS_NAMEF}</td>
<td align="left" width="100%">Сортировка</td>
<td align="right">{$smarty.const.ADMIN_NEWS_FUCTION}</td>
</tr>{assign var="admhl" value=0}
{section name=i loop=$news_posts}
                {if $admhl eq 1}
<tr><td colspan="6" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
{else}{assign var="admhl" value=1}{/if}
<tr class="lineybig hover">
<td align="center"><input type="checkbox" name="main_{$news_posts[i].NID}" {if $news_posts[i].main == 1}checked="checked"{/if} /></td>
<td align="left"><input class="prc prcss" type="text" name="mnsrt_{$news_posts[i].NID}" value="{$news_posts[i].main_sort}" /></td>
<td align="left">{$news_posts[i].add_date}</td>
<td align="left">{$news_posts[i].title}</td>
<td align="left"><input class="prc prcss" type="text" name="sort_{$news_posts[i].NID}" value="{$news_posts[i].sort}" /></td>
<td align="right"><a href="index.php?fullnews={$news_posts[i].NID}">{$smarty.const.ADMIN_SHOW_AUX_PAGE}</a>&nbsp;|&nbsp;<a href="{$urlToSubmit}&amp;edit={$news_posts[i].NID}">{$smarty.const.ADMIN_EDIT_SMALL}</a>&nbsp;|&nbsp;<a href="#" onclick="confirmDelete('{$news_posts[i].NID}','{$smarty.const.QUESTION_DELETE_CONFIRMATION}','{$urlToDelete}&amp;delete=');">X</a></td></tr>
{sectionelse}
<tr>
<td align="center" colspan="6" height="20">{$smarty.const.STRING_EMPTY_LIST}</td>
</tr>
{/section}
{if $navigator}
<tr><td colspan="6" class="navigator">{$navigator}</td>
</tr></table>
<table class="adn"><tr><td class="se5"></td></tr></table>
{else}</table>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
{/if}
<a href="{$urlToSubmit}&amp;add_news" class="inl">{$smarty.const.ADMIN_NEWS_ADD}</a>

<button type="submit" name="saveNewsSetts" style="float:right;">Сохранить настройки новостей</button>
<div style="clear:both;"></div>
</form>
{/if}
<table class="adn"><tr><td class="se6"></td></tr></table>
<table class="adn"><tr><td class="help"><span class="titlecol2">{$smarty.const.USEFUL_FOR_YOU}</span><div class="helptext">{$smarty.const.ALERT_ADMIN2}</div></td>
        </tr>
      </table>