{literal}
<script type="text/javascript">
	$('.addPC').live('click', function(){
		form = $('#addPCnt');
		
		port = $(form).find('select[name=pcPortAdd]').val();
		mat = $(form).find('select[name=pcMatAdd]').val();
		finish = $(form).find('select[name=pcFinishAdd]').val();
		city = $(form).find('select[name=pcCityAdd]').val();
		vagon = $(form).find('input[name=pcPriceVAdd]').val();
		kontainer = $(form).find('input[name=pcPriceKAdd]').val();
			
		$.ajax({
			type:'POST',
			url: location.href,
			data:{ajaxPCounter:1, port:port, mat:mat, finish:finish, city:city, vagon:vagon, kontainer:kontainer},
			success: function(e){
				$('.beforeThis').before(e);
				$('.noRew').hide();
				$(form).find('input.txt').val('');
				$(form).find('textarea').val('');
				$(form).find('select').val('');
				}
			});
	});
	
	$('.remPC').live('click', function(){
		rwID = $(this).attr('rel');
				
		if (confirm("Удалить вариант с ID "+rwID+"?")) {
			$.ajax({
				type:'POST',
				url: location.href,
				data:{ajaxPCounter:1, remRewiev:1, id:rwID},
				success: function(e){					
					if(e == '1') {
						$('.line_'+rwID).remove();
						$('.separ_'+rwID).remove();
					}
					setTimeout(function(){
						cntlines = $('.lineybig').length;
						if (cntlines < 1) {
							$('.noRew').show(200);
						}
					},201);
				}
			});
		}
	});
	
	
	$('.addPCParam').live('click', function(){
		erPT = '';
		form = $('#addPCPar');
		parTable = $(form).find('select[name=pcPCParam]').val();
		parVal = $(form).find('input[name=pcPCVal]').val();
		if(parTable == '') {
			erPT += 'Укажите параметр!\n';
		} 
		if(parVal == '') {
			erPT += 'Укажите значение!\n';
		} 
		
		if(erPT == '') {
			$.ajax({
				type:'POST',
				url: location.href,
				data:{ajaxPCounter:1, parTable:parTable, parVal:parVal},
				success: function(e){
					$('.'+parTable).append(e);
					alert('Новое значение добавлено!');
					$(form).find('input.txt').val('');
					$(form).find('select').val('');
				}
			});
		} else {
			alert(erPT);
		}
		
	});
	
</script>
{/literal}


<div class="pgAddRwW">
<table class="adw">
    <tr>
        <td valign="top" align="left"><span class="titlecol2">Добавить значение для выбора</span></td>
     </tr>
</table>
<br>
<form action=""  id="addPCPar">
		<table class="adn" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr class="lineb afterThis">
				<td width="">
					Параметр
				</td>
				<td width="">
					Значение
				</td>
				<td width="">
					
				</td>
			</tr>
			<tr class="lineybig hover_">
				<td width="">
					<select name="pcPCParam" id="">
						<option value="">Выбрать</option>
						<option value="pc_china">Порт отгрузки</option>
						<option value="pc_materials">Материал</option>
						<option value="pc_finishing">Обработка</option>
						<option value="pc_russia">Город назначения</option>
					
					</select>
				</td>
				
				<td width="">
					<input type="text" class="txt" name="pcPCVal"/>
				</td>
				<td width="">
					<input type="button" style="cursor:pointer" class="addPCParam" value="Добавить"/>
				</td>
			</tr>
			<tr ><td class="separ" colspan="7"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr>
		</table>
	</form>
	<table><tr><td class="separ"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr></table>
	<br>


<table class="adw">
    <tr>
        <td valign="top" align="left"><span class="titlecol2">Добавить запись</span></td>
     </tr>
</table>
<br>
	<div class="clear"></div>
	
	<form action="" id="addPCnt">
		<table class="adn" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr class="lineb afterThis">
				<td width="">
					Порт отгрузки
				</td>
				<td width="">
					Материал
				</td>
				<td width="">
					Обработка
				</td>
				<td width="">
					Город назначения
				</td>
				<td width="">
					Цена за вагон
				</td>
				<td width="">
					Цена за контейнер
				</td>
				<td width="">
					
				</td>
			</tr>
			<tr class="lineybig hover_">
				<td width="">
					<select name="pcPortAdd" class="pc_china">
						<option value="">Выбрать</option>
					{section name=p loop=$pcPortAdd}
						<option value="{$pcPortAdd[p].id}">{$pcPortAdd[p].name}</option>
					{/section}
					</select>
				</td>
				<td width="">
					<select name="pcMatAdd"  class="pc_materials">
						<option value="">Выбрать</option>
					{section name=m loop=$pcMatAdd}
						<option value="{$pcMatAdd[m].id}">{$pcMatAdd[m].name}</option>
					{/section}
					</select>
				</td>
				<td width="">
					<select name="pcFinishAdd" class="pc_finishing">
						<option value="">Выбрать</option>
					{section name=f loop=$pcFinishAdd}
						<option value="{$pcFinishAdd[f].id}">{$pcFinishAdd[f].name}</option>
					{/section}
					</select>
				</td>
				<td width="">
					<select name="pcCityAdd"  class="pc_russia">
						<option value="">Выбрать</option>
					{section name=c loop=$pcCityAdd}
						<option value="{$pcCityAdd[c].id}">{$pcCityAdd[c].name}</option>
					{/section}
					</select>
				</td>
				<td width="">
					<input type="text" class="txt" name="pcPriceVAdd"/>
				</td>
				<td width="">
					<input type="text" class="txt" name="pcPriceKAdd"/>
				</td>
				<td width="">
					<input type="button" style="cursor:pointer" class="addPC" value="Добавить"/>
				</td>
			</tr>
			<tr ><td class="separ" colspan="7"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr>
		</table>
	</form>
	<table><tr><td class="separ"><img class="sep" alt="" src="data/admin/pixel.gif"></td></tr></table>
	
</div>
<br>
<table class="adw">
    <tr>
        <td valign="top" align="left">
			<span class="titlecol2">Список цен</span>
		</td>
     </tr>
</table>
<br>
<table class="adn">
	<tr class="lineb ">
		<td align="left" width="20" class="toph3">ID</td>
		<td align="left" width="150" class="toph3">Порт отгрузки</td>
		<td align="left" width="150">Материал</td>
		<td align="left" width="150" class="toph3">Обработка</td>
		<td align="left" width="150">Город назначения</td>
		<td align="left" width="150">Цена за вагон</td>
		<td align="left" width="150">Цена за контейнер</td>
		<td align="left" width="45px"></td>
	</tr>
{if $pcPoint}
{section name=i loop=$pcPoint}
	<tr class="lineybig hover line_{$pcPoint[i].id}">
		<td >{$pcPoint[i].id}</td>
		<td >{$pcPoint[i].china}</td>
		<td >{$pcPoint[i].material}</td>
		<td >{$pcPoint[i].finishing}</td>
		<td>{$pcPoint[i].russia}</td>
		<td >{$pcPoint[i].wagon}</td>
		<td>{$pcPoint[i].container}</td>
		<td>
			<div class="remPC" style="color:red; cursor:pointer" rel="{$pcPoint[i].id}">Удалить</div>
		</td>
	</tr>
	
	<tr class="separ_{$pcPoint[i].id}"><td colspan="8" class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr>
{/section}
{else}
	<tr class="noRew">
		<td colspan="8" style="text-align:center; padding:4px;">
			Нет отзывов
		</td>
	</tr>
{/if}
	<tr class="beforeThis">
		<td></td>
	</tr>
</table>
