*{color:#000;}
* html textarea.admin{height:274px;margin:-1px 0;width:720px;}
.bas{color:#b00;}
.dtree .clip{overflow:hidden;}
.dtree a.nodeSel{font-weight:bold;}
.dtree img{vertical-align:middle;}
.error{font-weight:bold;text-transform:uppercase;}
.gryy,a.greyy:hover,a.greyy{color:#ACA899;}
.helptext{padding:8px 0 0 1px;}
.highslide{cursor:url(zoomin.cur), pointer;outline:none;}
.highslide-active-anchor img{visibility:hidden;}
.highslide-display-block{display:block;}
.highslide-image{background:#FFF;border:4px solid #FFF;}
.highslide-loading{background:#000;border:1px solid #FFF;color:#FFF;display:block;font-size:100%;font-weight:bold;padding:3px;text-decoration:none;}
.highslide-move{cursor:move;}
.highslide-overlay,.highslide-display-none{display:none;}
.highslide-wrapper{background:#FFF;}
.marg{margin-top:3px;}
.titlecol{color:#C5D2ED;font-family:Arial, Tahoma, Verdana;font-size:170%;}
.titlecol2{color:#4E6592;font-family:Arial, Tahoma, Verdana;font-size:170%;}
.topj,table.ggg{margin-top:5px;}
:focus{outline:none;}
a img,img{border:none;}
a img,img,a{outline:none!important;}
a,tr.link td a:hover{color:#000;text-decoration:none;}
a.highslide-full-expand{background:url('fullexpand.gif') no-repeat;display:block;height:34px;margin:0 10px 10px 0;width:34px;}
a.highslide-loading,a.highslide-loading:hover{color:#FFF;font-weight:bold;text-decoration:none;}
a.inl,tr.link td a{color:#000;text-decoration:underline;}
a.inl:hover,a.sin:hover,td.last a,td.last a:hover{text-decoration:none;}
a.liv,td.navigator a{color:#4E6592;text-decoration:underline!important;}
a.liv:hover,td.navigator a:hover{color:#4E6592;text-decoration:none!important;}
a.sin{color:#0F68CA;text-decoration:underline;}
a:hover{text-decoration:underline;}
body{background:#fff;font-family:Tahoma, Arial, Verdana;font-size:70%;font-style:normal;text-align:left;}
div.dvmenu{background:#D6DFF7;border:1px solid #fff;border-top:none;display:block;padding:10px 10px 10px 12px;text-align:left;width:162px;}
div.dvmenusmall{background:#D6DFF7;border:1px solid #fff;border-top:none;display:block;padding:10px 10px 8px 12px;text-align:left;width:162px;}
form,body,html{border:none;margin:0;padding:0;}
html{background:#fff;font-size:100.1%;}
html.admin,body.ibody{background:url('fon.gif') repeat-y top left fixed #fff;}
img.sep{height:1px;width:100%;}
img.stop{margin:0 4px 4px 0;}
input.file{margin:0;padding:1px;}
input.gryy{border:1px solid #ccc;color:#ACA899;}
input.new{border:1px solid #8DA8C0;margin:0;padding:1px;}
input.prc{border:1px solid #8DA8C0;margin:0;padding:1px;text-align:left;}
input.prcs{width:52px;}
input.prcss{width:33px;}
input.round{height:14px;margin:0;padding:0;width:14px;}
input.textp{border:1px solid #8DA8C0;font-size:100%;margin:0;padding:1px;}
li{margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
ol{margin-left:0;margin-right:0;padding-left:24px;padding-right:0;}
p{font-family:Tahoma, Arial, Verdana;}
select,input,div,span,font,textarea{font-family:Tahoma, Arial, Verdana;font-size:100%;}
table.adn{border:none;border-collapse:collapse;width:100%;}
table.adw,table.orion{border:none;border-collapse:collapse;}
table.br{border:1px solid #80A2D9;border-top:0;}
table.orion tr td{padding:3px 5px;}
table.usert td{padding:12px;}
table.usert2 td,input.pcw{padding:2px;}
td,select,table.houp tr td{padding:0;}
td.badd{padding:12px 0 12px 5px;}
td.cssel{padding:2px 4px 2px 0;}
td.dvmenu{padding:8px 10px 13px;text-align:left;}
td.head{background:url('fonbot.gif');height:21px;text-align:left;vertical-align:middle;}
td.head2{background:url('001.gif');height:18px;}
td.head3{color:#215DC6;cursor:default;font-weight:bold;height:20px;padding-left:14px;text-align:left;text-decoration:none;vertical-align:middle;}
td.head4{color:#215DC6;cursor:pointer;font-weight:bold;height:20px;padding-left:14px;text-align:left;text-decoration:none;vertical-align:middle;width:99%;}
td.head7{padding-right:4px;}
td.help{background:#E7ECFF;border:1px dashed #95B0DF;padding:12px 16px 16px;text-align:left;}
td.help .titlecol2{color:#000;font-family:Arial, Tahoma, Verdana;font-size:170%;}
td.indexb1{background:#6F8DDF;padding:0 0 14px;vertical-align:top;width:212px;}
td.l1{text-align:left;vertical-align:top;white-space:nowrap;}
td.l2{padding:1px 5px 0 0;text-align:left;vertical-align:top;width:99%;}
td.l3{padding-top:1px;text-align:right;vertical-align:top;white-space:nowrap;}
td.listsl{padding:1px 5px 1px 0;text-align:left;vertical-align:middle;}
td.listsr{height:48px;padding:0 10px 0 3px;text-align:right;vertical-align:middle;white-space:nowrap;width:1%;}
td.navigator{background:#D6DFF7;border:1px solid #fff;color:#4E6592;font-weight:bold;height:22px;padding:0 4px;text-align:right;vertical-align:middle;}
td.nbc{background:#4C65C6;height:48px;text-align:left;vertical-align:top;}
td.nbc2{height:30px;text-align:left;vertical-align:middle;}
td.nbcl{background:#80A2D9;height:1px;}
td.se{height:12px;}
td.se5{height:14px;}
td.se6{height:24px;}
td.separ{background:#D6DFF7;border:1px solid #fff;height:1px; padding: 0px !important;}
td.settab input{color:#000;margin:0;padding:1px;}
td.splin{padding-top:20px;text-align:left;vertical-align:top;width:100%;}
td.toph{padding-bottom:2px;white-space:nowrap;}
td.toph2{padding-right:8px;}
td.wsp,td.toph3{white-space:nowrap;}
td.zeb{padding:18px;}
td.zeb2{padding-left:18px;padding-right:18px;}
textarea{border:1px solid #7F9DB9;margin:0;padding:1px;}
textarea.admin{height:274px;width:720px;}
textarea.adminall{height:100px;width:338px;}
textarea.adminsmall{height:140px;width:600px;}
textarea.textr{height:110px;width:550px;}
tr.ell td{background:#F0F0F0;}
tr.hover:hover{background:#E7ECFF;}
tr.lineb td{background:#D6DFF7;border:1px solid #fff;color:#4E6592;font-weight:bold;padding:4px 5px;vertical-align:middle;}
tr.linebs td{background:#F0F0F0;border:1px solid #fff;font-weight:bold;height:22px;padding:0 5px;vertical-align:middle;}
tr.linex td{padding:0 5px;}
tr.liney td{border-left:1px solid #fff;border-right:1px solid #fff;padding:2px 5px;vertical-align:middle;}
tr.lineybig td{border-left:1px solid #fff;border-right:1px solid #fff;padding:3px 5px;vertical-align:middle;}
tr.lineys td{padding:0 2px;}
tr.linmod td{padding:0 0 8px;vertical-align:middle;}
tr.lins td,td.vbv{padding:8px 5px;vertical-align:middle;}
tr.linsz td{padding:8px 0;vertical-align:middle;}
tr.lnst td{padding:2px 0;}
ul{margin-left:0;margin-right:0;padding-left:18px;padding-right:0;}


.adMenusHeader {
    font-size: 20px;
    padding-bottom: 15px;
}
.adMenusSubHeader {
    font-size: 16px;
    padding-bottom: 8px;
}
.adMenusList {
	
}
.adMnLine {
	border-collapse:collapse
}
.adMnLine th {
	padding: 4px 10px;
	background-color:#D6DFF7;
	color:#4E6592;
	border: 1px solid #FFFFFF;
	white-space:nowrap;
}
.adMnLine td {
    border-bottom: 1px solid #D6DFF7;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 4px 10px;
}
.pOn {
	
}
.pAnchor {
	
}
.pAnchor input {
	width: 140px;
}
.pType {
	
}
.pType select {
	width: 150px;
}
.pTypepoint {
	
}
.pTypepoint input {
	width: 144px;
}
.pTypepoint select {
	width: 150px;
}
.sort {
    width: 40px;
	
}
.sort input {
	text-align: center;
    width: 40px;
}
.addBtt {
	width: 75px;
}
.addBtt input {
	cursor:pointer;
}

.pgAGallW {
	position:fixed;
	top:80px;
	right:-1000px;
}
.pgAGall {
	background-color: #fafafa;
    border-bottom: 1px solid #6F8DDF;
    border-left: 1px solid #6F8DDF;
    border-top: 1px solid #6F8DDF;
    min-height: 200px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    -border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
}
.pgShowGallBtt {
	background: url("shGall.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 200px;
    left: -45px;
    position: absolute;
    width: 45px;
	top:5px;
}
.pgGallBlock {
	
}

.clear {
	clear:both;
}

.addGButt, .saveGallBtt {
	background-color: #6F8DDF;
    border: medium none;
    color: #C5D2ED;
    float: right;
    padding: 3px 5px;
}
.addGButt:hover, .saveGallBtt:hover {
	background-color: #4C65C6;
}

.remGall {
	color: #FF0000;
    display: block;
    float: left;
    padding: 5px 3px 0;
    text-decoration: underline;
	cursor:pointer;
}
.remGall:hover {
	text-decoration:none;
}

.pgOneGallBlock {
    border: 1px dashed #000000;
    padding: 3px 8px;
	margin-bottom:10px;
	width: 400px;
}
.pgOGBHader {
    border-bottom: 1px solid #4E6592;
    color: #4E6592;
    font-size: 16px;
    margin-bottom: 4px;
    width: 400px;
	cursor: pointer;
}
.pgOGBWr {
    display: none;
}
.pgOGHeader {
	color: #666666;
    font-size: 13px;
}

.pgOGTag {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}

.pgOGLine {
	padding-bottom: 8px;
    padding-top: 2px;
}
.pgOGLine input {
	width: 300px;
}
.pgOGLine input[type=text] {
    float: left;
}
.galName {
    float: left;
    padding-right: 5px;
    text-align: right;
    width: 65px;
}
.pgOGLine textarea {
	width: 90%;
}
.pgOGImg {
    float: left;
    height: 70px;
    width: 94px;
    padding: 2px;
	position: relative;
}
.pgOGImg .imW {
	border: 1px solid #666666;
    display: block;
    height: 70px;
    overflow: hidden;
    width: 94px;
	background-color:#fff;
}
.pgOGImg .imW img {
	width: 94px;
}
.remIm {
    background: url("remImg.png") no-repeat scroll left top transparent;
    height: 17px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 17px;
	opacity:0.7;
	cursor:pointer;
}
.remIm:hover {
	opacity:1;
}

.glShowBig {
	background: url("chosen-sprite@2x.png") no-repeat scroll -68px -49px #FFFFFF;
    bottom: -1px;
    display: block;
    height: 26px;
    opacity: 0.8;
    position: absolute;
    right: -1px;
    width: 27px;
}
.glShowBig:hover {
    opacity: 1;
}

.gallchTitleBtt {
    background: url("title.png") no-repeat scroll left top transparent;
    height: 19px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 19px;
	cursor:pointer;
}
.gallchTitleBtt.act {
	background-image:url("titlea.png");
}
.gallchTitle {
	background-color: #FFFFFF;
    border: 1px solid #000000;
    display: none;
    padding: 15px 5px;
    position: absolute;
    right: 1px;
    top: 18px;
    border-radius: 5px;
    -border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0 0 3px 1px #CCCCCC;
    -box-shadow: 0 0 3px 1px #CCCCCC;
    -ms-box-shadow: 0 0 3px 1px #CCCCCC;
    -moz-box-shadow: 0 0 3px 1px #CCCCCC;
    -webkit-box-shadow: 0 0 3px 1px #CCCCCC;
    -khtmlbox-shadow: 0 0 3px 1px #CCCCCC;
    -o-box-shadow: 0 0 3px 1px #CCCCCC;
}
.gallchTitle input {
	width: 100px;
}

.pgAddRwW {
	
}
.pgAddRwBtt {
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 10px;
    text-decoration: underline;
	color:#4E6592;
	float: left;
}
.pgAddRwBtt:hover {
    text-decoration: none;
}
.pgAddRw {
	display:none;
}
.pgAddRw table, .editRW table {
    width: 600px;
}
.pgAddRw table td, .editRW table td {
    padding: 8px;
}
.pgAddRw input, .editRW input {
	width: 210px;
}
.pgAddRw textarea, .editRW textarea {
    width: 578px;
	height: 120px;
}

.addRwBtt {
	background-color: #6F8DDF;
    border: medium none;
    color: #C5D2ED;
    float: right;
    padding: 3px 5px;
    cursor: pointer;
}
.addRwBtt:hover {
	background-color: #4C65C6;
}

.editBtt {
	cursor: pointer;
    text-decoration: underline;
}
.editBtt:hover {
    text-decoration: none;
}
.remRw {
	cursor: pointer;
    text-decoration: underline;
	color:red;
}
.remRw:hover {
    text-decoration: none;
}
.editRW {
	display:none
}
.saveRwBtt {
	
	background-color: #6F8DDF;
    border: medium none;
    color: #C5D2ED;
    float: right;
    padding: 3px 5px;
    cursor: pointer;
}
.saveRwBtt:hover {
	background-color: #4C65C6;
}


#xEditingArea iframe {
	min-height:267px;
}



#colEdit, #catEdit {
	border: 1px solid #ccc;
    padding: 10px;
}

#colEdit table {
	
}
#colEdit th {
	padding: 5px;
    vertical-align: top;
	text-align:left;
	border-bottom:1px solid #7f9db9;
}
#colEdit tr th:first-child {
	text-align:left;
}
#colEdit td {
    padding: 4px;
	border-bottom:1px solid #7f9db9;
}
#colEdit input[type=text] {
	
}
#colEdit textarea {
	height: 50px;
    width: 180px;
}
#colEdit input[type=submit] {
	
}

.adwf input {
  width: 98px;
}

/*.apic , .bpic, .apicd, .bpicd, .imA_label, .imB_label,*/

.adn.add-photo,
.addit-cat {
  /*display: none;*/
}

#related_proj {
  /*display: none;*/
}

