
{if $gallery}
{section loop=$gallery name=g}
<div class="slider catalog__slider">

  <div class="slider__wrap">
    {section loop=$gallery[g].gImages name=i}
      <div class="slider__item">
        <div class="slider__img" style="background-image: url(/data/gallery/{$gallery[g].gImages[i].image});"></div>

      </div>
    {/section}

  </div>

  <div class="slider__dots"></div>
</div>
{/section}
{/if}

