<div class="page__left">
  <!--<a href="#" class="btn page__left-learn">{$btn_traning}</a>-->

  <div class="page__dot-wrap" id="page__dot-wrap"></div>

  <div class="page__left-mouse"></div>

  <div class="page__left-social">
    <a class="page__left-social-item" href="#">f</a>
    <a class="page__left-social-item" href="#">В</a>
    <a class="page__left-social-item" href="#">t</a>
  </div>
</div>
