 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<title>Soika</title>
	<meta name="viewport" content="width=320">
	<meta name="MobileOptimized" content="320" />
	<meta name="HandheldFriendly" content="true" />

	<link rel="stylesheet" href="./font/font.css" type="text/css"/>
	<link rel="stylesheet" href="./style.min.css" type="text/css"/>
</head>
<body class="page__body" id="page__body">
	<div class="page__bg"></div>
	<header id="header" class="header">
		<a href="/" class="header__logo">
			<img class="header__logo-img" src="/img/logo.png" />
		</a>
		<button class="header__menu-btn popup__link" data-popup="menu">
			<span class="header__menu-ico"></span>
		</button>
	</header>

	<div id="popup__menu" class="popup">
		<button class="popup__close">×</button>
		<div class="popup__content page__menu">
			<button class="page__menu-lang">language Russian</button>
			<nav class="page__menu-list">
				<a class="page__menu-item" href="/">Главная</a>
				<a class="page__menu-item" href="about.html">О нас</a>
				<a class="page__menu-item" href="catalog.html">Наши камни</a>
				<a class="page__menu-item" href="blog.html">Блог</a>
				<a class="page__menu-item" href="prod.html">Производство</a>
				<a class="page__menu-item" href="logistic.html">Логистика</a>
				<a class="page__menu-item" href="contact.html">Контакты</a>
			</nav>
		</div>
	</div>
	<div id="popup__form" class="popup">
		<button class="popup__close">×</button>
		<div id="write__content_done" class="write__content popup__content">
			<div class="like_h1">Спасибо</div>
			<p>Ваше письмо получено и будет рассмотрено в ближайшее время.</p>
		</div>
		<div id="write__content_form" class="write__content popup__content write__content_show">
			<div class="like_h1">Связаться<br>с нами</div>
			<p>Заполните форму и через несколько минут наши специалисты свяжуться с Вами</p>
			<form class="form write__form">
				<input type="text" class="write__input" placeholder="Представьтесь">
				<input type="text" class="write__input" placeholder="Ваш телефон или e-mail">
				<div id="write__text_hid" class="write__textarea_hid"></div>
				<textarea id="write__text" class="write__input write__textarea" placeholder="Ваше сообщение"></textarea>
				<button class="write__submit" type="submit">Отправить сообщение</button>
			</form>
		</div>
	</div>
	

	<div class="page">

		<%= contents %>

	</div>

	<footer class="footer">
		<a class="footer__learn" href="#">Обучение</a>
		
		<div class="footer__right">
			<div class="footer__tel">+86 (592) 519 24 54</div>
			<button class="btn footer__feed popup__link" data-popup="form">Связаться с нами</button>
			<div class="footer__social">
				<a class="footer__social-item" href="#">f</a>
				<a class="footer__social-item" href="#">B</a>
				<a class="footer__social-item" href="#">t</a>
			</div>
		</div>
	</footer>

	
	<script src="./lib/swipe.js"></script>
	<script src="./script.min.js"></script>
</body>
</html>