.catalog {
	&__title {
		font-size: 22px;
		
	}
	&__slider {
		margin-top: 20px;
		
		&-title {
			display: inline-block;
			margin-top: 10px;
			font-size: 20px;
			font-weight: 900;
			text-transform: uppercase;
			text-decoration: none;
		}
		&-subtitle {
			font-size: 14px;
			font-weight: 900;
			text-transform: uppercase;
		}
		& .slider__dots {
			margin-top: 10px;
		}
	}
	&__fullimg {
		margin-top: 20px;
	}
}