{* шаблон вывода блоков *}

{section name=b loop=$binfo}

{* формирование заголовка блока *}

{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?dpt=conf&amp;sub=blocks_edit&amp;edit=`$binfo[b].bid`' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes" && $binfo[b].title ne ""}{assign var="postheader" value=`$preheader``$binfo[b].title`}{else}{assign var="postheader" value=$binfo[b].title}{/if}

{* вывод заголовка блока *}
<div class="{$bclass} {$binfo[b].bclass} pgOneBlock">
<div class="pgOneBlockMove">
{if $binfo[b].show_head eq 1}
	{include file="header.tpl.html" header=$postheader nopad=$nopad}
{/if}

{* вывод содержания блока *}
	<div class="pgOneBlockW">
		{if $binfo[b].html eq 1}{include file="blocks/`$binfo[b].url`" blocknum=$smarty.section.b.index}{else}{$binfo[b].content}{/if}
	</div>
</div>
</div>
	
{/section}