{section name=b loop=$binfo}


{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?dpt=conf&amp;sub=blocks_edit&amp;edit=`$binfo[b].bid`' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes" && $binfo[b].title ne ""}{assign var="postheader" value=`$preheader``$binfo[b].title`}{else}{assign var="postheader" value=$binfo[b].title}{/if}

	<div class="pgFootBl {$binfo[b].bclass} ">
		{if $binfo[b].show_head eq 1}
			<div class="pgFootBlHd">{$postheader}</div>
		{/if}
		<div class="pgFootBlContent">
			{if $binfo[b].html eq 1}{include file="blocks/`$binfo[b].url`" blocknum=$smarty.section.b.index}{else}{$binfo[b].content}{/if}
		</div>
			<div class="clear"></div>
	</div>
{/section}