{* шаблон вывода товаров в категориях *}

{if $colorTitle and $colorTitle ne ''}
	{assign var="categoryName" value=$colorTitle}
{else}
	{if $params}
		{section name=i loop=$params}
			{if $params[i].optionID == 5} 
			{section name=j loop=$params[i].variants}
				{if $params[i].variants[j].set == 'checked'}
					{assign var="colHd" value=$params[i].variants[j].value}
					{if $categoryID == 4}{assign var="colHd" value=$colHd|replace:"й":"е"}{/if}
					{assign var="categoryName" value="<i class='colorHd'>`$colHd`</i> <i class='colorCatHd'>`$categoryName`</i> "}
				{/if}
			{/section}
			{/if}
		{/section}
	{/if}

{/if}
{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?categoryID=`$selected_category.categoryID`&amp;eaction=cat' title='`$smarty.const.ADMIN_ADMIN_MENUNEW1`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$categoryName`}{else}{assign var="postheader" value=$categoryName}{/if}

<div class="pgCategory">


{include file="header.tpl.html" header=$postheader}

<div class="pgCatCats">
	<a href="http://www.youtube.com/user/XiamenPagodaBuild" target="_blank" class="yuoTube">Видео о камне</a>
 {section name=h loop=$categories_tree}
  {if $categories_tree[h].parent == 1}
		<a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$categories_tree[h].categoryID|m_Cat}{else}index.php?categoryID={$categories_tree[h].categoryID}{/if}" class="ctsPoint {if $categoryID == $categories_tree[h].categoryID}slct{/if}">{$categories_tree[h].name}</a>
  {/if}
  {/section}
  <div class="clear"></div>
</div>

{if $selected_category.description}
<div class="pgCatDescr">
	{$selected_category.description}
</div>
{/if}

{literal}
<script type="text/javascript">
function showZoom(prod){
	$('.shBl_'+prod).fadeIn(300);
}
function closeZoom(prod){
	$('.shBl_'+prod).fadeOut(300);
}
$(window).load(function(){
	$('.pgProdShowBl').hover(function(){
		$(this).addClass('act');
		$('.pgProdShowBl').removeClass('vis');
	},function(){
		$(this).removeClass('act');
		$(this).addClass('vis');
	});
});

</script>
{/literal}




{include file="blocks/filter_cat.tpl.html"}
{if $products_to_show}


{* форма сортировки товаров
 {if $string_product_sort}
<div class="pgCatSort">{$string_product_sort}</div>
{/if} *}

{* форма навигации по страницам
{if $catalog_navigator}
<div class="pgCatNav">{$catalog_navigator}</div>
{/if} *}

<div class="pgCatProds to_assgn">
  {section name=u loop=$products_to_show}
	{assign var="last" value=" "}
	{if ($smarty.section.u.index+1) is div by $smarty.const.CONF_COLUMNS_PER_PAGE}
		{assign var="last" value=" lst "}
	{/if}
    {include file="product_brief.tpl.html" product_info=$products_to_show[u] last=$last}
   
    {if ($smarty.section.u.index+1) is div by $smarty.const.CONF_COLUMNS_PER_PAGE || $products_to_show_counter eq $smarty.section.u.index+1}
		<div class="clear"></div>
	{/if}
  {/section}
		<div class="clear"></div>
</div>

{* форма навигации по страницам *}

{if $catalog_navigator}
<div class="pgCatNav">{$catalog_navigator}</div>
{/if}

{* форма сортировки товаров

{if $string_product_sort}
<div class="pgCatSort">{$string_product_sort}</div>
{/if} *}

{else}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop error" align="center">{if !$search_with_change_category_ability || $advanced_search_in_category}{if $advanced_search_in_category}{$smarty.const.STRING_EMPTY_SEARCH_RESULT}{else}{$smarty.const.STRING_EMPTY_CATEGORY}{/if}{/if}</td>
  </tr>
</table>
{/if}



</div>