{if $gallery}
{section loop=$gallery name=g}

		<div class="pgSGImgs">
			{section loop=$gallery[g].gImages name=i}
				<div class="pgSGImgW">
				<div class="pgSGImg">
					<a href="/data/gallery/{$gallery[g].gImages[i].image}" class="highslide" onclick="return hs.expand(this, {literal}{{/literal} slideshowGroup:{$gallery[g].gID} {literal}}{/literal})">
						<span class="vert"><img src="/data/gallery/thmbs/{$gallery[g].gImages[i].image}"  /></span><span class="vert_hlp"></span>
					</a>
					<div class="highslide-caption">{$gallery[g].gImages[i].title}</div>
				</div>
				</div>
				{if ($smarty.section.g.index+1) is div by 4}
					<div class="clear"></div>
				{/if}
			{/section}
			<div class="clear"></div>
		</div>
{/section}
{/if}
