{* шаблон head секции страницы *}
<head>  

{* meta тэги и заголовок *}

<meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.DEFAULT_CHARSET}">
<title>{$page_title}</title>
{if $page_meta_tags eq ""}
<meta name="description" content="{$smarty.const.CONF_HOMEPAGE_META_DESCRIPTION}">
<meta name="keywords" content="{$smarty.const.CONF_HOMEPAGE_META_KEYWORDS}">
{else}
{$page_meta_tags}
{/if}

{* подключение стилей и иконки *}

{if $mobile == "no"}

<link href='http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/data/{$smarty.const.TPL}/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/data/{$smarty.const.TPL}/css.style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/data/{$smarty.const.TPL}/styleprint.css" type="text/css" media="print">
{else}
	<style type="text/css">
html{font-size:100.1%}
html,body,form{margin:0;padding:0}
html,body{background:#FFF}
body{text-align:left;font-size:14px;font-family: Arial, Verdana;color:#5b5b5b;background:url('pixel.gif') no-repeat fixed}
select,input,div,span,font,textarea{font-size:14px;font-family: Arial, Verdana}
a img,img,html,body{border:none}
a img,img,a{outline:none!important}
:focus{outline:none}
a{color:#048ac7;text-decoration:underline}
a:hover{text-decoration:none}
.clear {
	clear:both;
}
.vert, .vert_hlp {
	display:inline-block;
	vertical-align:middle;
}
.vert_hlp {
	height:100%;
	width:0;
}
.pgWrapper {
}
.pgContainer {
    margin: 0 auto;
    width: 1150px;
}
.pgHead {
	padding-bottom: 8px;
}
.pgHLangPhone {
    float: right;
    text-align: right;
	padding-top: 10px;
}
.pgLangs {
	padding-bottom: 10px;
}
.pgLangs.ru {
	padding-bottom: 0px;
}
.pgLangs a {
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 34px;
    margin-right: 2px;
    width: 17px;
}
.pgLangs a:hover {
}
.ruL {
	background-image: url("img/lang_ru.jpg");
}
.enL {
	background-image: url("img/lang_en.jpg");
}
.chL {
	background-image: url("img/lang_ch.jpg");
}
.pgHPhoneW {
}
.pgHPhTxt {
	display: none;
}
.pgHPhone {
    color: #3b3b3b;
    font-family: Arimo;
    font-size: 24px;
}
.pgHPhone.ru {
	color: #3b3b3b;
    font-family: Arimo;
    font-size: 16px;
    line-height: 17px;
}
.pgHCall {
}
.pgHCallW {
    color: #027CB3;
    cursor: pointer;
    text-decoration: underline;
}
.pgHCallW:hover {
    text-decoration: none;
}
.pgHLogo {
    float: left;
    width: 288px;
}
.pgHLogo a {
    background: url("img/logo.jpg") no-repeat scroll left top transparent;
    display: block;
    height: 144px;
    width: 186px;
}
.pgHSlogan {
    float: left;
    font-size: 26px;
    font-weight: bold;
    padding-top: 45px;
}
	</style>
{/if}

<link rel="icon" href="/data/{$smarty.const.TPL}/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/data/{$smarty.const.TPL}/favicon.ico" type="image/x-icon">

{* подключение скриптов *}

<script type="text/javascript">
<!--
var confirmUnsubscribe_act1 =  '{$smarty.const.QUESTION_UNSUBSCRIBE}';
var validate_act1 =  '{$smarty.const.ERROR_INPUT_EMAIL}';
var validate_disc_act1 =  '{$smarty.const.ERROR_INPUT_NICKNAME}';
var validate_disc_act2 =  '{$smarty.const.ERROR_INPUT_MESSAGE_SUBJECT}';
var validate_search_act1 =  '{$smarty.const.ERROR_INPUT_PRICE}';
var doCL_act1 =  '{$smarty.const.STRING_COMPARISON_IN}';
var doCL_act2 =  '{$smarty.const.CART_CONTENT_EMPTY}';
var doCL_act3 =  '{$smarty.const.STRING_COMPARISON_TITLE_OK}';
var renbox_act1 =  '{$smarty.const.STRING_COMPARISON_PROCESS}';
var renboxCL_act1 =  '{$smarty.const.STRING_COMPARISON_TITLE_CL}';
var doreset_act1 =  '{$smarty.const.STRING_CART_PROCESS}';
var printcart_act1 =  '{$smarty.const.STRING_CART_PROCESS}';
var doCart_act1 =  '{$smarty.const.STRING_CART_PR}';
var doCart_act2 =  '{$smarty.const.CART_CONTENT_NOT_EMPTY}';
var doCart_act3 =  '{$smarty.const.STRING_CUR_PR}';
var doCart_act4 =  '{$smarty.const.CART_PROCEED_TO_CHECKOUT}';
var doCart_act5 =  '{$smarty.const.STRING_CART_OKAX}';
var doCpr_act1 =  '{$smarty.const.STRING_COMPARISON_IN}';
var doCpr_act2 =  '{$smarty.const.CART_CONTENT_NOT_EMPTY}';
var doCpr_act3 =  '{$smarty.const.STRING_COMPARISON_INFOLDER}';
var doCpr_act4 =  '{$smarty.const.STRING_COMPARISON_CLEAR}';
var doCpr_act5 =  '{$smarty.const.STRING_CART_OKAX}';

function doCart(req) {literal}{{/literal}
  if(document.getElementById('cart') && req["shopping_cart_value"] > 0){literal}{{/literal}
      document.getElementById('cart').innerHTML = '<b>' + doCart_act1 + ':<\/b>&nbsp;&nbsp;' + req["shopping_cart_items"] +
      '&nbsp;' + doCart_act2 + '<div style="padding-top: 4px;"><b>' + doCart_act3 + ':<\/b>&nbsp;&nbsp;' + req["shopping_cart_value_shown"] +
      '<\/div><div style="padding-top: 10px;" align="center"><table cellspacing="0" cellpadding="0" class="fsttab"><tr><td><table cellspacing="0" cellpadding="0" class="sectb"><tr><td><a {if $smarty.const.CONF_OPEN_SHOPPING_CART_IN_NEW_WINDOW eq 1}href="#" onclick="open_window(\'index.php?do=cart\',500,300);"{else}href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}cart.html{else}index.php?shopping_cart=yes{/if}"{/if}>' + doCart_act4 + '<\/a><\/td><\/tr><\/table><\/td><\/tr><\/table><\/div>';
      document.getElementById('axcrt').innerHTML = doCart_act5;
{literal}}}{/literal}

function doCpr(req) {literal}{{/literal}
  if(document.getElementById('cprbox') && req["cpr_value"] > 0){literal}{{/literal}
      document.getElementById('cprbox').innerHTML = doCpr_act1 + '&nbsp;' + req["cpr_value"] +
      '&nbsp;' + doCpr_act2 + '<div style="padding-top: 10px;" align="center"><table cellspacing="0" cellpadding="0"><tr><td><table cellspacing="0" cellpadding="0" class="fsttab"><tr><td><table cellspacing="0" cellpadding="0" class="sectb"><tr><td><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}compare.html{else}index.php?comparison_products=yes{/if}">' + doCpr_act3 + '<\/a><\/td><\/tr><\/table><\/td><\/tr><\/table><\/td><td>&nbsp;&nbsp;<\/td><td><table cellspacing="0" cellpadding="0" class="fsttab"><tr><td><table cellspacing="0" cellpadding="0" class="sectb"><tr><td><a href="#" onclick="doLoadcprCL(\'do=compare&amp;clear=yes\'); return false">' + doCpr_act4 + '<\/a><\/td><\/tr><\/table><\/td><\/tr><\/table><\/td><\/tr><\/table><\/div>';
      document.getElementById('axcrt').innerHTML = doCpr_act5;
{literal}}}{/literal}
	
function doStat(req) {literal}{{/literal}
  if(req){literal}{{/literal}
      document.getElementById('tgenexe').innerHTML     = req['tgenexe'];
      document.getElementById('tgencompile').innerHTML = req['tgencompile'];
      document.getElementById('tgendb').innerHTML      = req['tgendb'];
      document.getElementById('tgenall').innerHTML     = req['tgenall'];
      document.getElementById('tgensql').innerHTML     = req['tgensql'];
{literal}}}{/literal}
//-->
</script>
<script async type="text/javascript" src="/data/{$smarty.const.TPL}/user.js"></script>
<script  type="text/javascript" src="/data/{$smarty.const.TPL}/js/jquery-1.7.2.js"></script>

{if $mobile == "yes"}
{literal}
<script type="text/javascript">
$(document).ready(function(){
	$('body').append('<link href="http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css"><link rel="stylesheet" href="/data/{/literal}{$smarty.const.TPL}{literal}/style.css" type="text/css" media="screen"><link rel="stylesheet" href="/data/{/literal}{$smarty.const.TPL}{literal}/css.style.css" type="text/css" media="screen"><link rel="stylesheet" href="/data/{/literal}{$smarty.const.TPL}{literal}/styleprint.css" type="text/css" media="print"><link rel="stylesheet" type="text/css" href="/data/admin/highslide.css" /><link rel="stylesheet" type="text/css" href="/data/{/literal}{$smarty.const.TPL}{literal}/baraban.css" /><link rel="stylesheet" href="/data/{/literal}{$smarty.const.TPL}{literal}/modal.css" type="text/css" media="screen">');
});
</script>
{/literal}

{else}
<link rel="stylesheet" type="text/css" href="/data/admin/highslide.css" />
<link rel="stylesheet" type="text/css" href="/data/{$smarty.const.TPL}/baraban.css" />
<link rel="stylesheet" href="/data/{$smarty.const.TPL}/modal.css" type="text/css" media="screen">
{/if}


<script async type="text/javascript" src="/data/admin/highslide-full.packed.js"></script>
<script async type="text/javascript" src="/data/{$smarty.const.TPL}/js/baraban.js"></script>


<script type="text/javascript">
{literal}
$(window).load(function(){
hs.graphicsDir = '/data/admin/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.outlineType = 'glossy-dark';
hs.wrapperClassName = 'dark';
hs.fadeInOut = true;
hs.showCredits = false;
//hs.dimmingOpacity = 0.75;
  hs.lang.restoreTitle = '{$smarty.const.STRING_HS_RESTORETITLE}';
  hs.lang.loadingText = '{$smarty.const.STRING_HS_LOADINGTEXT}';
  hs.lang.loadingTitle = '{$smarty.const.STRING_HS_LOADINGTITLE}';
  hs.lang.focusTitle = '{$smarty.const.STRING_HS_FOCUSTITLE}';
  hs.lang.fullExpandTitle = '{$smarty.const.STRING_HS_FULLEXPANDTITLE}';
	
// Add the controlbar
if (hs.addSlideshow) hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	fixedControls: 'fit',
	overlayOptions: {
		opacity: .6,
		position: 'bottom center',
		hideOnMouseOut: true
	}
});
});
{/literal}
</script>

<script async type="text/javascript" src="/data/{$smarty.const.TPL}/js/popup.js"></script>

{literal}
<script type="text/javascript">
$(window).load(function(){
	posTopW = $(window).scrollTop();
	if (posTopW >799) {
		$('.scrollTop').fadeIn(400);
	}
});
$(window).scroll(function(){
	posTopW = $(window).scrollTop();
	if (posTopW > 799) {
		$('.scrollTop').fadeIn(400);
	} else if (posTopW < 800) {
		$('.scrollTop').fadeOut(400);
	}
});
$('.scrollTop').live('click',function(){
	$('body,html').animate({
		scrollTop:0
	}, 500);
});

$('.ppMessSendMore').live('click', function(){
	$('.popMess').slideUp(300);
		setTimeout(function(){	
			$('.popContForm').slideDown(300);
		}, 301);
});
$('.sendQ').live('click', function(){
	errQ = '';
	if($('.pgQLInp input[name=name]').val() == '') {
		errQ += 'Введите Ваше имя\n';
	}
	if($('.pgQLInp input[name=mailPhone]').val() == '') {
		errQ += 'Введите Ваш телефон или e-mail\n';
	}
	
	if(errQ != '') {
		alert(errQ);
	} else {
		name = $('.pgQLInp input[name=name]').val();
		mailPhone = $('.pgQLInp input[name=mailPhone]').val();
		qBody = $('.pgQLInp textarea[name=qBody]').val();
		$.ajax({
			type: 'POST',
			url: location.href,
			data:{qName:name,kont:mailPhone, qMess: qBody, senQuest:1},
			success: function(e){
				if(e == 1) {
					$('.popContForm').slideUp(300);
					setTimeout(function(){	
						$('.popMess').slideDown(300);
						$('.pgQLInp input[name=name]').val('');
						$('.pgQLInp input[name=mailPhone]').val('');
						$('.pgQLInp textarea[name=qBody]').val('');
					}, 301);
				} else {
					alert('Произошла ошибка, попробуйте перегрузить страницу!');
				}
			}
		});
	}
	
});
$('.sendQ2').live('click', function(){
	errQ2 = '';
	if($('.pgQLInp2 input[name=name]').val() == '') {
		errQ2 += 'Введите Ваше имя\n';
	}
	if($('.pgQLInp2 input[name=mailPhone]').val() == '') {
		errQ2 += 'Введите Ваш телефон или e-mail\n';
	}
	
	if(errQ2 != '') {
		alert(errQ2);
	} else {
		name = $('.pgQLInp2 input[name=name]').val();
		mailPhone = $('.pgQLInp2 input[name=mailPhone]').val();
		qBody = $('.pgQLInp2 textarea[name=qBody]').val();
		$.ajax({
			type: 'POST',
			url: location.href,
			data:{qName:name,kont:mailPhone, qMess: qBody, senQuest:1},
			success: function(e){
				if(e == 1) {
						$('.pgQLInp2 input[name=name]').val('');
						$('.pgQLInp2 input[name=mailPhone]').val('');
						$('.pgQLInp2 textarea[name=qBody]').val('');
					alert('Ваше сообщение отправлено!');
				} else {
					alert('Произошла ошибка, попробуйте перегрузить страницу!');
				}
			}
		});
	}
	
});

</script>
{/literal}

{* 
{literal}
<script type="text/javascript">
	$(window).load(function(){
		m1Height = $('.moved  .pgOneBlockMove').find('.pgHeader').outerHeight()+$('.moved  .pgOneBlockMove').find('.pgOneBlockW').outerHeight()+5;
		$('.moved, .moved  .pgOneBlockMove').css('height',m1Height);
		
		m2Height = $('.moved2  .pgOneBlockMove').find('.pgHeader').outerHeight()+$('.moved2  .pgOneBlockMove').find('.pgOneBlockW').outerHeight()+5;
		$('.moved2, .moved2  .pgOneBlockMove').css('height',m2Height);
		
		
		winScroll1 = $(window).scrollTop();
		posFilt1 = $(".moved").offset().top;
		if (posFilt1 < winScroll1) {
			nPos1 = winScroll1 - posFilt1;
			$('.moved').find('.pgOneBlockMove').animate({'top':nPos1}, 600);
			$('.moved2').find('.pgOneBlockMove').animate({'top':nPos1}, 600);
		} else {
			$('.moved  .pgOneBlockMove').css('top',0);
			$('.moved2  .pgOneBlockMove').css('top',0);
		}
		
		
	});
	$(window).scroll(function(){
	winScroll1 = $(window).scrollTop();
		posFilt1 = $(".moved").offset().top;
		if (posFilt1 < winScroll1) {
			nPos1 = winScroll1 - posFilt1;
			$('.moved').find('.pgOneBlockMove').css('top',nPos1);
			$('.moved2').find('.pgOneBlockMove').css('top',nPos1);
		} else {
			$('.moved  .pgOneBlockMove').css('top',0);
			$('.moved2  .pgOneBlockMove').css('top',0);
		}
	});
</script>

{/literal}
*}


{* подключение rss *}

<link rel="alternate" href="/index.php?do=rss" title="rss" type="application/rss+xml">

{* стили для IE *}

{literal}
<!--[if lte IE 6]>
<style type="text/css">
  #axcrt {
    top: expression(document.documentElement.scrollTop + Math.ceil((document.documentElement.clientHeight-100)/2)+ "px") !important;
    left: expression(Math.ceil((document.documentElement.clientWidth-300)/2)+ "px") !important;
  }
  body {behavior:url("data/admin/csshover.htc");}
  .semafor{background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/data/{/literal}{$smarty.const.TPL}{literal}/best.png', sizingMethod='image');}
</style>
<![endif]-->
{/literal}
</head>