{* шаблон вывода заголовков *}


{if $header ne ""}
	{if $tag and $tag ne ''}
		<{$tag} class="pgHeader">{$header}<span class="lineH"></span></{$tag}>
	{else}
		<h1 class="pgHeader">{$header}<span class="lineH"></span></h1>
	{/if}
{/if}