{* шаблон детального описания товара *}

{if $product_info ne NULL}

{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?productID=`$product_info.productID`&amp;eaction=prod' title='`$smarty.const.STRING_EDITPR`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$product_info.header`}{else}{assign var="postheader" value=$product_info.name}{/if}


<div class="pgFullProd">
	{include file="header.tpl.html" header=$postheader}
	<div class="pgFPImage">
		<div class="pgFPImBig">
		{if $product_info.thumbnail}
		
            {if $product_info.big_picture}
				<a href="/data/big/{$product_info.big_picture}" class="highslide" onclick="return hs.expand(this)"><img src="/data/medium/{$product_info.thumbnail}" alt="{$product_info.name}" id="{$product_info.big_picture}"></a>
            {else} 
				<a href="/data/medium/{$product_info.thumbnail}" class="highslide" onclick="return hs.expand(this)"><img src="/data/medium/{$product_info.thumbnail}" alt="{$product_info.name}"> </a>
			{/if}
        {elseif $product_info.picture}
			{if $product_info.big_picture}
				<a href="/data/big/{$product_info.big_picture}" class="highslide" onclick="return hs.expand(this)"><img src="/data/small/{$product_info.picture}" alt="{$product_info.name}" id="{$product_info.big_picture}"></a>
			{else}
				<a href="/data/small/{$product_info.picture}" class="highslide" onclick="return hs.expand(this)"><img src="/data/small/{$product_info.picture}" alt="{$product_info.name}"></a>
			{/if}
        {else}
			{if $smarty.const.CONF_DISPLAY_NOPHOTO eq 1}
				<a><img src="/data/empty.gif" alt="no photo"></a>
			{/if}
        {/if}
		</div>
		<div class="pgShadowL">
			<div class="pgShadowR">
				<div class="pgShadowC"></div>
			</div>
		</div>
		<div class="pgFPImSm">
            {if $all_product_pictures}
            {section name=i loop=$all_product_pictures}
				{if $all_product_pictures[i].enlarged}
					<div class="pgFPImSmW">
						<a href="/data/big/{$all_product_pictures[i].enlarged}" class="highslide" onclick="return hs.expand(this)"><span class="vert"><img src="/data/small/{$all_product_pictures[i].filename}" alt="{$product_info.name}" ></span> <span class="vert_hlp"></span></a>
					</div>
				{else}
					<a href="/data/small/{$all_product_pictures[i].enlarged}" class="highslide" onclick="return hs.expand(this)"><img src="/data/small/{$all_product_pictures[i].filename}" alt="{$product_info.name}"></a>
				{/if}
            {/section}
            {/if}
			<div class="clear"></div>
		</div>
	</div>
	<div class="pgFPInfo">
		<div class="pgFPDescr">
			{if $product_info.description}{$product_info.description}{elseif $product_info.brief_description}{$product_info.brief_description}{/if}
		</div>
		<div class="pgFPPars">
            {if $product_extra_count > 0}
			<table class="prsTable" cellspacing="0" cellpadding="0" border="0">
{section name=i loop=$product_extra}
	<tr class="{if ($smarty.section.i.index+1) is div by 2} white{/if}">
		<td class="parTName">
			{$product_extra[i].name}:
		</td>
		<td class="parTVal">
            {if $product_extra[i].option_type eq 0 }
				{$product_extra[i].option_value}
            {else}
				{section name=k loop=$product_extra[i].option_show_times}
					{if $product_extra[i].values_to_select_count == 1} 
						{$product_extra[i].values_to_select[0].option_value}
					{else}
						{if $smarty.section.k.index == 0}
							{section name=j loop=$product_extra[i].values_to_select}
								{$product_extra[i].values_to_select[j].option_value}
							{/section}
						{else}
							{section name=j loop=$product_extra[i].values_to_select}
								{$product_extra[i].values_to_select[j].option_value}
							{/section}
						{/if}
					{/if}
              {/section}
			{/if}
		</td>
	</tr>
{/section}
			  </table>
            {/if}
			
	{if $prodColor}
		<div class="coli" style="display:">
			
			<a rel="{$temp}" href="{$colorLink}">{$colorTitleP}</a>
		</div>
	{/if}
			
		</div>
	</div>
	<div class="clear"></div>

{if $product_news}
	<div class="pgFPNews">
      {include file="header.tpl.html" header="Статьи о `$product_info.name`" tag="h2"}
      <div class="pgProdNews">
		{section name=n loop=$product_news}
			<a class="pgPNOne" href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$product_news[n].alias|m_News}{else}index.php?fullnews={$product_news[n].NID}{/if}">{$product_news[n].title}</a>
		{/section}
	  </div>
      
	</div>
{/if}

	<div class="pgFPQuest">
		<div class="pgFPQTxt">Чтобы узнать цены на <i class="colorCatHd">{$prCategoryName}</i> {$product_info.name}, напишите нам</div>
		<div class="pgFPQButt popBtt" rel="quest">
			Отправить заявку или задать вопрос
		</div>
	</div>
	
		<div style="display:none">
			
{if $product_info.eproduct_filename ne ""}
	{$smarty.const.PRODUCT_IS_DOWNLOADABLE} ({$product_info.eproduct_filesize})
{/if}



            {if $smarty.const.CONF_DISPLAY_PRCODE eq 1}
            {if $product_info.product_code}
            {$smarty.const.STRING_PRODUCT_CODE}: <b>{$product_info.product_code}</b><br>
            {assign var="otstup" value=1}
            {/if}
            {/if}
		</div>
</div>





{/if}