{* шаблон короткого описния товара *}


{if $product_info ne NULL}
{if $smarty.const.CONF_MOD_REWRITE eq 1}
{assign var="tlink" value="<a href='/`$product_info.url`'>`$product_info.name`</a>"}
{else}
{assign var="tlink" value="<a href='/index.php?productID=`$product_info.productID`'>`$product_info.name`</a>"}
{/if}
{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?productID=`$product_info.productID`&amp;eaction=prod' title='`$smarty.const.STRING_EDITPR`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$tlink`}{else}{assign var="postheader" value=$tlink}{/if}

<div class="pgOneProdW {$last}">
	<div class="pgOneProd">
		<div class="pgOPImgW">
			<div class="pgOPImg">
				 {if $product_info.picture}
				 
				 <?php //var_dump($product_info); die();?>
					<a class="pgOPLShow" onclick="showZoom({$product_info.productID});"><img src="/data/small/{$product_info.picture}" alt="{$product_info.name}" title="{$product_info.name}">
						<a  onclick="showZoom({$product_info.productID});" class="zoom"></a>
					</a>
				{else}
					{if $smarty.const.CONF_DISPLAY_NOPHOTO eq 1}
						<a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$product_info.url}{else}index.php?productID={$product_info.productID}{/if}"><img src="/data/empty.gif" alt="no photo"></a>
					{/if}
				{/if}
			</div>
		</div>
		<div class="pgShadowL"><div class="pgShadowR"><div class="pgShadowC"></div></div></div>
		<div class="pgOPName">{$postheader}</div>
	</div>
	<div class="pgProdShowBl shBl_{$product_info.productID}">
		<div class="pgPShClose" onclick="closeZoom({$product_info.productID});"></div>
		<div class="pgPShImgW">
			<div class="pgPShImg">
				<a {* href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$product_info.url}{else}index.php?productID={$product_info.productID}{/if}" *}  onclick="closeZoom({$product_info.productID});" style="cursor:pointer"><img src="/data/medium/{$product_info.thumbnail}" alt="{$product_info.name}"></a>
			</div>
			<div class="pgShadowL"><div class="pgShadowR"><div class="pgShadowC"></div></div></div>
			<a onclick="closeZoom({$product_info.productID});" class="zoom"></a>
			<div class="pgPShInfo">
				<div class="pgPShMore"><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$product_info.url}{else}index.php?productID={$product_info.productID}{/if}">Подробнее</a></div>
				<div class="pgPShName"><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$product_info.url}{else}index.php?productID={$product_info.productID}{/if}">{$product_info.name}</a></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>


{/if}