{* шаблон дополнительной страницы *}

{literal}
<script type="text/javascript">
	$('.pgSGArr').live('click',function(){
		parBlock = $(this).closest('.pgShowGallW');
		showBlock = $(parBlock).find('.pgShowGall');
		shBtt = $(parBlock).find('.pgSGArr');
		$(showBlock).slideToggle(400);
		setTimeout(function(){
			$(shBtt).toggleClass('hide');
		}, 401);
	});
</script>

{/literal}

{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?dpt=custord&amp;sub=aux_pages&amp;edit=`$show_aux_page`' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$aux_page_name`}{else}{assign var="postheader" value=$aux_page_name}{/if}

<div class="pgAuxPageW">
{include file="header.tpl.html" header=$postheader}

<div class="pgAuxPage">{$page_body}</div>
</div>
