{* шаблон страницы списка статей *}
  
{assign var="preheader" value="<a href='`$smarty.const.ADMIN_FILE`?dpt=modules&amp;sub=articles' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader`Статьи}{else}{assign var="postheader" value=Статьи}{/if}
{include file="header.tpl.html" header=$postheader}
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>

<form method=GET id="change_a_categories">
<select name="select_categories"  onchange="document.getElementById('change_a_categories').submit(); return false">
<option value=""  {if $smarty.get.select_categories eq null}selected{/if} disabled>Выберите категорию</option>
{section name=i loop=$a_categories}
<option value="{$a_categories[i].id}"  {if $smarty.get.select_categories eq $a_categories[i].id}selected{/if}>{section name=foo start=1 loop=$a_categories[i].level step=1}&nbsp;&nbsp;&nbsp;&nbsp;{/section}{$a_categories[i].name}</option>
{/section}
</select>
<input type=hidden name="articles" value="yes" />
</form>
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>

{if $articles_posts}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="left">
	{section name=j loop=$a_view_categories}
		<h3 style="color:grey;border-bottom:1px dotted grey">
			{section name=foo start=1 loop=$a_view_categories[j].level step=1}
				&nbsp;&nbsp;&nbsp;&nbsp;
			{/section}
			<a href="index.php?articles=yes&select_categories={$a_view_categories[j].id}">{$a_view_categories[j].name}</a>
		</h3>
		  {section name=i loop=$articles_posts}
			  {if $articles_posts[i].category eq $a_view_categories[j].id}
				{if $smarty.section.i.index ne 0}<br>{/if}
				  <table cellspacing="0" cellpadding="0" width="100%">
					<tr>
					  <td align="left" valign="top" style="padding-top: 1px;"><b>{$articles_posts[i].add_date}</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					  <td align="left" valign="top" width="100%">
						<a href="{if $smarty.const.CONF_MOD_REWRITE eq 1}show_articles_{$articles_posts[i].AID}.html{else}index.php?fullarticles={$articles_posts[i].AID}{/if}" class="cl12"><b>{$articles_posts[i].title}</b></a><div class="fil1"></div>{$articles_posts[i].textToPrePublication}</td>
					</tr>
					<tr>
					  <td>&nbsp;</td>
					  <td align="right" valign="top" width="100%">Автор:&nbsp;<i>{$articles_posts[i].author}</i></a></td>
					</tr>
				  </table>
			  {/if}
		  {/section}
	  {/section}
	</td>
  </tr>
</table>
{else}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="center">Статей не найдено</td>
  </tr>
</table>
{/if}
{if $navigator}
<table cellspacing="0" cellpadding="0" width="100%">
<tr><td colspan="6" class="navigator">{$navigator}</td></tr></table>
<table class="adn"><tr><td class="se5"></td></tr></table>
{else}
<table class="adn"><tr><td class="separ"><img src="data/admin/pixel.gif" alt="" class="sep"></td></tr><tr><td class="se5"></td></tr></table>
{/if}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbot">&nbsp;</td>
  </tr>
</table>
