{* шаблон страницы просмотра новости *}

{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?dpt=modules&amp;sub=company&amp;edit=`$company_full_array.NID`' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$company_full_array.title`}{else}{assign var="postheader" value=$company_full_array.title}{/if}



<div class="pgNewsPage">{include file="header.tpl.html" header=$postheader}</div>

<div class="pgFullNewW">
  <div class="pgFNInfo">
    <div class="pgFNImg">
      <div class="pgFNImgW">
        
      </div>
      <div class="pgShadowL"><div class="pgShadowR"><div class="pgShadowC"></div></div></div>
    </div>
    <div class="pgFNDate">
      <span>{$company_full_array.add_date|date_format:"%d"}</span>
      {$company_full_array.add_date|date_format:"%B"|lower|replace:"январь":"января"|replace:"февраль":"февраля"|replace:"март":"марта"|replace:"апрель":"апреля"|replace:"май":"мая"|replace:"июнь":"июня"|replace:"июль":"июля"|replace:"август":"августа"|replace:"сентябрь":"сентября"|replace:"октябрь":"октября"|replace:"ноябрь":"ноября"|replace:"декабрь":"декабря"|replace:"january":"января"|replace:"february":"февраля"|replace:"march":"марта"|replace:"april":"апреля"|replace:"may":"мая"|replace:"june":"июня"|replace:"july":"июля"|replace:"august":"августа"|replace:"september":"сентября"|replace:"october":"октября"|replace:"november":"ноября"|replace:"december":"декабря"}
    </div>
    <div class="pgFNContent">
      {$company_full_array.textToPublication}
    </div>
{literal}

<script type="text/javascript">
function moveImg(){
    chImg = $('.pgFNContent').find('img').length;
    
    if (chImg > 0) {
      chIPar = $('.pgFNContent img:first').closest('.pgSGImg').length;
      if ( chIPar < 1) {
        $('.pgFNContent img:first').prependTo('.pgFNImgW');
      }
    } else {
      $('.pgFNImg').hide();
    }
  }
moveImg();
</script>
{/literal}
    
    <div class="clear"></div>
    <div class="pgFNBack "><a href="/company/">« К списку статей</a></div>
    <div class=" pgFNSoc">

 <div class="share42init"  data-title="{$company_full_array.title}"></div>
<script type="text/javascript" src="/data/{$smarty.const.TPL}/share42.js"></script> 
<div class="clear"></div>
    </div>
    <div class="clear"></div>
    
    
{literal}
<script type="text/javascript">
  $('.mcSubsBtt').live('click',function(){
    errMC = '';
    mcName = $('input[name=mcName]').val();
    mcMail = $('input[name=mcMail]').val();
    
    if(mcName == '') {
      errMC += 'Укажите Ваше имя\n';
    }
    if(mcMail == '') {
      errMC += 'Укажите Ваш E-mail\n';
    }
    
    if(errMC != '') {
      alert(errMC);
    } else {
      $.ajax({
        type:'POST',
        url: location.href,
        data:{mailChimp:1, mChName:mcName, mChMail:mcMail},
        success: function(e){
          $('.mailChMessW').slideUp(200);
          setTimeout(function(){
            $('.mailChMessW').html(e);
            $('.mailChMessW').slideDown(400);
          }, 201);
        }
      });
    }
    
  });
</script>
{/literal}
    <div class="mailChWrap">
      <div class="mailChTxt">Хотите получать свежие статьи о камне? Подпишитесь на нашу рассылку:</div>
      <div  class="pgSideZBtt mcSubsBtt">Подписаться</div>
      <div class="pgQLine">
        <div class="pgQLTxt">Ваше имя<span class="error">*</span></div>
        <div class="pgQLInpW">
          <div class="pgQLInp">
            <input type="text" class="" name="mcName">
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="pgQLine">
        <div class="pgQLTxt">Ваш E-mail<span class="error">*</span></div>
        <div class="pgQLInpW">
          <div class="pgQLInp">
            <input type="text" class="" name="mcMail">
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="mailChMessW"></div>
    </div>
  </div>
</div>

