{* шаблон страницы просмотра статьи *}

{assign var="preheader" value="<a href='`$smarty.const.ADMIN_FILE`?dpt=modules&amp;sub=articles&amp;edit=`$articles_full_array.AID`' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value=`$preheader``$articles_full_array.title`}{else}{assign var="postheader" value=$articles_full_array.title}{/if}

{include file="header.tpl.html" header=$postheader}

<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="cbt" align="left">{$smarty.const.ADMIN_DATE_ADDED}: {$articles_full_array.add_date}</td>
	<td class="cbt" align="right">
		{foreach key=key item=item from=$articlesCategoryPath  name=f}
			{if $smarty.foreach.f.iteration > 1}&nbsp;/&nbsp;{/if}
			<a href="index.php?articles=yes&select_categories={$key}">{$item}</a>
		{/foreach}
	</td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="left">
	  <!--table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="cl12"><b>{$articles_full_array.title}</b></td>
        </tr>
      </table-->
      <div class="fil"></div>{$articles_full_array.textToPublication}</td>
  </tr>
	<tr>
	  <td align="right" valign="top" width="100%">Автор:&nbsp;<i>{$articles_full_array.author}</i></a></td>
	</tr>  
</table>
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbot"><a href="index.php?articles=yes" class="inl">Показать все статьи</a></td>
  </tr>
</table>

{* обсуждений товаров *}

{if $articles_comment_array}
{include file="header.tpl.html" header="Комментарии"}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hmin" align="left">
      {section name=i loop=$articles_comment_array}
      {if $smarty.section.i.index ne 0}
      <div class="fil1 white"></div>
      {/if}
      <table cellspacing="1" cellpadding="0" width="100%" class="gre">
        <tr>
          <td class="lt padt" valign="middle" align="right" nowrap="nowrap">{$smarty.const.DISCUSSION_SUBJECT}:</td>
          <td width="99%" class="padt" align="left"><b>{$articles_comment_array[i].Topic}</b></td>
        </tr>
        <tr>
          <td class="lt padt" valign="middle" align="right" nowrap="nowrap">{$smarty.const.DISCUSSION_NICKNAME}:</td>
          <td width="99%" class="padt" align="left">{$articles_comment_array[i].Author}</td>
        </tr>
        <tr>
          <td class="lt padt" valign="middle" align="right" nowrap="nowrap">{$smarty.const.DISCUSSION_DATE}:</td>
          <td width="99%" class="padt" align="left">{$articles_comment_array[i].add_time}</td>
        </tr>
        <tr>
          <td class="lt padt" valign="middle" align="right" nowrap="nowrap">{$smarty.const.DISCUSSION_BODY}:</td>
          <td width="99%" class="padt" align="left">{$articles_comment_array[i].Body}</td>
        </tr>
        {if $isadmin eq "yes"}
        <tr>
          <td class="padt" valign="middle" align="right" nowrap="nowrap">&nbsp;</td>
          <td width="99%" class="padt" align="left"><a href="index.php?fullarticles={$articles_full_array.AID}&amp;remove_comment={$articles_comment_array[i].id}">{$smarty.const.DISCUSSION_DELETE_POST_LINK}</a></td>
        </tr>
        {/if}
      </table>
      {/section}
      </td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbot">&nbsp;</td>
  </tr>
</table>
{/if}
{include file="header.tpl.html" header="Добавить комментарий"}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="left"> {if $error ne NULL}
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td class="error cattop" align="center">{if $error eq 7}{$smarty.const.ERR_WRONG_CCODE}{else}{$smarty.const.FEEDBACK_ERROR_FILL_IN_FORM}{/if}</td>
        </tr>
      </table>
      {/if}
      <form action="index.php?fullarticles={$articles_full_array.AID}" method=post name="formD" id="formD">
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td>{$smarty.const.DISCUSSION_NICKNAME}</td>
          </tr>
          <tr>
            <td style="height: 2px;"></td>
          </tr>
          <tr>
            <td><input type="text" name="nick" maxlength="80" style="width: 220px;" value="{$comment_nic}"></td>
          </tr>
          <tr>
            <td style="height: 6px;"></td>
          </tr>
          <tr>
            <td>{$smarty.const.DISCUSSION_SUBJECT}</td>
          </tr>
          <tr>
            <td style="height: 2px;"></td>
          </tr>
          <tr>
            <td><input type="text" name="topic" maxlength="200" style="width: 220px;" value="{$comment_subject}"></td>
          </tr>
          <tr>
            <td style="height: 6px;"></td>
          </tr>
          <tr>
            <td>{$smarty.const.DISCUSSION_BODY}</td>
          </tr>
          <tr>
            <td style="height: 2px;"></td>
          </tr>
          <tr>
            <td><textarea name=body style="width: 360px; height: 100px;">{$comment_text}</textarea></td>
          </tr>
          {if $smarty.const.CONF_ENABLE_CONFIRMATION_CODE eq 1}
          <tr>
            <td style="height: 6px;"></td>
          </tr>
          <tr>
            <td><img src="index.php?do=captcha&amp;{php}echo session_name();{/php}={php}echo session_id();{/php}" alt="code"></td>
          </tr>
          <tr>
            <td style="height: 2px;"></td>
          </tr>
          <tr>
            <td><input name="fConfirmationCode" value="{$smarty.const.STR_ENTER_CCODE}" type="text" style="width: 220px; color: #aaaaaa;" onfocus="if(this.value=='{$smarty.const.STR_ENTER_CCODE}')
                        {literal}
                        {this.style.color='#000000';this.value='';}
                        {/literal}" onblur="if(this.value=='')
                        {literal}{{/literal}this.style.color='#aaaaaa';this.value='{$smarty.const.STR_ENTER_CCODE}'{literal}}{/literal}"></td>
          </tr>
          {/if}
          <tr>
            <td><input type="hidden" name="add_coment" value="yes"></td>
          </tr>
        </table>
      </form></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbot"><a href="#" onclick="validate_disc(this); return false">{$smarty.const.POST_BUTTON}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" onclick="document.getElementById('formD').reset(); return false">{$smarty.const.RESET_BUTTON}</a></td>
  </tr>
</table>

