{* шаблон страницы списка новостей *}

{assign var="preheader" value="<a href='/`$smarty.const.ADMIN_FILE`?dpt=modules&amp;sub=news' title='`$smarty.const.EDIT_BUTTON`' style='float: right;'>+</a>"}
{if $isadmin eq "yes"}{assign var="postheader" value="`$preheader`Новости компании"}{else}{assign var="postheader" value='Новости компании'}{/if}
<div class="pgNewsPage">{include file="header.tpl.html" header=$postheader}</div>


<div class="pgCatCats">
           <a class="ctsPoint " href="/blog/">Блог о камне</a>
          <a class="ctsPoint " href="/diary/">Производственный дневник</a>
          <a class="ctsPoint slct" href="/company/">Новости компании</a>
      <div class="clear"></div>
</div>
{literal}
<script type="text/javascript">
$(window).load(function(){
  $('.pgNCOneNew').each(function(){
    chImg = $(this).find('.pgNCONContent').find('img').length;
    chIPar = $(this).find('.pgNCONContent').find('img').closest('.pgSGImg').length;
    imContain = $(this).find('.pgNCONImg');
    imContainL = $(this).find('.pgNCONImg a');
    if (chImg > 0 && chIPar < 1) {
      $(this).find('.pgNCONContent img:first').prependTo(imContainL);
    } else {
      $(imContain).hide();
      $(this).find('.pgNCONInfo').css('width','100%');
    }
  });
});
</script>
{/literal}

{if $pre_company_array}
<div class="pgNewsCentr">
  {section name=u loop=$pre_company_array }
    <div class="pgNCOneNew first">
      <div class="pgNCONImg">
        <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$pre_company_array[u].alias|m_company}{else}index.php?fullnews={$pre_company_array[u].NID}{/if}" ></a>
        <div class="pgShadowL">
          <div class="pgShadowR">
            <div class="pgShadowC"></div>
          </div>
        </div>
      </div>
      <div class="pgNCONInfo">
        
        <div class="pgNCONHeadW">
        <div class="pgNCONHead">
          <div class="vert">
            <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$pre_company_array[u].alias|m_company}{else}index.php?fullnews={$pre_company_array[u].NID}{/if}" >{$pre_company_array[u].title}</a>
          </div><div class="vert_hlp"></div>
        </div>
        </div>
        <div class="pgNCONDate">
          <span>{$pre_company_array[u].add_date|date_format:"%d"}</span>
          {$pre_company_array[u].add_date|date_format:"%B"|lower|replace:"январь":"января"|replace:"февраль":"февраля"|replace:"март":"марта"|replace:"апрель":"апреля"|replace:"май":"мая"|replace:"июнь":"июня"|replace:"июль":"июля"|replace:"август":"августа"|replace:"сентябрь":"сентября"|replace:"октябрь":"октября"|replace:"ноябрь":"ноября"|replace:"декабрь":"декабря"|replace:"january":"января"|replace:"february":"февраля"|replace:"march":"марта"|replace:"april":"апреля"|replace:"may":"мая"|replace:"june":"июня"|replace:"july":"июля"|replace:"august":"августа"|replace:"september":"сентября"|replace:"october":"октября"|replace:"november":"ноября"|replace:"december":"декабря"}
        </div>
        <div class="clear"></div>
      <div class="pgNCONContent">
        {$pre_company_array[u].textToPrePublication}
      </div>
      <div class="pgNCONMore"><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$pre_company_array[u].alias|m_company}{else}index.php?fullnews={$pre_company_array[u].NID}{/if}">{$smarty.const.MORE_INFO_ON_PRODUCT}</a></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  {/section}
</div>





{* постраничная навигация *}
{if $company_navigator}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="cattop" align="center">{$company_navigator}</td>
  </tr>
</table>
{/if}


{* //постраничная навигация *}
{else}
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="center">{$smarty.const.STRING_NO_NEWS}</td>
  </tr>
</table>
{/if}

