.gallery {
	&__black {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		z-index: 500;
		opacity: 0;
		transition: opacity .5s;
		&_active {
			opacity: 1;
		}
	}
	&__controls {
		// background-color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
	}
	&__close {
		position: absolute;
		right: 100px;
		top: 0;
		width: 40px;
		height: 30px;
		background-color: rgba(0,0,0,.5);
		color: #aeb5b9;
		font-size: 36px;
		padding-top: 46px;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: #fff;
		}
	}
	&__item {
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 100%;
		max-height: 100%;
		display: inline-block;
		opacity: 0;
		transform: translateY(-50%);
		z-index: 10;
		&_active {
			opacity: 1;
			z-index: 15;
		}
	}
	&__right,
	&__left {
		position: absolute;
		top: 50%;
		height: 50px;
		width: 50px;
		background-color: rgba(0,0,0,.5);
		border-radius: 50%;
		&:after {
			content: "";
			position: absolute;
			left: 17px;
			top: 17px;
			width: 13px;
			height: 13px;
			border-top: 2px solid #aeb5b9;
			border-right: 2px solid #aeb5b9;
		}
	}
	&__left {
		left: 70px;
		&:after {
			left: 20px;
			transform: rotate(-135deg);
		}
	}
	&__right {
		right: 70px;
		&:after {
			left: 14px;
			transform: rotate(45deg);
		}
	}
	&__left:hover:after,
	&__right:hover:after {
		border-color: #fff;
	}
	&__alt {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		opacity: 1;
		transition: opacity .4s;
		z-index: 50;
		&-text {
			width: 700px;
			margin: 45px auto;
		}
		&_hide {
			opacity: 0;
		}
	}
}