.write {
	
	&__line {
		margin: 20px 0 5px; 
	}
	&__back {
		position: absolute;
		left: 100px;
		top: 0;
		font-size: 12px;
		font-weight: 900;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		&:hover {
			color: #b69c64;
		}
		&:after {
			content: "";
			display: inline-block;
			width: 9px;
			height: 6px;
			margin: 0px 0 2px 5px;
			background: url(../img/ico/arrow-top_black.png) no-repeat 0 0;
		}
	}
	&__x {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 40px;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: #b69c64;
		}
	}
	&__content {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 650px;
		font-size: 14px;
		line-height: 20px;
		opacity: 0;
		transition: opacity .4s;
		
		&_show {
			opacity: 1;
		}
		& h1  {
			margin-bottom: 15px;
		}
	}
	&__errortext {
		color: #ff0000;
		font-size: 14px;
		margin: 5px 0;
		display: none;
	}
	&__form {
		margin: 10px 0 0;
	}
	&__input {
		height: 35px;
		width: 276px;
		margin-right: 42px;
		background: none;
		border: none;
		border-bottom: 2px dotted #999;
		outline: none;
		color: #b69c64;
		font-weight: 700;
		font-size: 14px;
		&::-webkit-input-placeholder {color:#999;}
		&::-moz-placeholder          {color:#999;}
		&:-moz-placeholder           {color:#999;}
		&:-ms-input-placeholder      {color:#999;}
		&_err {
			border-bottom-color: #f96a43;
			&::-webkit-input-placeholder {color:#f96a43;}
			&::-moz-placeholder          {color:#f96a43;}
			&:-moz-placeholder           {color:#f96a43;}
			&:-ms-input-placeholder      {color:#f96a43;}
		}
		
		&:focus {
		}
	}
	&__textarea {
		margin-top: 25px;
		width: 600px;
		resize: none;
		height: 35px;
		line-height: 20px;
		font-weight: 500;
		&_hid {
			position: absolute;
			top: 0;
			left: -50000px;
			width: 600px;
			line-height: 20px;
			font-weight: 500;
		}
	}
	&__submit {
		margin-top: 20px;
		color: #fff;
		background-color: #000;
		width: 248px;
		height: 40px;
		line-height: 38px;
		vertical-align: middle;
		border: none;
		font-weight: 900;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}
}