.blog {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	
	&__image {
		float: left;
		width: 160px;
		height: 160px;
		background-size: cover;
		& img {
			max-width: 160px;
			height: auto;
		}
	}
	&__desc {
		margin-left: 190px;
		font-size: 14px;
		line-height: 22px;
		&-title {
			font-weight: 900;
			text-transform: uppercase;
			color: #000;
			text-decoration: none;
			&:hover {
				color: #b69c64;
			}
		}
		&-date {
			margin: 8px 0 5px;
		}
	}
	&__year {
		position: relative;
		margin: 10px 50px 20px 0;
		height: 0;
		border-bottom: 1px dotted #9d9d9d;
		&-num {
			position: absolute;
			right: -50px;
			top: -10px;
			height: 20px;
			line-height: 20px;
			vertical-align: middle;
			text-align: right;
			font-size: 12px;
			font-weight: 700;
		}
	}
	&__aside {
		width: 360px;
		border: 2px solid #b69c64;
		padding: 18px;
		& .blog__image {
			width: 100%;
			float: none;
			& img {
				width: 100%;
				max-width: 100%;
			}
		}
		& .blog__desc {
			margin: 20px 0 0;
		}
	}
}
.page__aside .blog__image {
	 height: auto;
}