{* шаблон блока статей *}

{if $articles_array}
<div align="left">
Последние статьи:<br>
  {section name=k loop=$articles_array}
  {if $smarty.section.k.index ne 0}<br><br>{/if}<b>{$articles_array[k].add_date}<br>
  <a href="/blog/articles_{$articles_array[k].AID}.html">{$articles_array[k].title}</a></b><br>
  {$articles_array[k].textToPrePublication|truncate:125} 
  {/section}<br><br>
</div>
{/if}