{* шаблон блока авторизации *}

{if $isadmin eq "yes"}
<a href="/{$smarty.const.ADMIN_FILE}">{$smarty.const.ADMINISTRATE_LINK}</a>
<div class="fil1"></div>
<a href="/index.php?user_details=yes">{$smarty.const.MY_ACCOUNT_LINK}</a>
<div class="fil1"></div>
<a href="/index.php?logout=yes">{$smarty.const.LOGOUT_LINK}</a>
{elseif $log ne ""}
<a href="/index.php?user_details=yes">{$smarty.const.MY_ACCOUNT_LINK}</a>
<div class="fil1"></div>
<a href="/index.php?logout=yes">{$smarty.const.LOGOUT_LINK}</a>
{else}
<form action="index.php" method=post id="userform">
  <table cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td align="left">{$smarty.const.CUSTOMER_LOGIN}</td>
    </tr>
    <tr>
      <td align="left"><input type="text" name="user_login" class="inbr" style="width: 108px; margin-top: 2px;"></td>
    </tr>
    <tr>
      <td style="padding-top: 6px;" align="left">{$smarty.const.CUSTOMER_PASSWORD}</td>
    </tr>
    <tr>
      <td align="left"><table cellspacing="0" cellpadding="0" style="margin-top: 2px;">
          <tr>
            <td valign="middle" align="left"><input style="width: 108px;" name="user_pw" type="password" class="inbr"></td>
            <td valign="middle" align="left" style="padding-left: 4px;"><div align="center">
                <table cellspacing="0" cellpadding="0" class="fsttab">
                  <tr>
                    <td><table cellspacing="0" cellpadding="0" class="sectb">
                        <tr>
                          <td><a href="#" onclick="document.getElementById('userform').submit(); return false">{$smarty.const.BUTTON_ENTER_AUTH}</a></td>
                        </tr>
                      </table></td>
                  </tr>
                </table>
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td align="left"><br>
        <a href="/index.php?register=yes">{$smarty.const.REGISTER_LINK}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/index.php?logging=yes">{$smarty.const.FORGOT_PASSWORD_LINK}</a></td>
    </tr>
  </table>
  <input type="hidden" name="enter" value="1">
</form>
{/if}