{* шаблон блока развернутого дерева категорий *}

{if $big_categories_tree && $big_categories_tree_count>0}
<div align="left">
  {section name=h loop=$big_categories_tree}
  {if $big_categories_tree[h].categoryID != 1}
  <table cellspacing="0" cellpadding="0">
    <tr class="dtree">
	  {section name=j loop=$big_categories_tree max=$big_categories_tree[h].level}
      <td><img src="/data/{$smarty.const.TPL}/pixel.gif" alt="" align="left" width="8" height="10"></td>
      {/section}
      <td class="dtree">{if $smarty.const.CONF_SHOW_COUNTPROD eq 1}<span style="float:right">&nbsp;&nbsp;{$big_categories_tree[h].products_count}</span>{/if}<a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$big_categories_tree[h].categoryID|m_Cat}{else}index.php?categoryID={$big_categories_tree[h].categoryID}{/if}" {if $categoryID == $big_categories_tree[h].categoryID}class="bf"{/if}>{$big_categories_tree[h].name}</a></td>
    </tr>
  </table>
  {if $smarty.section.h.index ne $big_categories_tree_count-1}
  <div style="background: url('data/{$smarty.const.TPL}/pix_horiz_b.gif') repeat-x top left;"><img src="/data/{$smarty.const.TPL}/pixel.gif" alt="" width="100%" height="1"></div>
  {/if}
  {/if}
  {/section}
</div>
{else}
<div align="center">{$smarty.const.STRING_NO_CATEGORIES}</div>
{/if}


{* ниже закомментирован альтернативный блок категорий с картинками *}
{*
{if $big_categories_tree && $big_categories_tree_count>0}
<div align="left">
  {section name=h loop=$big_categories_tree}
  {if $big_categories_tree[h].categoryID != 1}
  <table cellspacing="0" cellpadding="0">
    <tr class="dtree">
	  {section name=j loop=$big_categories_tree max=$big_categories_tree[h].level}
      <td class="dtfon">{if $smarty.section.j.index==$big_categories_tree[h].level-1}<img src="/data/{$smarty.const.TPL}/join.gif" alt="" align="left">{else}<img src="/data/{$smarty.const.TPL}/line.gif" alt="" align="left">{/if}</td>
      {/section}
      <td><img src="/data/{$smarty.const.TPL}/tree1.gif" alt="" align="left"></td>
      <td class="dtree">{if $smarty.const.CONF_SHOW_COUNTPROD eq 1}<span style="float:right">&nbsp;&nbsp;{$big_categories_tree[h].products_count}</span>{/if}<a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$big_categories_tree[h].categoryID|m_Cat}{else}index.php?categoryID={$big_categories_tree[h].categoryID}{/if}" {if $categoryID == $big_categories_tree[h].categoryID}class="bf"{/if}>{$big_categories_tree[h].name}</a></td>
    </tr>
  </table>
  {/if}
  {/section}
</div>
{else}
<div align="center">{$smarty.const.STRING_NO_CATEGORIES}</div>
{/if}
*}