{* шаблон страницы списка статей
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="hdbtop" align="left">
		{section name=j loop=$a_view_categories}
			<div>
				{section name=foo start=1 loop=$a_view_categories[j].level step=1}&nbsp;&nbsp;&nbsp;&nbsp;{/section}
				<a href="index.php?articles=yes&select_categories={$a_view_categories[j].id}">{$a_view_categories[j].name}</a>
			</div>
		{/section}
	</td>
  </tr>
</table>
 *}
