{* шаблон блока дерева категорий *}

{if $categories_tree && $categories_tree_count>1}
<div class="pgCatalW">
<div class="pgCatalShBott">
<div class="pgCatalShTop">
  {section name=h loop=$categories_tree}
  {if $categories_tree[h].parent == 1}
	<div class="pgCatalPointW">
		<div class="pgCatalPoint">
			<a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$categories_tree[h].categoryID|m_Cat}{else}index.php?categoryID={$categories_tree[h].categoryID}{/if}" {if $categoryID == $categories_tree[h].categoryID}class="bf"{/if}>{$categories_tree[h].name}</a>
		</div>
	</div>
  
  {/if}
  {/section}
 {if $mPrice}
  <a href="/{$mPrice.pPath}" class="pgPriceDwn" target="_blank">{$mPrice.pName}</a>
 {/if}
</div>
</div>
</div>
{else}
<div align="center">{$smarty.const.STRING_NO_CATEGORIES}</div>
{/if}
