{* шаблон блока выбора шаблонов *}

{$smarty.const.STRING_SELECT_TPL}<br>
<form action="" method="post" name="varioform" id="varioform">
  <select name="change_design" onchange="document.getElementById('varioform').submit(); return false">{$variodesign}</select>
</form>