{* шаблон блока информации о состоянии папки сравнения товаров *}

<div align="center" id="cprbox"> 
{if $compare_value > 0}
{$smarty.const.STRING_COMPARISON_IN} {$compare_value} {$smarty.const.CART_CONTENT_NOT_EMPTY}
  <div style="padding-top: 10px;" align="center">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
		  <table cellspacing="0" cellpadding="0" class="fsttab">
            <tr>
              <td>
			    <table cellspacing="0" cellpadding="0" class="sectb">
                  <tr>
                    <td><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}compare.html{else}index.php?comparison_products=yes{/if}">{$smarty.const.STRING_COMPARISON_INFOLDER}</a></td>
                  </tr>
                </table>
			  </td>
            </tr>
          </table></td>
        <td>&nbsp;&nbsp;</td>
        <td><table cellspacing="0" cellpadding="0" class="fsttab">
            <tr>
              <td>
			    <table cellspacing="0" cellpadding="0" class="sectb">
                  <tr>
                    <td><a href="#" onclick="doLoadcprCL('do=compare&amp;clear=yes'); return false">{$smarty.const.STRING_COMPARISON_CLEAR}</a></td>
                  </tr>
                </table>
			  </td>
            </tr>
          </table></td>
      </tr>
    </table>
  </div>
{else}{$smarty.const.STRING_COMPARISON_IN} {$smarty.const.CART_CONTENT_EMPTY}{/if} 
</div>