{* шаблон блока курсов валют *}

{section name=v loop=$currencies}
{if $currencies[v].CID eq $current_currency}{assign var="curidentifer" value=$smarty.section.v.index}{/if}
{/section}
{if $currencies_count ne 0}
<div align="left">
{section name=v loop=$currencies}
{assign var="curidval" value=$currencies[v].currency_value/$currencies[$curidentifer].currency_value}
{if $currencies[v].CID ne $current_currency}1 {$currencies[$curidentifer].currency_iso_3} = {$curidval|truncate:6:'':true} {$currencies[v].currency_iso_3}<div class="fil1"></div>{/if}
{/section}
</div>
{/if}