{literal}
<script type="text/javascript">
	$(window).load(function(){
		posFilt = $(".pgFCatWrapp").offset().top;
		winScroll = $(window).scrollTop();
		if (posFilt < winScroll) {
			nPos = winScroll - posFilt;
			$('.pgFCatWr').animate({'top':nPos}, 600);
		} else {
			$('.pgFCatWr').css('top',0);
		}
		
	});
	$(window).scroll(function(){
		posFilt = $(".pgFCatWrapp").offset().top;
		winScroll = $(window).scrollTop();
		if (posFilt < winScroll) {
			nPos = winScroll - posFilt;
			$('.pgFCatWr').css('top',nPos);
		} else {
			$('.pgFCatWr').css('top',0);
		}
	});
</script>

{/literal}

<link rel="stylesheet" href="/data/{$smarty.const.TPL}/chosen.css">
<div class="pgFCatWrapp">
<div class="pgFCatWr">
<div class="pgFCatBg">
  <form name="AdvancedSearchInCategory" method="get" action="/index.php" id="AdvancedSearchInCategory">
    <input type='hidden' name='categoryID' value='{$categoryID}'>
    
    
	
	
	
    {if $params}
    {section name=i loop=$params}
		{if $params[i].optionID == 5}
		
{literal}
<script type="text/javascript">
function doColor(select) {
	link = $(select).val();
	if(link != '') {
		location.href = link;
	}
}
</script>
{/literal}
		<div class="pgFCColors">
			<div class="pgFCNname">
				Поиск камня по цвету:
			</div>
			<div class="pgFCNSell">
			{*
				<select class="chosen-select" data-placeholder="Выбрать цвет" onchange="$('#AdvancedSearchInCategory').submit();" name='param_{$params[i].optionID}'>
					<option value="">Выбрать...</option>
				  {section name=j loop=$params[i].variants}   
				  <option rel="{$params[i].variants[j].set}" value='{$params[i].variants[j].variantID}' {if $params[i].variants[j].set == 'checked'}selected{/if}>{$params[i].variants[j].value|default:""}</option>
				  {/section}
			  
				</select>	
			*}
				<select class="chosen-select" data-placeholder="Выбрать цвет" onchange="doColor(this);" name='param_{$params[i].optionID}'>
					<option value="">Выбрать...</option>
				  {section name=j loop=$params[i].variants}   
				  <option rel="{$params[i].variants[j].set}" value='/{$smarty.get.colorCatAlias}{$params[i].variants[j].link}/' {if $params[i].variants[j].set == 'checked'}selected{/if}>{$params[i].variants[j].value|default:""}</option>
				  {/section}
			  
				</select>		
			</div>	
			<div class="clear"></div>
		</div>
		
		{/if}
    {/section}
    {/if}
	
	
	{if $fSerachNames}
		<div class="pgFCNames">
			<div class="pgFCNname">
				Поиск камня по названию:
			</div>
			<div class="pgFCNSell">
				<select name="search_name" data-placeholder="Выбрать название" onchange="$('#AdvancedSearchInCategory').submit();" class="chosen-select" id="">
					<option value="">Выбрать...</option>
				  {section name=j loop=$fSerachNames}   
				  <option value='{$fSerachNames[j].name}' {if $fSerachNames[j].name == $smarty.get.search_name}selected{/if}>{$fSerachNames[j].name}</option>
				  {/section}
				</select>		
			</div>	
			<div class="clear"></div>
		</div>
	{/if}
	<div class="clear"></div>
	
	
    <div style="display:none">{if $show_subcategory_checkbox}
    	{if $show_subcategories_products}
    	<input type="hidden" value='1' name='search_in_subcategory'>
    	{else}
    	<div class="fil"></div>
    	<table cellspacing="0" cellpadding="0">
    	  <tr>
    	    <td valign="middle"><input type="checkbox" class="radio" value='1' name='search_in_subcategory' {if $search_in_subcategory}checked{/if}></td>
    	    <td valign="middle"> {$smarty.const.STRING_SEARCH_IN_SUBCATEGORIES}</td>
    	  </tr>
    	</table>
    	{/if}
    	{/if}
    <div align="left">
      <table cellspacing="0" cellpadding="0" class="fsttab">
        <tr>
          <td>
		    <table cellspacing="0" cellpadding="0" class="sectb">
              <tr>
                <td><a href="#" onclick="validate_search(this); return false">{$smarty.const.VIEW_BUTTON}</a></td>
              </tr>
            </table>
		  </td>
        </tr>
      </table>
    </div>
	</div>
    
	
    <input type=hidden value='1' name='advanced_search_in_category'>
  </form>
  
  
  <script src="/data/{$smarty.const.TPL}/js/chosen.jquery.js" type="text/javascript"></script>
{literal}
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{/literal}  
</div>
</div>
</div>