{* шаблон фильтра товаров *}

<div align="left">
  <form name="AdvancedSearchInCategory" method="get" action="index.php" id="AdvancedSearchInCategory">
    <input type='hidden' name='categoryID' value='{$categoryID}'>
    {if $categories_to_select}
    <input type='hidden' name='search_with_change_category_ability' value='yes'>
    {else}
    <input type='hidden' name='search' value='1'>
    {/if}
    {$smarty.const.STRING_NAME}<br>
    <input type="text" name="search_name" style="width: 150px; margin-top: 2px;" value="{$search_name|default:""}">
    <div class="fil"></div>
    {$smarty.const.STRING_PRODUCT_PRICE}<br>
    <table cellspacing="0" cellpadding="0" style="margin-top: 2px;">
      <tr>
        <td valign="middle">{$smarty.const.STRING_PRICE_FROM}
          <input name="search_price_from" type="text" style="width: 40px;" value="{$search_price_from|default:""}" >
          {$smarty.const.STRING_PRICE_TO}
          <input name="search_price_to" type="text" style="width: 40px;" value="{$search_price_to|default:""}" > {$priceUnit}</td>
      </tr>
    </table>
    {if $params}
    {section name=i loop=$params}
    <div class="fil"></div>
    <div style="margin-bottom: 2px;">{$params[i].name}</div>
    {if $params[i].controlIsTextField eq 1}
    <input type="text" style="width: 150px;" name='param_{$params[i].optionID}' value='{$params[i].value|default:""}'>
    {else}
    <select name='param_{$params[i].optionID}'>
      <option value='0'>{$smarty.const.STRING_UNIMPORTANT}</option>
	  
	  {section name=j loop=$params[i].variants}   
      <option value='{$params[i].variants[j].variantID}' {if $params[i].value == $params[i].variants[j].variantID}selected{/if}>{$params[i].variants[j].value|default:""}</option>
	  {/section}
  
    </select>
    {/if}
    {/section}
    {/if}
    {if $show_subcategory_checkbox}
    {if $show_subcategories_products}
    <input type="hidden" value='1' name='search_in_subcategory'>
    {else}
    <div class="fil"></div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td valign="middle"><input type="checkbox" class="radio" value='1' name='search_in_subcategory' {if $search_in_subcategory}checked{/if}></td>
        <td valign="middle"> {$smarty.const.STRING_SEARCH_IN_SUBCATEGORIES}</td>
      </tr>
    </table>
    {/if}
    {/if}
    <div class="fil"></div>
    <div class="fil"></div>
    <div align="left">
      <table cellspacing="0" cellpadding="0" class="fsttab">
        <tr>
          <td>
		    <table cellspacing="0" cellpadding="0" class="sectb">
              <tr>
                <td><a href="#" onclick="validate_search(this); return false">{$smarty.const.VIEW_BUTTON}</a></td>
              </tr>
            </table>
		  </td>
        </tr>
      </table>
    </div>
    <input type=hidden value='1' name='advanced_search_in_category'>
  </form>
</div>