<div class="statForm">
<div class="statFormHead">Отправить запрос или заявку на участие в тренинге</div>
<form id="pQuest2" name="pQuest2" action="">
	<div class="pgQLine2">
		<div class="pgQLTxt">Ваше имя<span class="error">*</span></div>
		<div class="pgQLInp2">
			<input type="text" class="import" name="name">
		</div>
		<div class="clear"></div>
	</div>
	<div class="pgQLine2">
		<div class="pgQLTxt">Телефон или e-mail<span class="error">*</span></div>
		<div class="pgQLInp2">
			<input type="text" class="import" name="mailPhone">
		</div>
		<div class="clear"></div>
	</div>
	<div class="pgQLine2">
		<div class="pgQLTxt">Сообщение</div>
		<div class="pgQLInp2 area">
			<textarea id="" name="qBody"></textarea>
		</div>
		<div class="clear"></div>
	</div>
	<div class="sendQ2">Отправить</div>
	<div class="clear"></div>
</form>
</div>