<div class="pgPageInfo">
	<div class="pgPIOneW">
		<div class="pgPIOInfo">2006</div>
		<div class="pgPIOLine"></div>
		<div class="pgPIOTxt">Год основания<br>компании</div>
	</div>
	<div class="pgPIOneW">
		<div class="pgPIOInfo">12000 м<sup>2</sup></div>
		<div class="pgPIOLine"></div>
		<div class="pgPIOTxt">В месяц<br>производительная<br>мощность</div>
	</div>
	<div class="pgPIOneW">
		<div class="pgPIOInfo">$10.5 млн.</div>
		<div class="pgPIOLine"></div>
		<div class="pgPIOTxt padd">Продажи в 2013</div>
	</div>
	<div class="pgPIOneW">
		<div class="pgPIOInfo">9000 м<sup>2</sup></div>
		<div class="pgPIOLine"></div>
		<div class="pgPIOTxt padd">Площадь цехов</div>
	</div>
	<div class="clear"></div>
</div>
<div class="pgShadowLBig"><div class="pgShadowRBig"><div class="pgShadowCBig"></div></div></div>