{if $diary_array}


{literal}
<script type="text/javascript">
	$(window).load(function(){
		chImg = $('.pgNDnCont').find('img').length;
		if (chImg > 0) {
			$('.pgNDnCont img:first').prependTo('.pgNDnImgW a');
		} 
	});
</script>
{/literal}

<div class="pgLastDnevW">
  {section name=u loop=$diary_array max=1}
	<div class="pgNDnImg">
		<div class="pgNDnImgW">
			 <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$diary_array[u].alias|m_Diary}{else}index.php?fullnews={$diary_array[u].NID}{/if}"></a>
		</div>
	</div>
	<div class="pgNDnName">
		 <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$diary_array[u].alias|m_Diary}{else}index.php?fullnews={$diary_array[u].NID}{/if}">{$diary_array[u].title}</a>
	</div>
	<div class="pgNDnCont">
		{$diary_array[u].textToPrePublication}
	</div>
  
 
  {/section}
  <div class="pgNDnAllNews">
	<a href="/diary/">Еще записи</a>
  </div>
</div>
{/if}
