{if $news_array}


{literal}
<script type="text/javascript">
	$(window).load(function(){
		chImg = $('.pgNIBCont').find('img').length;
		if (chImg > 0) {
			$('.pgNIBCont img:first').prependTo('.pgNIBImgW a');
		} 
	});
</script>
{/literal}

<div class="pgLastInBlogW">
  {section name=u loop=$news_array max=1}
	<div class="pgNIBImg">
		<div class="pgNIBImgW">
			 <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$news_array[u].alias|m_News}{else}index.php?fullnews={$news_array[u].NID}{/if}"></a>
		</div>
	</div>
	<div class="pgNIBName">
		 <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$news_array[u].alias|m_News}{else}index.php?fullnews={$news_array[u].NID}{/if}">{$news_array[u].title}</a>
	</div>
	<div class="pgNIBCont">
		{$news_array[u].textToPrePublication}
	</div>
  
 
  {/section}
  <div class="pgNIBAllNews">
	<a href="/blog/">Еще статьи</a>
  </div>
</div>
{/if}
