{* шаблон блока обзора новостей *}

{literal}
<script type="text/javascript">
  $(window).load(function(){
    chImg = $('.pgNCONContent').find('img').length;
    if (chImg > 0) {
      $('.pgNCONContent img:first').prependTo('.pgNCONImg a');
    } else {
      $('.pgNCONImg').hide();
      $('.pgNCOneNew.first').find('.pgNCONInfo').css('width','100%');
    }
  });
</script>
{/literal}
{if $news_home}
<div class="pgNewsCentr">
  {section name=u loop=$news_home max=4}
    <div class="pgNCOneNew {if $smarty.section.u.index == 0}first{/if}">
{if $smarty.section.u.index == 0}
      <div class="pgNCONImg">
        <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$news_home[u].link}{else}index.php?fullnews={$news_home[u].NID}{/if}" ></a>
        <div class="pgShadowL">
          <div class="pgShadowR">
            <div class="pgShadowC"></div>
          </div>
        </div>
      </div>
{/if}
      <div class="pgNCONInfo">
        
        <div class="pgNCONHeadW">
        <div class="pgNCONHead">
          <div class="vert">
            <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$news_home[u].link}{else}index.php?fullnews={$news_home[u].NID}{/if}" >{$news_home[u].title}</a>
          </div><div class="vert_hlp"></div>
        </div>
        </div>
        <div class="pgNCONDate">
          <span>{$news_home[u].add_date|date_format:"%d"}</span>
          {$news_home[u].add_date|date_format:"%B"|lower|replace:"january":"января"|replace:"январь":"января"|replace:"february":"февраля"|replace:"февраль":"февраля"|replace:"march":"марта"|replace:"март":"марта"|replace:"april":"апреля"|replace:"апрель":"апреля"|replace:"may":"мая"|replace:"май":"мая"|replace:"june":"июня"|replace:"июнь":"июня"|replace:"july":"июля"|replace:"июль":"июля"|replace:"august":"август"|replace:"август":"августа"|replace:"september":"сентября"|replace:"сентябрь":"сентября"|replace:"october":"октября"|replace:"октябрь":"октября"|replace:"november":"ноября"|replace:"ноябрь":"ноября"|replace:"december":"декабря"|replace:"декабрь":"декабря"}
        </div>
        <div class="clear"></div>
{if $smarty.section.u.index == 0}
      <div class="pgNCONContent">
        {$news_home[u].textToPrePublication}
      </div>
      <div class="pgNCONMore"><a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}{$news_home[u].link}{else}index.php?fullnews={$news_home[u].NID}{/if}">{$smarty.const.MORE_INFO_ON_PRODUCT}</a></div>
{/if}
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  {/section}
  <div class="pgNCAll"><a href="/blog/">Все новости</a></div>
</div>

{else}
<div align="center">{$smarty.const.STRING_NO_NEWS}</div>
{/if}