{literal}
<script type="text/javascript">
function chPort(select){
	sVal = $(select).val();
	if(sVal != '') {
		$.ajax({
			type:'POST',
			url: location.href,
			data:{pCounterTb:1, getCitiesPort:sVal},
			success: function(e){
				$('.pCity').html(e);
				$('.pMat').find('select').attr('disabled','disabled');
				$('.pFin').find('select').attr('disabled','disabled');
				$('.vgPrice').text('0');
				$('.cntPrice').text('0');
			}
		});
	} else {
		$('.pCity').find('select').attr('disabled','disabled');
		$('.pMat').find('select').attr('disabled','disabled');
		$('.pFin').find('select').attr('disabled','disabled');
		$('.vgPrice').text('0');
		$('.cntPrice').text('0');
	}
}
function chCity(select){
	sVal = $(select).val();
	portVal = $('.pPort').find('select').val();
	//console.log(sVal);
	if(sVal != '') {
		
		$.ajax({
			type:'POST',
			url: location.href,
			data:{pCounterTb:1, getMatCity:sVal, portVal:portVal},
			success: function(e){
			  
				console.log(e);
			
				$('.pMat').html(e);
				$('.pFin').find('select').attr('disabled','disabled');
				$('.vgPrice').text('0');
				$('.cntPrice').text('0');
			}
		});
	} else {
		
		$('.pMat').find('select').attr('disabled','disabled');
		$('.pFin').find('select').attr('disabled','disabled');
		$('.vgPrice').text('0');
		$('.cntPrice').text('0');
	}
}
function chMat(select){
	sVal = $(select).val();
	portVal = $('.pPort').find('select').val();
	ctVal = $('.pCity').find('select').val();
	if(sVal != '') {
		$.ajax({
			type:'POST',
			url: location.href,
			data:{pCounterTb:1, getFinMat:sVal, portVal:portVal, ctVal:ctVal},
			success: function(e){
				$('.pFin').html(e);
				$('.vgPrice').text('0');
				$('.cntPrice').text('0');
			}
		});
	} else {
		
		$('.pFin').find('select').attr('disabled','disabled');
		$('.vgPrice').text('0');
		$('.cntPrice').text('0');
	}
}
function chFin(select){
	sVal = $(select).val();
	portVal = $('.pPort').find('select').val();
	ctVal = $('.pCity').find('select').val();
	matVal = $('.pMat').find('select').val();
	if(sVal != '') {
		$.ajax({
			type:'POST',
			url: location.href,
			data:{pCounterTb:1, getPriceFin:sVal, portVal:portVal, ctVal:ctVal, matVal:matVal},
			success: function(e){
				vagV = (e.split('@@'))[0];
				cntV = (e.split('@@'))[1];
				$('.vgPrice').text(vagV);
				$('.cntPrice').text(cntV);
			}
		});
	} else {
		$('.vgPrice').text('0');
		$('.cntPrice').text('0');
	}
}
</script>
{/literal}

<div class="pgPriceCounter">
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>Порт отгрузки: </td>
			<td class="pPort">
				<select name="pPort" onchange="chPort(this)">
					<option value="">Выбрать</option>
				{section name=i loop=$pcPort}
					<option value="{$pcPort[i].id}">{$pcPort[i].name}</option>
				{/section}
				</select>
			</td>
		</tr>
		<tr>
			<td>Город назначения: </td>
			<td class="pCity"><select name="" id="" disabled="disabled"><option value="">Выбрать</option></select></td>
		</tr>
		<tr>
			<td>Материал: </td>
			<td class="pMat"><select name="" id="" disabled="disabled"><option value="">Выбрать</option></select></td>
		</tr>
		<tr>
			<td>Обработка: </td>
			<td class="pFin"><select name="" id="" disabled="disabled"><option value="">Выбрать</option></select></td>
		</tr>
		
	</table>
	<table class="resTB" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>Цена за вагон:</td>
			<td>Цена за контейнер:</td>
		</tr>
		<tr>
			<td><span class="vgPrice">0</span> USD</td>
			<td><span class="cntPrice">0</span> USD</td>
		</tr>
	</table>
</div>