{if $reviewsTrain}

		<div class="br_news_slider rTrainBar">
        
             <div class="prev"></div>
           <div class="next" style="display: block;"></div>
		    
            <div class="br_news_items">
                <a name="skip_to_news_1"></a>
                <div class="br_container fl">
{section loop=$reviewsTrain name=t}
	<div class="br_item fl">
		{if $reviewsTrain[t].rType == 'train'}
		<div class="pgRevtrainW">
			<div class="pgRevtrain">
				<div class="pgRevTrComp">{$reviewsTrain[t].rCompany}</div>
				<div class="pgRevTrName">{$reviewsTrain[t].rName}</div>
				<div class="pgRevTrTxt">{$reviewsTrain[t].rText}</div>
			</div>
		</div>
	{elseif $reviewsTrain[t].rType == 'trainV'}
		<div class="pgCompVW">
			<div class="pgRevCompV">
				<div class="pgRevCompVTxt">
					{$reviewsTrain[t].rText}
					<div class="pgShadowL"><div class="pgShadowR"><div class="pgShadowC"></div></div></div>
				</div>
				<div class="pgRevTrComp">{$reviewsTrain[t].rCompany}</div>
				<div class="pgRevTrName">{$reviewsTrain[t].rName}</div>
			</div>
		</div>
	{/if}
	</div>
{/section}   
				</div>
            </div>
        </div>
{literal}

<script type="text/javascript">
$(window).load(function(){


// ---- News Slider -----
$(".rTrainBar").accessNews({
    newsHeadline: "Разные новости",
    newsSpeed: "normal"
});
// ---- News Slider -----
});
</script>
{/literal}	
	
{/if}