{if $reviewsComp}

		<div class="br_news_slider rCompBar">
        
             <div class="prev"></div>
           <div class="next" style="display: block;"></div>
		    
            <div class="br_news_items">
                <a name="skip_to_news_1"></a>
                <div class="br_container fl">
{section loop=$reviewsComp name=t}
	<div class="br_item fl">
	{if $reviewsComp[t].rType == 'comp'}
		<div class="pgRevtrainW">
			<div class="pgRevtrain">
				<div class="pgRevTrComp">{$reviewsComp[t].rCompany}</div>
				<div class="pgRevTrName">{$reviewsComp[t].rName}</div>
				<div class="pgRevTrTxt">{$reviewsComp[t].rText}</div>
			</div>
		</div>
	{elseif $reviewsComp[t].rType == 'compV'}
		<div class="pgCompVW">
			<div class="pgRevCompV">
				<div class="pgRevCompVTxt">
					{$reviewsComp[t].rText}
					<div class="pgShadowL"><div class="pgShadowR"><div class="pgShadowC"></div></div></div>
				</div>
				<div class="pgRevTrComp">{$reviewsComp[t].rCompany}</div>
				<div class="pgRevTrName">{$reviewsComp[t].rName}</div>
			</div>
		</div>
	{/if}
	</div>
{/section}   
				</div>
            </div>
        </div>
{literal}

<script type="text/javascript">
$(window).load(function(){


// ---- News Slider -----
$(".rCompBar").accessNews({
    newsHeadline: "Разные новости",
    newsSpeed: "normal"
});
// ---- News Slider -----
});
</script>
{/literal}	
	
{/if}