{* шаблон блока поиска товаров *}

<form action="index.php" method="get" id="searchformblock">
  {section name=t loop=$searchstrings}
  <input type="hidden" name='search_string_{$smarty.section.t.index}' value='{$searchstrings[t]}'>
  {/section}
  <table cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td style="padding-right: 4px;" valign="middle"><input type="text" name="searchstring" style="width: 124px;" value="{$searchstring}"></td>
      <td valign="middle"><input type="image" src="/data/{$smarty.const.TPL}/srg.gif"></td>
    </tr>
    <tr>
      <td colspan="2" style="height: 4px;"></td>
    </tr>
    <tr>
      <td colspan="2" align="left">
	    <table cellspacing="0" cellpadding="0" align="left">
          <tr>
            <td valign="middle" align="left"><input type="checkbox" name="inside" {if $search_in_results}checked{/if}></td>
            <td valign="middle" style="padding-left: 4px;">{$smarty.const.STRING_SEARCH_IN_RESULTS}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="fil"></div>
  <a href="/{if $smarty.const.CONF_MOD_REWRITE eq 1}wide_search.html{else}index.php?search_with_change_category_ability=yes{/if}">{$smarty.const.ADVANCED_SEARCH_LINK}</a>
</form>