{* шаблон блока информации о посетителях online *}

<div align="left">
<b>{$smarty.const.STATBLOCK_NOWUSR}</b>
<div class="fil"></div>
{$smarty.const.STATBLOCK_NOWUSR_STRING}: {$online_users} {$smarty.const.ONLINE_USERS}<br><br>
<b>{$smarty.const.STATBLOCK_ALLVT}</b>
<div class="fil"></div>
{$smarty.const.STATBLOCK_ALLV}: {$online_usr1}<br>
{$smarty.const.STATBLOCK_ALLH}: {$online_usr2}<br><br>
<b>{$smarty.const.STATBLOCK_ALLHT}</b>
<div class="fil"></div>
{$smarty.const.STATBLOCK_ALLV2}: {$online_usr3}<br>
{$smarty.const.STATBLOCK_ALLH2}: {$online_usr4}
</div>