<div class="pgCatalW">
<div class="pgCatalShBott">
<div class="pgCatalShTop">
{section name=ml loop=$menu_pointsL}
  <div class="pgCatalPointW">
    <div class="pgCatalPoint">
      <a href="{$menu_pointsL[ml].link}" class="{if $menu_pointsL[ml].type == 'aux' and  $show_aux_page == $menu_pointsL[ml].type_point} bf {/if} {if $menu_pointsL[ml].type == 'cats' and  $smarty.get.categoryID == $menu_pointsL[ml].type_point} bf {/if} {if $menu_pointsL[ml].type == 'free' and  $smarty.server.REQUEST_URI == $menu_pointsL[ml].type_point} bf {/if}" >{$menu_pointsL[ml].anchor}</a>
    </div>
  </div>
{/section}
  
</div>
</div>
</div>
