<div class="pgWhyWe">
	<div class="pgWWBlock">
		<a href="#" class="pgWWBLink proiz">
			Собственное<br>
			производство
		</a>
	</div>
	<div class="pgWWBlock">
		<a href="#" class="pgWWBLink manager">
			Русскоязычные<br>
			менеджеры
		</a>
	</div>
	<div class="pgWWBlock">
		<a href="#" class="pgWWBLink kontrol">
			Контроль качества
		</a>
	</div>
	<div class="pgWWBlock">
		<a href="#" class="pgWWBLink shipping">
			Доставка “Под ключ”<br>
			в любой город России
		</a>
	</div>
	<div class="pgWWBlock">
		<a href="#" class="pgWWBLink exlusive">
			 Экслюзивные<br>
			камни
		</a>
	</div>
	<div class="clear"></div>
</div>